{% extends 'base/app-bloques.twig' %}

{% set page_title = 'Área de Talleres de Lenguaje y Comunicación' %}

{% block content %}

<div class="bg-verde py-2 container-fluid  josh-js" data-josh-anim-name="bounceInDown">
    <div class="container">
        <h2 class="titulo__pantalla">{{page_title}}</h2>
    </div>
</div>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="" href="{{base_path()}}bloques/recursos">Recursos para aprender</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{page_title}}</li>
        </ol>
    </nav>
</div>
    <div class="container josh-js" data-josh-anim-name="fadeInUp">
        <div class="row mt-5">
            <div class="col-md-12">
                <h1>¿Qué se aprende?</h1>
            </div>
        </div>
    </div>
    <div class="container josh-js" data-josh-anim-name="fadeInUp">
        <div class="row mt-3">
            <div class="col-md-10 mx-auto">
                <p>Tu lengua materna, el español, es objeto de estudio desde que iniciaste tu escolaridad, te has preguntado <strong>¿por qué se enseña la lengua materna si es algo que ya sabes?</strong> Es válido preguntarse por qué hasta en los programas de bachillerato mencionan que te enseñarán a comunicarte en tu propia lengua. Si está comprobado que tú sabes hablar y escribir, entonces <strong>¿por qué la enseñanza de la lengua?</strong></p>
                <p>Resulta que el español, una de las lenguas más habladas del mundo, tiene una forma estándar; en ella se redactan documentos oficiales (como leyes) y se produce literatura que podemos entender los más de <strong>483 millones</strong> de hablantes de español que estamos distribuidos en 30 países del orbe.</p>
            </div>
        </div>
    </div>
<div class="container-fluid my-5 josh-js" data-josh-anim-name="fadeInUp">
    <div class="row">
        <div class="col-lg-11 mx-auto">
          <div class="row justify-content-between align-items-center">
            <div class="col-lg-5">
              <p class="enfasis rosa">Autores latinoamericanos galardonados por el premio Nobel de Literatura que han hecho del español una de las lenguas más leídas y traducidas por todo el mundo.</p>
            </div>
            <div class="col-lg-6">
                <div class="row">
                  <div class="col-6 col-lg-4">
                     <img class="img-fluid" alt="CCH" src="/img/bloque3/b3_03_02.jpg">
                     <div class="blockquote-footer mx-auto text-center">Mario Vargas Llosa (Perú), premio Nobel de Literatura 2010</div>
                  </div>
                  <div class="col-6 col-lg-4">
                     <img class="img-fluid" alt="CCH" src="/img/bloque3/b3_03_03.jpg">
                     <div class="blockquote-footer mx-auto text-center">Octavio Paz (México), premio Nobel de Literatura 1990</div>
                  </div>
                  <div class="col-6 col-lg-4">
                     <img class="img-fluid" alt="CCH" src="/img/bloque3/b3_03_04.jpg">
                     <div class="blockquote-footer mx-auto text-center">Gabriel García Márquez (Colombia), premio Nobel de Literatura 1982</div>
                  </div>

                  <div class=" col-6 col-lg-4">
                     <img class="img-fluid" alt="CCH" src="/img/bloque3/b3_03_05.jpg">
                     <div class="blockquote-footer mx-auto text-center">Pablo Neruda (Chile), premio Nobel de Literatura 1971</div>
                  </div>
                  <div class="col-6 col-lg-4">
                     <img class="img-fluid" alt="CCH" src="/img/bloque3/b3_03_07.jpg">
                     <div class="blockquote-footer mx-auto text-center">Miguel Ángel Asturias (Guatemala), premio Nobel de Literatura 1967</div>
                  </div>
                  <div class="col-6 col-lg-4">
                     <img class="img-fluid" alt="CCH" src="/img/bloque3/b3_03_06.jpg">
                     <div class="blockquote-footer mx-auto text-center">Gabriela Mistral (Chile), premio Nobel de Literatura 1945</div>
                  </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
<div class="bg-morado mt-5 mb-5 container-fluid josh-js" data-josh-anim-name="fadeInUp">
    <div class="container">
        <div class="p-2 text-white lead">
            <i class="fas fa-film" aria-hidden="true"></i>
            &nbsp;&nbsp; Ahora observa este video y reflexiona: ¿cuál es tu palabra favorita de la lengua en que expresas tus ideas, tus pensamientos, tus emociones?</div>
    </div>
</div>
<div class="container josh-js" data-josh-anim-name="fadeInUp">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cNk7TaqPt_k " allowfullscreen="allowfullscreen"></iframe>
            </div>
            <div class="blockquote-footer">
                INSTITUTO CERVANTES BRUSELAS (2018). <em>Día E ¿Cuál es tu palabra favorita?</em> Recuperado de https://www.youtube.com/watch?v=cNk7TaqPt_k (julio, 2022).
            </div>
        </div>

    </div>
</div>
<div class="container mt-5 josh-js" data-josh-anim-name="fadeInUp">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <p>La propuesta de los Talleres de Lectura, Redacción e Iniciación a la Investigación Documental no es enseñarte a hablar, pues es algo que tú ya sabes hacer, sino darte las herramientas para expresarte de forma efectiva en el plano oral y escrito, tanto en tu vida cotidiana como en la vida académica. Por otro lado, se busca fomentar el hábito de la lectura de textos literarios porque en la visión del Colegio se procura formar un sujeto que sepa apreciar obras artísticas mediante el goce estético.</p>
        <p>El programa del CCH está diseñado para que trabajes de forma integral las cuatro habilidades comunicativas básicas: <strong>hablar, escuchar, escribir y leer</strong>, ya que se considera que éstas no están desvinculadas: al leer estás incrementando tu vocabulario y adquiriendo nuevas expresiones, incluso, estás asimilando la ortografía sin necesidad de memorizar las reglas como se hacía en la enseñanza tradicional. En toda tu vida académica estarás leyendo diferentes tipos de texto, en varias materias se te requerirá la entrega de informes escritos o realizarás exposiciones. Para ello necesitas ciertas estrategias de lectura y escritura.</p>
      </div>
    </div>
</div>
<div class=" container-fluid absoluto d-none d-md-block josh-js" data-josh-anim-name="fadeInUp">
  <div class="row color-fondo-objeto d-flex justify-content-center">
      <div class="col-4">
      <img class="img-fluid" alt="CCH" src="/img/bloque3/b3_03_01.png">
      </div>
  </div>
</div>
<div class="bg-rosa text-white container-fluid josh-js" data-josh-anim-name="fadeInUp">
    <div class="row p-3 text-center">
        <div class="col-lg-11 mx-auto">
            <div class=" text-white lead w-100">A continuación te presentamos algunas preguntas que te puedes hacer para armar tus propias estrategias de estudio y algunos materiales que podrás consultar cuando los necesites.</div>
            <div class="text-white d-none d-xl-block mt-3 w-100">
                <i aria-hidden="true" class=" far fa-2x fa-arrow-alt-circle-down"></i>
            </div>
        </div>
    </div>
</div>
<div class="container josh-js" data-josh-anim-name="fadeInUp">
    <div class="row mt-3">
        <div class="col-12">
            <div class="accordion mt-4" id="acordeon1">
                <div class="card">
                    <div class="card-header" id="headingOne">

                        <a class=" text-left" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapseOne">
                            ¿Existe una forma correcta de hablar? ¿Cuál es la diferencia entre hablar y escribir?
                        </a>

                    </div>

                    <div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#acordeon1">
                        <div class="card-body">
                            <p>El lenguaje varía dependiendo del contexto, es decir, adaptas tu lenguaje al lugar en el que lo empleas; a esto se denomina “registro lingüístico” (coloquial, técnico y formal). Revisa el siguiente material donde se habla más al respecto:</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <i class="fas fa-long-arrow-alt-right azul" aria-hidden="true"></i>
                                    <a href="https://e1.portalacademico.cch.unam.mx/alumno/tlriid2/unidad1/viciosyerrores/registrolinguistico" target="_blank">Registros del lenguaje</a>
                                </li>
                            </ul>

´
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <a class="collapsed" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapseTwo">
                                ¿Cómo expones tus ideas a otros?
                            </a>
                        </h2>
                    </div>
                    <div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#acordeon1">
                        <div class="card-body">
                            <p>Muchas veces cuando explicas un tema o emites una opinión es necesario que tus ideas estén organizadas adecuadamente, que no se contradigan entre sí y que el lenguaje que utilices sea comprensible, esto te ayudará a transmitir tu mensaje eficazmente. A continuación te presentamos algunos materiales que se relacionan con esto:</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <i class="fas fa-long-arrow-alt-right azul" aria-hidden="true"></i>
                                    <a href="http://portalacademico.cch.unam.mx/alumno/tlriid1/unidad1/narracionesEscritas/alnarrar" target="_blank">Narraciones escritas</a>
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-long-arrow-alt-right azul" aria-hidden="true"></i>
                                    <a href="http://portalacademico.cch.unam.mx/alumno/tlriid4/unidad5/presentaciondeltrabajo/apoyoAudiovisual" target="_blank" class="ligos">Presentaciones orales</a>
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-long-arrow-alt-right azul" aria-hidden="true"></i>
                                    <a href="http://portalacademico.cch.unam.mx/alumno/tlriid2/unidad1/textosmodelo/textoArgumentativo" target="_blank" class="ligos">Texto argumentativo</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <a class="collapsed" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapseThree">
                                ¿Cuál es la diferencia entre oír y escuchar?
                            </a>
                        </h2>
                    </div>
                    <div id="collapse3" class="collapse" aria-labelledby="headingThree" data-parent="#acordeon1">
                        <div class="card-body">
                            <p>Muchas veces las palabras “oír” y “escuchar” son utilizadas como sinónimos cuando en realidad no significan lo mismo. Todo el tiempo estás oyendo lo que pasa a tu alrededor pero sólo escuchas aquello que te interesa. Verás más de este proceso en los materiales que se presentan a continuación:</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <i class="fas fa-long-arrow-alt-right azul" aria-hidden="true"></i>
                                    <a href="http://portalacademico.cch.unam.mx/alumno/tlriid1/unidad2/escuchaAtenta/escuchaDirigida" target="_blank" class="ligos">Escucha atenta y dirigida</a>
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-long-arrow-alt-right azul" aria-hidden="true"></i>
                                    <a href="http://portalacademico.cch.unam.mx/alumno/tlriid4/unidad5/presentaciondeltrabajo/escucharAtender" target="_blank" class="ligos">Escuchar y atender</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h2 class="mb-0">
                            <a class="collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapseFour">
                                ¿Cuál es la diferencia entre hablar y escribir?
                            </a>
                        </h2>
                    </div>
                    <div id="collapse4" class="collapse" aria-labelledby="headingFour" data-parent="#acordeon1">
                        <div class="card-body">
                            <p>Al hablar organizamos de algún modo nuestras ideas, sin embargo el proceso de pensar lo que vamos a decir es casi automático. Al escribir se llevan a cabo otro tipo de procesos de organización del lenguaje. A continuación se presentan materiales que pueden ayudarte a diferenciar el habla de la escritura:</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <i class="fas fa-long-arrow-alt-right azul" aria-hidden="true"></i>
                                    <a href="http://portalacademico.cch.unam.mx/alumno/tlriid1/unidad2/dialogo/oralidadYescritura" target="_blank" class="ligos">Oralidad y escritura</a>
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-long-arrow-alt-right azul" aria-hidden="true"></i>
                                    <a href="http://portalacademico.cch.unam.mx/alumno/tlriid1/unidad1/textooralvsescrito/introduccion " target="_blank" class="ligos">Lectura/Escritura</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFive">
                        <h2 class="mb-0">
                            <a class="collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapseFive">
                                ¿Sabes escribir?
                            </a>
                        </h2>
                    </div>
                    <div id="collapse5" class="collapse" aria-labelledby="headingFive" data-parent="#acordeon1">
                        <div class="card-body">
                            <p>Seguramente contestaste afirmativamente, pues escribir es una actividad que ha estado presente durante toda tu vida escolar. Escribir, como muchas de las actividades que realizas tiene que ver con la práctica, entre más lo hagas, mejores resultados obtendrás. Escribir es un proceso que nunca termina. En el nivel bachillerato es necesario que hagas un esfuerzo mayor por organizar adecuadamente tus ideas, lo que te ayudará a analizar textos, comprenderlos, explicar tus ideas y argumentarlas. Puedes consultar el siguiente material para lograrlo:</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <i class="fas fa-long-arrow-alt-right azul" aria-hidden="true"></i>
                                    <a href="http://portalacademico.cch.unam.mx/alumno/tlriid2/unidad2/operacionesTextuales/actividadFinal" target="_blank" class="ligos">Resumen, paráfrasis y cita textual</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingSix">
                        <h2 class="mb-0">
                            <a class="collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapseSix">
                                ¿Para qué te sirve identificar los tipos de texto que existen? ¿Es lo mismo escribir una carta al director que a tu amigo(a)?
                            </a>
                        </h2>
                    </div>
                    <div id="collapse6" class="collapse" aria-labelledby="headingSix" data-parent="#acordeon1">
                        <div class="card-body">
                            <p>Conocer los diferentes tipos de texto te ayudará, por un lado, a identificar la intención que éstos tienen: informar, convencer, contar una historia, o dar a conocer una opinión. Por otro lado, te permite conocer cuáles son las posibilidades que tienes para escribir tus propios textos de tal modo que los otros reciban tu mensaje y lo comprendan. Revisa los siguientes materiales para que conozcas algunos de los tipos de textos que existen:</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <i class="fas fa-long-arrow-alt-right azul" aria-hidden="true"></i>
                                    <a href="http://portalacademico.cch.unam.mx/alumno/tlriid2/unidad1/textosmodelo/tiposDeTextos" target="_blank" class="ligos">Tipos de texto</a>
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-long-arrow-alt-right azul" aria-hidden="true"></i>
                                    <a href="http://portalacademico.cch.unam.mx/alumno/tlriid1/unidad5/textoExpositivo/textoExpositivoII" target="_blank" class="ligos">Texto expositivo</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSeven">
                        <h2 class="mb-0">
                            <a class="collapsed" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapseSeven">
                                 ¿Qué aspectos tienes que considerar al escribir un texto?
                            </a>
                        </h2>
                    </div>
                    <div id="collapse7" class="collapse" aria-labelledby="headingSeven" data-parent="#acordeon1">
                        <div class="card-body">
                            <p>En ocasiones tendrás que escribir textos para alguna de las asignaturas o simplemente necesitarás redactar una carta a una persona de autoridad, un correo o incluso un mensaje de texto a un amigo. Para esto tienes que tomar en cuenta diferentes aspectos del texto, por ejemplo: pensar sobre qué vas a escribir, cuál es tu propósito y a quién va dirigido, o si debes revisar otras fuentes de información. En los siguientes materiales podrás encontrar información que te ayude en el proceso de escritura (antes, durante y después):</p>
                            <p class="morado lead">Antes</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <i class="fas fa-long-arrow-alt-right azul" aria-hidden="true"></i>
                                    <a href="http://portalacademico.cch.unam.mx/alumno/tlriid2/unidad1/perspectiva/introduccion" target="_blank" class="ligos">Uso de la primera, segunda y tercera persona al escribir</a>
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-long-arrow-alt-right azul" aria-hidden="true"></i>
                                    <a href="http://portalacademico.cch.unam.mx/alumno/tlriid1/unidad1/escritura-destinatario/introduccion" target="_blank" class="ligos">Escritura/Destinatario</a>
                                </li>
                            </ul>
                            <p class="morado lead">Durante</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <i class="fas fa-long-arrow-alt-right azul" aria-hidden="true"></i>
                                    <a href="http://portalacademico.cch.unam.mx/alumno/tlriid2/unidad3/fichasTrabajo" target="_blank" class="ligos">Etapas de la escritura</a>
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-long-arrow-alt-right azul" aria-hidden="true"></i>
                                    <a href="http://portalacademico.cch.unam.mx/alumno/tlriid2/unidad3/correcciondetextos/propiedadesdeltexto" target="_blank" class="ligos">Coherencia, cohesión y adecuación</a>
                                </li>
                            </ul>
                            <p class="morado lead">Después</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <i class="fas fa-long-arrow-alt-right azul" aria-hidden="true"></i>
                                    <a href="http://portalacademico.cch.unam.mx/alumno/tlriid2/unidad3/correcciondetextos/revisionycorreccion" target="_blank" class="ligos">La importancia de revisar y corregir un texto</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingEight">
                        <h2 class="mb-0">
                            <a class="collapsed" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapseEight">
                                ¿Cómo lees? ¿Todos los textos se leen igual?
                            </a>
                        </h2>
                    </div>
                    <div id="collapse8" class="collapse" aria-labelledby="headingEight" data-parent="#acordeon1">
                        <div class="card-body">
                            <p>Ya que existen diferentes tipos de texto, la manera en que éstos se leen es distinta. No es lo mismo leer una nota en el periódico que una novela, o el correo de la tarea que te envía el profesor. Dependiendo del tipo de texto se requieren diversas habilidades, por ejemplo, en un poema es necesario utilizar determinado tipo de entonación y ritmo para que la intención del texto se transmita adecuadamente. Los materiales que se presentan a continuación abordan estas cuestiones:</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <i class="fas fa-long-arrow-alt-right azul" aria-hidden="true"></i>
                                    <a href="http://portalacademico.cch.unam.mx/alumno/tlriid2/unidad4/comprensionPoemas/introduccion" target="_blank" class="ligos">Comprensión de poemas</a>
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-long-arrow-alt-right azul" aria-hidden="true"></i>
                                    <a href="http://portalacademico.cch.unam.mx/alumno/tlriid2/unidad4/comprensionPoemas/actividadFinal" target="_blank" class="ligos">Cómo leer un poema</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingNine">
                        <h2 class="mb-0">
                            <a class="collapsed" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapseNine">
                                ¿Tengo que leer todo siempre?
                            </a>
                        </h2>
                    </div>
                    <div id="collapse9" class="collapse" aria-labelledby="headingNine" data-parent="#acordeon1">
                        <div class="card-body">
                            <p>No. Eso depende de para qué requieras la lectura. Por ejemplo, si vas a hacer una investigación y quieres saber cuáles textos te servirán, necesitas hacer una lectura exploratoria, que es aquella en la que sólo debes observar atentamente los títulos, las imágenes, los pies de foto, etcétera; con el propósito de generar ideas previas sobre el tema que se abordará. Para identificarlos revisa el siguiente material:</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <i class="fas fa-long-arrow-alt-right azul" aria-hidden="true"></i>
                                    <a href="http://portalacademico.cch.unam.mx/alumno/tlriid1/unidad3/lecturaExploratoria/" target="_blank" class="ligos">Lectura exploratoria</a>
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-long-arrow-alt-right azul" aria-hidden="true"></i>
                                    <a href="http://portalacademico.cch.unam.mx/alumno/tlriid2/unidad2/operacionesTextuales/resumen/ejercicio1" target="_blank" class="ligos">Ejemplo</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTen">
                        <h2 class="mb-0">
                            <a class="collapsed" type="button" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapseTen">
                                ¿Qué temas te gustan en la literatura? Descúbrelo e intégrate a un círculo de lectores
                            </a>
                        </h2>
                    </div>
                    <div id="collapse10" class="collapse" aria-labelledby="headingTen" data-parent="#acordeon1">
                        <div class="card-body">
                            <p><strong>Descúbrelo e intégrate a un círculo de lectores</strong></p>
                            <p>Existen diferentes géneros literarios a los que te puedes acercar. Dentro de los géneros que están escritos en prosa (como el cuento o la novela) puedes elegir temas como: ciencia ficción, terror, aventuras y viajes, etc. En el siguiente material te ofrecemos una clasificación por temas:</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <i class="fas fa-long-arrow-alt-right azul" aria-hidden="true"></i>
                                    <a href="https://portalacademico.cch.unam.mx/alumno/tlriid4/unidad1/circuloLectores" target="_blank" class="ligos">Círculo de lectores</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container josh-js" data-josh-anim-name="fadeInUp">
    <div class="row mt-5">
        <div class="col-lg-12">

            <!-- CUSTOM BLOCKQUOTE -->
            <div class="blockquote blockquote-custom p-5 effect-1 rounded">
                <div class="blockquote-custom-icon bg-azul shadow-sm text-white">
                    <i class="far fa-2x fa-grin-stars" aria-hidden="true"></i>

            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="morado">¿Qué recursos tienes a tu disposición para estudiar Talleres de Lectura, Redacción e Iniciación a la Investigación Documental (TLRIID)?</h1>
                    <div class="pl-3">
                        <p class="morado">En los siguientes sitios podrás apoyarte para realizar tus tareas en investigaciones de la materia de TLRIID durante tu estancia en el CCH.</p>
                        <hr class="dotted">
                        <p>TLRIID en el Portal Académico del Colegio - El sitio de casa, en él encontrarás todos los materiales de TLRIID conforme los Planes y Programas de Estudio.</p>
                        <ul>
                            <li><a href="https://portalacademico.cch.unam.mx/alumno/tlriid1" target="_blank" class="ligos">Taller de Lectura y Redacción 1</a></li>
                            <li><a href="https://portalacademico.cch.unam.mx/alumno/tlriid2" target="_blank" class="ligos">Taller de Lectura y Redacción 2</a></li>
                            <li><a href="https://portalacademico.cch.unam.mx/alumno/tlriid3" target="_blank" class="ligos">Taller de Lectura y Redacción 3</a></li>
                            <li><a href="https://portalacademico.cch.unam.mx/alumno/tlriid4" target="_blank" class="ligos">Taller de Lectura y Redacción 4</a></li>
                        </ul>
                        <p><a href="http://www.materialdelectura.unam.mx/" target="_blank" class="ligos">Material de lectura</a> - Conoce esta página de la Dirección de Literatura UNAM y descubre los mejores cuentos y poemas de escritores contemporáneos ¡No querrás dejar de leerlos!</p>
                        <p><a href="http://www.objetos.unam.mx/literatura/puntuacion/index.html" target="_blank" class="ligos">Apoyo académico para la Educación Media Superior en la UNAM</a> - Encontrarás una forma muy entretenida y con un diseño atractivo para resolver diversos ejercicios de puntuación.</p>
                        <p><a href="http://bibliotecadigital.ilce.edu.mx/index.php/cafe-literario" target="_blank" class="ligos">Biblioteca digital del ILCE</a> - En esta página encontrarás una vasta biblioteca sobre clásicos de la literatura universal.</p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- END -->

        </div>
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="row minh-100">
        <div class="col-12 ">
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-lg flex-wrap justify-content-center">
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/recursos/matematicas"><i class="fas fa-angle-double-left"></i></a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/recursos"><i class="fas fa-level-up-alt"></i></a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/recursos/ciencias-experimentales">1</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/recursos/matematicas">2</a></li>
                <li class="page-item active"><a class="page-link" href="{{base_path()}}bloques/recursos/talleres">3</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/recursos/historico-social">4</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/recursos/idiomas">5</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/recursos/historico-social"><i class="fas fa-angle-double-right"></i></a></li>
              </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}
