{% extends 'base/app-bloques.twig' %}

{% set page_title = 'Área de Idiomas' %}

{% block content %}

<div class="bg-verde py-2 container-fluid  josh-js" data-josh-anim-name="bounceInDown">
    <div class="container">
        <h2 class="titulo__pantalla">{{page_title}}</h2>
    </div>
</div>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="" href="{{base_path()}}bloques/recursos">Recursos para aprender</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{page_title}}</li>
        </ol>
    </nav>
</div>


    <div class="container josh-js" data-josh-anim-name="fadeInUp">
        <div class="row mt-5">
            <div class="col-md-12">
                <h1>¿Qué idiomas se aprenden en el CCH?</h1>
            </div>
        </div>
    </div>
    <div class="container josh-js" data-josh-anim-name="fadeInUp">
        <div class="row mt-3">
            <div class="col-md-10 mx-auto">
                <p>El aprendizaje de una segunda lengua (y en algunos casos de una tercera) te permitirá enriquecer tu vida social y cultural pues los idiomas van ligados al enriquecimiento cultural, además de acrecentar tus oportunidades laborales. En el mundo actual, hablar una única lengua extranjera no basta. Un alumno que habla varias lenguas multiplica sus oportunidades profesionales y académicas en su propio país y a nivel internacional. </p>
                <p>En cuanto a la enseñanza de lenguas extranjeras, el CCH se preocupa porque todos sus alumnos se inicien en los idiomas inglés y francés, porque son idiomas, además del español, que predominan en los intercambios de todo género y en la comunicación a través de las redes mundiales. </p>
                <p>Los idiomas impartidos en el CCH están vinculados con el <strong>Área de Talleres</strong> debido a que comparten el <em>Enfoque Comunicativo</em> y los propósitos generales: “El Área de Lenguaje y Comunicación debe hacer visibles las vías para comunicar información y apropiarse de ella, pero también para ir más allá… para pensar, modificar, transformar el propio conocimiento como parte de un continuo, ya que no existe una sola manera de ser lector, escucha o productor de textos orales o escritos” (<em>Orientación y Sentido de las Áreas, Área de Talleres de Lenguaje y Comunicación</em>, 2005:18). </p>
            </div>
        </div>
    </div>


<div class="bg-rosa text-white container-fluid josh-js" data-josh-anim-name="fadeInUp">
    <div class="row p-3 text-center">
        <div class="col-lg-11 mx-auto">
            <div class=" text-white lead w-100">Revisa las ventajas de dominar una segunda lengua</div>
            <div class="text-white d-none d-xl-block mt-3 w-100">
                <i aria-hidden="true" class=" far fa-2x fa-arrow-alt-circle-down"></i>
            </div>
        </div>
    </div>
</div>
<div class="container josh-js" data-josh-anim-name="fadeInUp">
    <div class="row mt-3">
        <div class="col-12">
            <div class="accordion mt-4" id="acordeon1">
                <div class="card">
                    <div class="card-header" id="headingOne">

                        <a class=" text-left" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapseOne">
                            ¿Es fácil de aprender? ¿Por qué?
                        </a>

                    </div>

                    <div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#acordeon1">
                        <div class="card-body">
                            <div class="row align-items-center">
                              <div class="col-lg-8">
                                <p>Desde el punto de vista de la escritura, estudiar inglés o francés siempre será más fácil que aprender chino, japonés o ruso, ya que no tienes que aprender otros sistemas de escritura como los ideogramas u otros alfabetos como el cirílico.</p>
                                <p>En el caso del inglés, aunque es una lengua que no está emparentada con el español, el contacto cultural (música, cine, etc.) hace que de alguna forma estemos familiarizados con ella, pero además su gramática no es muy compleja (por algunas lecciones de la secundaria habrás notado que, por ejemplo, el sistema verbal del español es más complicado que el del inglés).</p>
                                <p>Contrariamente a lo que muestran los clichés, el francés no es una lengua difícil. Es una lengua que exige una cierta precisión en su ortografía, pero su riqueza permite expresar una multitud de matices y después de algunas lecciones podrás darte cuenta que es una lengua dulce, melódica y romántica y te resultará sencillo comunicarte rápidamente en francés. También es fácil que aprendas a leerla por la cantidad de raíces en común que tiene con el español, ya que son lenguas emparentadas (ambas derivadas del latín).</p>
                              </div>
                              <div class="col-lg-4">
                                 <img class="img-fluid" alt="CCH" src="/img/bloque3/b3_05_01.jpg">
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <a class="collapsed" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapseTwo">
                                Podrías irte de intercambio académico a…
                            </a>
                        </h2>
                    </div>
                    <div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#acordeon1">
                        <div class="card-body">
                            <div class="row align-items-center">
                              <div class="col-lg-8">
                                  <p>Aprender una lengua internacional aumenta tus oportunidades de estudiar en el extranjero. Actualmente la UNAM tiene una gran variedad de convenios e intercambios con universidades anglófonas o francófonas.</p>
                                  <p>Al hablar inglés tendrás la posibilidad de estudiar en los Estados Unidos, en Inglaterra o en cualquier otra parte del mundo. Los alumnos que manejan inglés pueden acceder a becas para el estudio en el extranjero, como por ejemplo en el Campus UNAM de Canadá. </p>
                                  <p>Al hablar francés podrás aspirar a realizar estudios en Francia o Canadá, en universidades de prestigio (Sorbona, Universidad Pierre et Marie Curie, Universidad de Quebec, Universidad de Montreal, etc.) o en las grandes escuelas (HEC, Politécnica, ESSEC).</p>
                                  <p>Revisa las becas para el estudio de idiomas en la página de <a href="https://www.dgoserver.unam.mx/portaldgose/becas/htmls/BecaIdioma/BecaIdioma.html" target="_blank">DGOSE</a>.</p>
                              </div>
                              <div class="col-lg-4">
                                 <img class="img-fluid" alt="CCH" src="/img/bloque3/b3_05_02.jpg">
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <a class="collapsed" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapseThree">
                                Podrás escuchar y leer a músicos y autores como…
                            </a>
                        </h2>
                    </div>
                    <div id="collapse3" class="collapse" aria-labelledby="headingThree" data-parent="#acordeon1">
                        <div class="card-body">
                            <div class="row align-items-center">
                              <div class="col-lg-8">
                                  <p>Dominar francés o inglés te permite leer y comprender autores clásicos de  literatura como Charles Baudelaire, Honoré de Balzac, William Shakespeare o Edgar Allan Poe. También podrás cantar rock, pop, jazz o metal, géneros que han ganado muchísima fama en inglés.</p>
                              </div>
                              <div class="col-lg-4">
                                 <img class="img-fluid" alt="CCH" src="/img/bloque3/b3_05_03.jpg">
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h2 class="mb-0">
                            <a class="collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapseFour">
                                Podrás acceder a medios masivos de comunicación como…
                            </a>
                        </h2>
                    </div>
                    <div id="collapse4" class="collapse" aria-labelledby="headingFour" data-parent="#acordeon1">
                        <div class="card-body">
                            <div class="card-body">
                                <div class="row align-items-center">
                                  <div class="col-lg-8">
                                      <p>Comprender inglés y francés te permitirá mirar de otra forma el mundo, comunicándote con los anglófonos y francófonos de todos los continentes, además de informarte por medio de los grandes medios de comunicación internacionales como CNN, BBC, Radio France Internationale, Radio Canadá.</p>
                                      <p>Sin duda, una de las mejores experiencias es ver películas sin subtítulos. Así te deleitarás con películas como el “Le Fabuleux Destin de Amélie Poulain” o los clásicos “Lord of the Rings” y los episodios de “The Hobbit”.</p>
                                  </div>
                                  <div class="col-lg-4">
                                     <img class="img-fluid" alt="CCH" src="/img/bloque3/b3_05_04.jpg">
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFive">
                        <h2 class="mb-0">
                            <a class="collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapseFive">
                                Al aprender una segunda lengua adquieres más habilidades cognitivas
                            </a>
                        </h2>
                    </div>
                    <div id="collapse5" class="collapse" aria-labelledby="headingFive" data-parent="#acordeon1">
                        <div class="card-body">
                            <div class="row align-items-center">
                              <div class="col-lg-8">
                                  <p>De acuerdo con una investigación del London University College en la que estudiaron a 105 personas monolingües y 80 bilingües se llegó a la conclusión de que el dominio de una segunda lengua tiene un impacto positivo en el aprendizaje, la memoria, la concentración y el procesamiento de información. Aunque estos estudios se refieren a los llamados “bilingües de cuna”, personas que están en contacto con dos lenguas desde su nacimiento (la lengua del padre es una, la de la madre otra), es natural suponer que, al aprender otra lengua, un hablante monolingüe practica habilidades metalingüísticas y metacognitivas que ayudan al aprendizaje de la lengua materna y de la segunda lengua.</p>
                              </div>
                              <div class="col-lg-4">
                                 <img class="img-fluid" alt="CCH" src="/img/bloque3/b3_05_05.jpg">
                              </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingSix">
                        <h2 class="mb-0">
                            <a class="collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapseSix">
                                Tendrás más oportunidades de trabajo
                            </a>
                        </h2>
                    </div>
                    <div id="collapse6" class="collapse" aria-labelledby="headingSix" data-parent="#acordeon1">
                        <div class="card-body">
                            <div class="row align-items-center">
                              <div class="col-lg-8">
                                  <p>En el mundo globalizado del siglo XXI, el manejo de un segundo idioma podrá abrir las puertas para conseguir mejores empleos, ya que, en casi cualquier ámbito laboral, la comunicación con personas de otros países se ha vuelto algo cotidiano.</p>
                              </div>
                              <div class="col-lg-4">
                                 <img class="img-fluid" alt="CCH" src="/img/bloque3/b3_05_06.jpg">
                              </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" container-fluid absoluto d-none d-md-block josh-js" data-josh-anim-name="fadeInUp">
  <div class="row color-fondo-objeto d-flex justify-content-center">
      <div class="col-5">
      <img class="img-fluid" alt="CCH" src="/img/bloque3/b3_05_01.png">
      </div>
  </div>
</div>
<div class="container josh-js" data-josh-anim-name="fadeInUp">
    <div class="row mt-5">
        <div class="col-lg-10 mx-auto">
            <p>El Colegio de Ciencias y Humanidades te ofrece la oportunidad de estudiar inglés y francés en espacios que facilitan la interacción mediante las nuevas tecnologías con el profesor y tus compañeros de clase. Los cinco planteles del CCH cuentan con salones equipados, laboratorios multimedia, así como un centro de autoacceso o Mediateca dónde podrás mejorar el dominio del idioma extranjero de manera personalizada. Aprenderás el idioma de forma lúdica y creativa que te servirá para situaciones de la vida cotidiana o para tus actividades académicas. Al término de tus estudios podrás presentar un examen que te dará la oportunidad de obtener una certificación internacional.</p>
            <p class="rosa lead my-2">Asimismo, en el Colegio desarrollarás los siguientes conocimientos y habilidades: </p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <i class="fas fa-long-arrow-alt-right rosa" aria-hidden="true"></i>
                    Aprenderás a expresarte oralmente y por escrito en inglés o francés.
                </li>
                <li class="list-group-item">
                    <i class="fas fa-long-arrow-alt-right rosa" aria-hidden="true"></i>
                    Interactuarás con tus compañeros y otros mediante la lengua extranjera.
                </li>
                <li class="list-group-item">
                    <i class="fas fa-long-arrow-alt-right rosa" aria-hidden="true"></i>
                    Valorarás la lengua como un medio para manifestar tu identidad y para aprender a apreciar las aportaciones de otras culturas.
                </li>
            </ul>
        </div>
    </div>

</div>
<div class="container-fluid josh-js" data-josh-anim-name="fadeInUp">
    <div class="row mt-5">
        <div class="col-lg-10 mx-auto text-center">
            <p class="enfasis rosa mb-2">¿Qué recursos tienes a tu disposición para aprender inglés y francés?</p>
        </div>
    </div>

</div>
<div class=" container-fluid absoluto d-none d-md-block josh-js" data-josh-anim-name="fadeInUp">
  <div class="row mt-5 d-flex justify-content-end">
      <div class="col-md-11 col-lg-9 col-xl-9">
        <h1>Primero puedes revisar los materiales de <a href="https://portalacademico.cch.unam.mx/ingles1" target="_blank">Inglés 1 <i class="fas fa-hand-point-left"></i></a>, <a href="https://portalacademico.cch.unam.mx/ingles2" target="_blank">Inglés 2 <i class="fas fa-hand-point-left"></i></a> e <a href="https://portalacademico.cch.unam.mx/ingles3" target="_blank">Inglés 3 <i class="fas fa-hand-point-left"></i></a> en el Portal Académico</h1>
      </div>
  </div>
</div>
<div class=" container-fluid absoluto d-none d-md-block josh-js" data-josh-anim-name="fadeInUp">
  <div class="row color-fondo-objeto d-flex justify-content-end">
      <div class="col-md-8 col-lg-5 col-xl-5"><img class="img-fluid " alt="CCH" src="/img/bloque3/b3_05_02.png">
      </div>
  </div>
</div>
<div class="container-fluid my-5  d-none d-md-block josh-js" data-josh-anim-name="fadeInUp">
    <hr data-content="y después" class="hr-text mb-5">
</div>
<div class="container josh-js" data-josh-anim-name="fadeInUp">
            <!-- CUSTOM BLOCKQUOTE -->
            <div class="blockquote blockquote-custom p-5 effect-1 rounded">
                <div class="blockquote-custom-icon bg-azul shadow-sm text-white">
                    <i class="far fa-2x fa-grin-stars" aria-hidden="true"></i>

                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <h1 class="morado">Inglés</h1>
                        <div class="pl-3">
                            <hr class="dotted">
                            <!-- <p class="d-md-none"><a href="https://portalacademico.cch.unam.mx/ingles1" target="_blank" class="ligos">Inglés en el Portal Académico del Colegio</a> - El sitio de casa, en él encontrarás todos los materiales de Inglés conforme los Planes y Programas de Estudio.</p> -->
                            <!-- <p><a href="http://www.cuaed.unam.mx/english_media/" target="_blank" class="ligos">English Media</a> - Sitio de la Coordinación de Universidad Abierta y de Educación a Distancia, UNAM. Contiene ejercicios de las cuatro áreas de aprendizaje de inglés y actividades complementarias.</p> -->
                            <p><a href="http://www.bbc.co.uk/worldservice/learningenglish/" target="_blank" class="ligos">BBC Learning English</a> - Practica tu inglés en este sitio con las actividades que tiene preparadas para ti en gramática, vocabulario y pronunciación, además encontrarás videos y artículos muy interesantes.</p>
                            <p><a href="http://www.englishmedialab.com/" target="_blank" class="ligos">English Media Lab</a> - En esta página podrás encontrar ejercicios de acuerdo con tu grado escolar, pero lo mejor es que hay ejercicios de matemáticas en inglés, así, además de practicar esta lengua, aprendes matemáticas ¡Ideal si quieres estudiar una carrera de Ciencias Exactas!</p>
                            <p><a href="http://www.uefap.net/" target="_blank" class="ligos">Using English for Academic Purposes</a> - Sea cual sea la carrera que elijas estudiar, verás que será necesario que leas algunos textos en inglés, incluso muchas veces tendrás que escuchar conferencias en esta lengua. Este sitio te ayuda a prepararte para esos propósitos ¡No te lo pierdas!</p>
                            <p><a href="http://www.englishvocabularyexercises.com/" target="_blank" class="ligos">English Vocabulary Exercises</a> - Uno de los retos en el aprendizaje de una lengua es adquirir vocabulario para diversas actividades. En esta página encontrarás todo el que necesitas.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                            <h1 class="morado">Francés</h1>
                            <div class="pl-3">
                                <hr class="dotted">
                                <!-- <p><a href="http://www.bonjourdefrance.es/estudiar-frances-online/" target="_blank" class="ligos">Bonjour de France</a> -Un sitio entretenido en el que encontrarás ejercicios muy útiles, pero también, juegos, historia y por qué no… karaoke..</p> -->
                                <!-- <p><a href="http://www.tv5.org/cms/chaine-francophone/enseigner-apprendre-francais/Premiere-classe/p-2040-s0-z0-lg5-Apprendre-le-francais-en-ligne-avec-Premiere-classe.htm?&amp;pid=2040&amp;signal=null&amp;zone=null" target="_blank" class="ligos">TV5monde.org</a> - Encontrarás videos para diversas situaciones comunicativas para que aprendas un francés vivo y te prepares a usarlo en situaciones concretas.</p> -->
                                <p><a href="http://www.lemonde.fr/" target="_blank" class="ligos">Periódico Le Monde</a> - Practica tu francés leyendo uno de los periódicos más famosos del mundo.</p>
                                <p><a href="http://www.louvre.fr/" target="_blank" class="ligos">Museo Louvre</a> - Conoce algunas de las obras más impresionantes de la historia del arte como la Gioconda o las maravillas del arte egipcio en el museo más famoso del mundo.</p>
                                <p><a href="http://www.techno-science.net/?onglet=news&amp;news=11883" target="_blank" class="ligos">Techno-science.net</a> - Entre muchas otras cosas encontrarás artículos muy interesantes ¡No querrás dejar de leer en francés!</p>
                            </div>
                    </div>
                </div>

            </div>
            <!-- END -->
</div>

<div class="container-fluid mt-5">
    <div class="row minh-100">
        <div class="col-12 ">
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-lg flex-wrap justify-content-center">
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/recursos/historico-social"><i class="fas fa-angle-double-left"></i></a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/recursos"><i class="fas fa-level-up-alt"></i></a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/recursos/ciencias-experimentales">1</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/recursos/matematicas">2</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/recursos/talleres">3</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/recursos/historico-social">4</a></li>
                <li class="page-item active"><a class="page-link" href="{{base_path()}}bloques/recursos/idiomas">5</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/tic-aprender"><i class="fas fa-angle-double-right"></i></a></li>
              </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}
