{% extends 'base/app-bloques.twig' %}

{% set page_title = 'Área de Ciencias Experimentales' %}

{% block content %}

    <div class="bg-verde container-fluid py-3 wow bounceInDown">
        <div class="row">
            <div class="col-lg-4 d-md-none d-lg-block d-none d-sm-block d-sm-none d-md-block">
                <img class="img-fluid" alt="" src="/img/bloque3/bloquetres-int.png">
            </div>
            <div class="col-lg-7 col-md-12 mt-5">
                <h2 class="titulobloque">Recursos para aprender</h2>
                <div class="proposito mt-3"> El Colegio de Ciencias y Humanidades tiene un enfoque innovador que integra los conocimientos de varias disciplinas en cuatro áreas. En este bloque te presentamos una serie de recursos en línea para que aprendas de manera autónoma.</div>
                <ul class="preguntas mt-5 mb-5">
                    <li>
                        <i class="fas fa-long-arrow-alt-right "></i>
                        &nbsp;&nbsp; ¿Para qué estudiar Ciencias Experimentales?</li>
                    <li>
                        <i class="fas fa-long-arrow-alt-right"></i>
                        &nbsp;&nbsp; ¿Para qué las Matemáticas?</li>
                    <li>
                        <i class="fas fa-long-arrow-alt-right "></i>
                        &nbsp;&nbsp; ¿Para qué estudiar Historia y Ciencias Sociales? </li>
                    <li>
                        <i class="fas fa-long-arrow-alt-right "></i>
                        &nbsp;&nbsp; ¿Para qué los Talleres de Lenguaje y Comunicación?</li>
                    <li>
                        <i class="fas fa-long-arrow-alt-right "></i>
                        &nbsp;&nbsp; ¿Para qué aprender una lengua extranjera? </li>
                    <li>
                        <i class="fas fa-long-arrow-alt-right"></i>
                        &nbsp;&nbsp; ¿Qué es el Portal Académico?  </li>
                </ul>

            </div>
        </div>
        <div class="container text-center">
            <div class="enfasis morado">Descubre las respuestas y más a continuación...</div>
        </div>
    </div>
    <div class="container wow fadeInUp">
        <div class="row mt-5">
            <div class="col-12">
            <h1>¿Qué se aprende en el área de Ciencias Experimentales?</h1>
                <div class="row">
                  <div class="col-lg-10 mx-auto">
                    <p>El consumo de productos modificados genéticamente (transgénicos), la utilidad de invertir en una agencia espacial mexicana y el uso del maíz para generar biocombustibles en lugar de alimentos, entre otros, son temas controvertidos en los que la mayoría quiere dar una opinión o participar en un debate apasionado en la sobremesa. Sin embargo, cuando se trata de temas científicos, frecuentemente tanto las ideas como las palabras se nos escapan. Aunque la confianza y el interés de las personas en la ciencia y la tecnología han aumentado no ha pasado lo mismo con la <em>comprensión</em> que se tiene sobre los conocimientos científicos básicos. </p>
                  </div>
                </div>
            </div>
        </div>
        </div>
        <div class=" container-fluid absoluto d-none d-md-block wow fadeInUp">
          <div class="row color-fondo-objeto d-flex justify-content-center">
           <div class="col-4">
              <img class="img-fluid" alt="CCH" src="/img/bloque3/b3_01_01.png">
              </div>
          </div>
        </div>
        <div class="container wow fadeInUp">
        <div class="row mt-3">
            <div class="col-12">
                <div class="accordion mt-4" id="acordeon1">
                    <div class="card">
                        <div class="card-header" id="headingOne">

                            <a class=" text-left" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapseOne">
                                ¿Para qué me sirve estudiar ciencia si no voy a estudiar una carrera científica?
                            </a>

                        </div>

                        <div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#acordeon1">
                            <div class="card-body">
                                <p>El conocimiento generado por la actividad científica se ha vuelto tan poderoso que ignorarlo puede significar un riesgo, aun cuando no se tenga el interés de cursar una carrera científica. Aún más, tan amplio en sus alcances se ha vuelto esta clase de conocimiento, que no es extraño que aquellos graduados universitarios que prefirieron carreras del área de humanidades o económico-administrativas, en lugar de las de ciencias, de una u otra forma terminen trabajando en empresas o instituciones relacionadas con la ciencia: administrando plantas farmacéuticas u hospitales, creando publicidad para empresas de investigación y desarrollo de tecnología o practicando el periodismo científico en medios impresos o audiovisuales.</p>


                                <div class="row">
                                    <div class="col-lg-8">
                                      <p>Mas el poder teórico e instrumental de la ciencia también tiene una cara oscura, mezquina: existen individuos poco escrupulosos que buscan —y a menudo consiguen— <em>apropiarse</em> del considerable y apreciado prestigio de la ciencia para lucrar a expensas de los incautos y los ignorantes. De ahí que abunden los productos “milagro” que prometen soluciones contundentes y definitivas a problemas para los que la ciencia ofrece, actualmente y en el mejor de los casos, soluciones parciales o temporales, tales como algunos tipos de cáncer, la obesidad, la calvicie, la impotencia sexual, etcétera. Las personas que cuentan con un mínimo de cultura científica —tanto del contenido de las distintas disciplinas científicas como de los métodos, estrategias y estándares del trabajo científico— son menos susceptibles de ser víctimas de los embustes de estos charlatanes.</p>
                                    </div>
                                  <div class="col-lg-4">
                                    <img class="img-fluid" alt="CCH" src="/img/bloque3/b3_01_12.jpg" title="3d en la unam">
                                    <div class="blockquote-footer">Desarrollo de tecnología 3D en la UNAM</div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <a class="collapsed" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapseTwo">
                                    ¿Todos tenemos que saber un poco sobre la ciencia?
                                </a>
                            </h2>
                        </div>
                        <div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#acordeon1">
                            <div class="card-body">
                                <p>Saber de ciencia no es una obligación. De hecho, se puede vivir una vida plena y feliz sin saber nada de ciencia. Incluso se pueden hacer grandes contribuciones en beneficio de la humanidad sin necesidad de saber ni una pizca de Física, Química o Biología. ¿Por qué entonces tanto empeño en enseñar ciencia en la escuela? Una parte de la respuesta a esta pregunta se encuentra en las respuestas a la preguntas “¿Para qué me sirve estudiar ciencia si no voy a estudiar una carrera científica?” y “¿Para qué me sirve saber cómo se hace la ciencia?”</p>
                                <div class="row my-3">
                                  <div class="col-lg-8 mx-auto">
                                    <img class="img-fluid" alt="CCH" src="/img/bloque3/b3_01_13.jpg" title="Acción de una ONG contra la contaminación del agua">
                                    <div class="blockquote-footer">Acción de una ONG contra la contaminación del agua</div>
                                  </div>
                                </div>
                                <p>Pero hay más razones. De entre ellas, quizás la más importante sea que la ciencia puede ser una herramienta de emancipación y de igualdad. Si todos aprendiéramos un poco o —mejor aún— un mucho de ciencia, estaríamos en una mejor posición para evaluar críticamente aquello que otras personas dicen que es verdad.</p>
                                <p>Seríamos capaces entonces de evitar los abusos y perjuicios derivados de un uso irreflexivo y alevoso del conocimiento científico. Podríamos fomentar que éste se usara para atender las necesidades de los más débiles y desprotegidos, y no preferentemente las de los más afluentes y poderosos. Saber un poco de ciencia proporcionaría a cada ciudadano las herramientas necesarias para ejercitar su creatividad, para innovar y contribuir al beneficio comunitario, al tiempo que se procuraría un sostén digno y ético. En fin, la ciencia es demasiado importante como para dejarla en las manos de una élite de expertos.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <a class="collapsed" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapseThree">
                                    ¿Qué se necesita para hacer ciencia?
                                </a>
                            </h2>
                        </div>
                        <div id="collapse3" class="collapse" aria-labelledby="headingThree" data-parent="#acordeon1">
                            <div class="card-body">


                                <div class="row my-3">
                                    <div class="col-lg-8">
                                        <p>Para hacer ciencia, a diferencia de lo que se puede apreciar en los medios de comunicación, no hace falta un laboratorio ni tampoco ser muy inteligente o tener grandes cualidades intelectuales. En realidad lo que se necesita es un problema o una pregunta interesante, y a partir de ahí, hacer una serie de actividades para darle respuesta. Ese problema o pregunta no tiene una respuesta directa o evidente, y al hacérnosla, se nos ocurrirán diferentes formas de obtener la respuesta, ya sea observando, experimentando o recolectando mediciones o datos.</p>
                                        <p>No hay un método fijo que se siga siempre, pero sí hay ciertas reglas que seguir, como por ejemplo, ser cuidadoso y preciso en las mediciones y observaciones, y también jugar con sólo una variable o factor a la vez, por mencionar ejemplos. Entonces para hacer ciencia lo que se necesita es un problema o pregunta y una serie de actividades creativas, meticulosas y planeadas para resolverla. Como ves, cualquiera puede hacer ciencia.</p>
                                    </div>
                                  <div class="col-lg-4">
                                    <img class="img-fluid" alt="CCH" src="/img/bloque3/b3_01_14.jpg" title="Cecehachero presentando un proyecto de biología">
                                    <div class="blockquote-footer">Cecehachero presentando un proyecto de biología</div>
                                  </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h2 class="mb-0">
                                <a class="collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapseFour">
                                    ¿Es posible aplicar los procedimientos de la ciencia en la vida cotidiana?
                                </a>
                            </h2>
                        </div>
                        <div id="collapse4" class="collapse" aria-labelledby="headingFour" data-parent="#acordeon1">
                            <div class="card-body">

                                <div class="row my-3">
                                    <div class="col-lg-8">
                                      <p>Muchos de los problemas cotidianos podrían ser resueltos de forma científica. Por ejemplo: ¿Cuál es el detergente que verdaderamente deja más limpia la ropa en menos lavadas? ¿Siempre veo salir y ocultarse el sol por el mismo lugar? ¿Hay una manera de medir cuánto llovió este mes respecto a lo que lloverá el siguiente? ¿Hay algún patrón u orden que me permita saber cuánto costará un producto?</p>
                                      <p>Esto por mencionar sólo algunos ejemplos. La mitad del trabajo de un científico es plantear preguntas que resulten interesantes de resolver, ya sea  que sirvan para aumentar un cuerpo de conocimientos, o para aplicarlos en la vida cotidiana. La otra mitad de su trabajo es planear cómo resolverla. Así pues, sin ser científicos, podemos resolver problemas cotidianos si sabemos plantear las preguntas correctas y diseñamos formas para resolverlas.</p>
                                    </div>
                                  <div class="col-lg-4">
                                    <img class="img-fluid" alt="CCH" src="/img/bloque3/b3_01_15.jpg" title="productos químicos">
                                  </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header" id="headingSix">
                            <h2 class="mb-0">
                                <a class="collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapseSix">
                                    ¿Cómo le hago para comprender mejor los conocimientos de la ciencia?
                                </a>
                            </h2>
                        </div>
                        <div id="collapse6" class="collapse" aria-labelledby="headingSix" data-parent="#acordeon1">
                            <div class="card-body">

                                <div class="row my-3">
                                    <div class="col-lg-8">
                                      <p>La ciencia no es simplemente un cuerpo de conocimientos que uno memoriza y puede comprender. Si se busca verdaderamente entender por qué un concepto científico tiene validez y valor para nuestra vida es necesario no sólo conocer qué dice, sino entender cuál es el problema que originó dicho conocimiento.</p>
                                      <p>Asimismo, es necesario que tengamos conocimiento sobre el contexto en que fue elaborado dicho conocimiento, es decir, la época histórica, el país en el que fue hecho, las controversias que generó, los grupos de personas que lo aceptaron y los que lo rechazaron, por citar ejemplos. Es, cuando realmente comprendemos algo, que nos aproximamos a la ciencia misma. No debemos olvidar que, antes que otra cosa, es una actividad humana más, sujeta a revisiones periódicas, a aceptación social y con un problema subyacente que la impulsa.</p>
                                    </div>
                                  <div class="col-lg-4">
                                    <img class="img-fluid" alt="CCH" src="/img/bloque3/b3_01_16.jpg" title="Evolución de la capa de ozono">
                                    <div class="blockquote-footer">Evolución de la capa de ozono 1979-2008, una controversia científica actual</div>
                                  </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingSeven">
                            <h2 class="mb-0">
                                <a class="collapsed" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapseSeven">
                                    ¿Qué impacto tienen los conocimientos de la ciencia en nuestra vida?”
                                </a>
                            </h2>
                        </div>
                        <div id="collapse7" class="collapse" aria-labelledby="headingSeven" data-parent="#acordeon1">
                            <div class="card-body">

                                <div class="row my-3">
                                    <div class="col-lg-8">
                                      <p>Los problemas que resuelve la ciencia no siempre son de tipo pragmático, es decir, no siempre resuelven problemas cotidianos. En ocasiones los científicos estudian el comportamiento de algunas sustancias o fenómenos sólo para fortalecer teorías que ayuden a hacer un modelo más robusto de la realidad. En ocasiones dichos modelos pueden ser aplicados y de esta forma tenemos mejores materiales o sustancias que tengan determinadas propiedades, pero no siempre es así.</p>
                                      <p>Sin embargo, aún en el caso de que el conocimiento generado no tenga en apariencia una aplicación práctica, éste siempre impactará en nuestra vida cotidiana, pues es lo que permite entender por qué una teoría es más poderosa que otra y eso nos ayudará a comprender mejor lo que nos rodea.</p>
                                    </div>
                                  <div class="col-lg-4 mx-auto">
                                    <img class="img-fluid" alt="CCH" src="/img/bloque3/b3_01_17.jpg" title="Intervención quirúrgica en animales ">
                                    <div class="blockquote-footer">Intervención quirúrgica en animales de laboratorio para experimentos de campos magnéticos en el tratamiento de la depresión del Instituto de Fisiología Celular de la UNAM</div>
                                  </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingEight">
                            <h2 class="mb-0">
                                <a class="collapsed" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapseEight">
                                    ¿Para qué me sirve  saber cómo se hace la ciencia?
                                </a>
                            </h2>
                        </div>
                        <div id="collapse8" class="collapse" aria-labelledby="headingEight" data-parent="#acordeon1">
                            <div class="card-body">
                                <p>Estar al tanto de los procesos que constituyen el quehacer científico y que resultan en conocimiento confiable nos permite juzgar la validez o la veracidad de declaraciones hechas por científicos y por no científicos. Esta habilidad para pensar críticamente lo que dice o hace la ciencia es esencial cuando se trata de tomar decisiones sobre la salud personal y comunitaria, la protección del medio ambiente, la procuración de justicia y la defensa de derechos humanos como la no discriminación —por cuestiones de raza, género, preferencia sexual, opinión, etnia, etcétera— y, en el caso de las mujeres, la interrupción del embarazo, entre otras cosas.</p>
                                <div class="row my-3 align-items-center">
                                  <div class="col-lg-6">
                                    <img class="img-fluid" alt="CCH" src="/img/bloque3/b3_01_18.jpg" title="La dieta mexicana en casa">
                                  </div>
                                  <div class="col-lg-6">
                                    <img class="img-fluid" alt="CCH" src="/img/bloque3/b3_01_19.jpg" title="La dieta mexicana en la escuela">
                                  </div>
                                  <div class="col-lg-12 mt-3">
                                    <div class="blockquote-footer mx-auto text-center">La dieta mexicana en la casa y escuela</div>
                                  </div>
                                </div>


                                      <p>La ciencia se distingue de otras maneras de generar conocimiento en que sus ideas son constantemente puestas a prueba y, por tanto, enteramente susceptibles de abandonarse o corregirse drásticamente a la luz de nuevas evidencias o de reinterpretaciones inéditas. Aunque podrá parecer que esta característica debilita la confiabilidad, la veracidad, del conocimiento científico, haciéndolo transitorio y tentativo, lo cierto es que, a largo plazo, termina por fortalecerlo: solamente aquellas ideas y descubrimientos que resisten los embates sistemáticos de las pruebas más estrictas se hacen acreedoras a un voto de confianza.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-3 wow fadeInUp">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <p class="enfasis rosa text-center"> ¿Qué recursos tengo a mi disposición para aprender ciencia en el Colegio? </p>
          </div>
        </div>
    </div>

    <div class="bg-rosa text-white container-fluid wow fadeInUp">
            <div class="row p-3 text-center">
                <div class="col-lg-11 mx-auto">
                    <div class=" text-white lead w-100">Haz clic en las imágenes para conocer diferentes recursos que puedes usar para tus investigaciones en las materias de ciencias.</div>
                    <div class="text-white d-none d-xl-block mt-3 w-100"><i aria-hidden="true" class=" far fa-2x fa-arrow-alt-circle-down"></i></div>
                </div>
            </div>
    </div>
<div class="container-fluid" id="ligas-logos wow fadeInUp">
    <div class="row">
        <div class="col-lg-11 mx-auto mt-5">
            <div class="row justify-content-between align-items-center mr-auto">
              <div class="col-lg-3 p-1 text-center hvr-bob">
                <a href="https://portalacademico.cch.unam.mx/objetos-de-aprendizaje" target="_blank">
                    <img class="img-fluid" alt="CCH" src="/img/bloque3/b3_01_09.jpg">
                    <div class="blockquote-footer mx-auto text-center">Recurso libre que ofrece materiales de consulta de acuerdo con los planes de estudio del CCH.</div>
                </a>
              </div>
              <div class="col-lg-3 p-1 text-center  hvr-bob">
                <a href="http://www.saber.unam.mx/saber/faces/home/sel-login.jsp" target="_blank">
                    <img class="img-fluid" alt="CCH" src="/img/bloque3/b3_01_01.jpg">
                    <div class="blockquote-footer mx-auto text-center">Sistema de autoevaluación para que pruebes tus habilidades en Ciencias Experimentales.</div>
                </a>
              </div>
              <div class="col-lg-3 p-1 text-center  hvr-bob">
                <a href="http://www.objetos.unam.mx/" target="_blank">
                    <img class="img-fluid" alt="CCH" src="/img/bloque3/b3_01_02.jpg">
                    <div class="blockquote-footer mx-auto text-center">Recurso libre de la DGTIC-UNAM, ofrece materiales interactivos como laboratorios virtuales.</div>
                </a>
              </div>
              <div class="col-lg-3 p-1 text-center  hvr-bob">
                <a href="https://www.visionlearning.com/es" target="_blank">
                    <img class="img-fluid" alt="CCH" src="/img/bloque3/b3_01_03.jpg">
                    <div class="blockquote-footer mx-auto text-center">Recurso libre en el que puedes encontrar materiales de ciencias con lecturas y pruebas.</div>
                </a>
              </div>
            </div>
            <div class="row justify-content-between align-items-center mr-auto mt-5">
              <div class="col-lg-3 p-1 text-center  hvr-bob">
                <a href="http://recursostic.educacion.es/secundaria/edad/3esofisicaquimica/" target="_blank">
                    <img class="img-fluid" alt="CCH" src="/img/bloque3/b3_01_04.jpg">
                    <div class="blockquote-footer mx-auto text-center">Sitio libre que contiene materiales de Física y Química: lecturas, ejercicios y actividades.</div>
                </a>
              </div>
              <div class="col-lg-3 p-1 text-center  hvr-bob">
                <a href="http://recursostic.educacion.es/secundaria/edad/3esobiologia/" target="_blank">
                    <img class="img-fluid" alt="CCH" src="/img/bloque3/b3_01_10.jpg">
                    <div class="blockquote-footer mx-auto text-center">Sitio libre que contiene materiales de Biología y Geología: lecturas, ejercicios y actividades.</div>
                </a>
              </div>
              <div class="col-lg-3 p-1 text-center  hvr-bob">
                <a href="http://www.comoves.unam.mx/" target="_blank">
                    <img class="img-fluid" alt="CCH" src="/img/bloque3/b3_01_05.jpg">
                    <div class="blockquote-footer mx-auto text-center">Revista de divulgación científica de la UNAM. Encontrarás interesantes y accesibles artículos de ciencia.</div>
                </a>
              </div>
              <div class="col-lg-3 p-1 text-center  hvr-bob">
                <a href="https://ed.ted.com/lessons?category=mathematics" target="_blank">
                    <img class="img-fluid" alt="CCH" src="/img/bloque3/b3_01_07.jpg">
                    <div class="blockquote-footer mx-auto text-center">Ciencia y arte unidos en un sitio con excelentes videos y animaciones que explican de una forma entretenida y lúdica diversos temas de ciencia.</div>
                </a>
              </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5 d-none d-md-block wow fadeInUp">
    <div class="row">
        <div class="col-lg-10 mx-auto">

            <!-- CUSTOM BLOCKQUOTE -->
            <div class="blockquote blockquote-custom p-5 effect-1 rounded">
                <div class="blockquote-custom-icon bg-azul shadow-sm text-white"><i class="far fa-2x fa-grin-stars"></i></i></div>

                <div class="row align-items-center">
                  <div class="col-lg-8">
                    <h1 class="azul">Actividad de aprendizaje sugerida:</h1>
                      <div class="pl-3 lead">
                        Hemos visto que los conocimientos básicos de ciencias son asunto de todos y no sólo de expertos, te hemos presentado algunos recursos en internet para que aprendas ciencias de la forma en que mejor te acoples según tus estilos de aprendizaje, pero además te queremos mostrar que puedes poner en práctica tus conocimientos divirtiéndote. <a href="https://e1.portalacademico.cch.unam.mx/alumno/biologia2/unidad2/estructuraEcosistema/ejercicio2" target="_blank">Juega a la lotería y prueba si puedes reconocer algunas características de los biomas terrestres y acuáticos en este juego</a>.
                      </div>
                  </div>
                  <div class="col-lg-4">
                    <img src="/img/bloque1/b1_02_03.png" alt="cch alumna" class="img-fluid">
                  </div>
                </div>

            </div><!-- END -->

        </div>
    </div>
</div>

<div class="container-fluid mt-5">
    <div class="row minh-100">
        <div class="col-12 ">
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-lg flex-wrap justify-content-center">
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/habitos-de-estudio"><i class="fas fa-angle-double-left"></i></a></li>
                <li class="page-item active"><a class="page-link" href="{{base_path()}}bloques/recursos/ciencias-experimentales">1</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/recursos/matematicas">2</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/recursos/talleres">3</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/recursos/historico-social">4</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/recursos/idiomas">5</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/recursos/matematicas"><i class="fas fa-angle-double-right"></i></a></li>
              </ul>
            </nav>
        </div>
    </div>
</div>

<style>
    #ligas-logos img{
        max-height: 100px;
    }
</style>
{% endblock %}
