{% extends 'base/app-bloques.twig' %}

{% set page_title = 'Área Histórico - Social' %}

{% block content %}

    <div class="contaniner-fluid bg-verde py-5 wow bounceInDown">
        <div class="container">
            <h2 class="titulobloque">Recursos para aprender</h2>
        </div>
    </div>
    <div class="container wow fadeInUp">
        <div class="row mt-5">
            <div class="col-md-12">
                <h1>¿Qué se aprende en el área Histórico-Social?</h1>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-10 mx-auto">
                <p>En el contexto de la globalización en el siglo XXI, las problemáticas de equidad de género, el uso de la ciencia, los conflictos humanos, la cultura de masas, los problemas ambientales, entre otras, requieren una mirada amplia e integradora de la Historia para comprender esta realidad. La Historia nos dota de un marco de referencia y un horizonte para actuar en la sociedad. </p>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-morado wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="p-2 text-white lead">
                         El pedagogo brasileño Paulo Freire dijo alguna vez que <span class="font-weight-bold">"Conocer es leer y releer el mundo, es transformarlo".</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <p class="morado mt-2">"Conocer es construir categorías de pensamiento que hagan posible la lectura del mundo, su interpretación, su transformación. Conocemos gracias a las experiencias previas, la Historia forma parte de nuestro hacer y ser".</p>
                <p class="mt-4">A diferencia de lo que comúnmente se piensa, la Historia no es el recuerdo de un pasado lejano e inalterable, es una disciplina viva, presente en el debate público y académico, que revisa continuamente las interpretaciones del pasado. En estos debates se aprecian fuertes divergencias en las interpretaciones y esto nos muestra que el pasado solamente “existe” en la medida que lo problematizamos, estudiamos y analizamos. Las Humanidades y las Ciencias Sociales siempre parten de un interés presente, una pregunta o un problema social.</p>
                <p>Aprender Historia y Ciencias Sociales es más que el simple acto de saber acerca del pasado y el presente de la sociedad. El estudio de la sociedad implica un profundo compromiso con el pensamiento crítico y con él podrás comprender la complejidad de la vida humana en los diversos elementos que la articulan: la economía, la política, las relaciones entre los grupos sociales y las expresiones culturales en su dimensión histórica (pasado-presente-futuro).</p>
                <p>Por ello, en el CCH se proyecta que “El estudio de lo social dota al ser humano de identidad, sentido de pertenencia y conciencia de sí mismo como sujeto que con su acción trasciende su contexto social e histórico y le permite, además, aprehender que el respeto, la solidaridad, la tolerancia, la libertad, la democracia, la justicia son valores que, entre otros muchos, hacen posible la vida en colectividad” (CCH, 2005: 12-13).</p>
                </div>
                </div>
                </div>

                <div class="container-fluid absoluto d-none d-md-block wow fadeInUp">
                  <div class="row color-fondo-objeto d-flex justify-content-center">
                      <div class="col-4">
                        <img class="img-fluid" alt="CCH" src="/img/bloque3/b3_04_01.png">
                      </div>
                  </div>
                </div>
                <div class="container wow fadeInUp">
                    <div class="row wow fadeInUp">
                        <div class="col-md-12">
                <!-- CUSTOM BLOCKQUOTE -->
                <div class="blockquote blockquote-custom p-5 effect-1 rounded mt-5">
                    <div class="blockquote-custom-icon bg-azul shadow-sm text-white">
                        <i class="far fa-2x fa-grin-stars"></i>
                    </i>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <p class="mt-2 lead azul">Asimismo se espera que desarrolles una mayor conciencia acerca de tu propio papel en la historia para que, por lo tanto, seas capaz de participar en ella, transformarla como un ciudadano y sujeto histórico.</p>
                    </div>
                </div>
            </div>
            <!-- END -->
            </div>
        </div>
    </div>
    <div class="container-fluid wow fadeInUp">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="row mt-2">
                <div class="col-lg-5 offset-lg-1 mt-2">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="/img/bloque3/b3_04_02.jpg" class="d-block w-100" alt="Histórico-Social">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/bloque3/b3_04_03.jpg" class="d-block w-100" alt="Histórico-Social">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/bloque3/b3_04_04.jpg" class="d-block w-100" alt="Histórico-Social">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/bloque3/b3_04_05.jpg" class="d-block w-100" alt="Histórico-Social">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/bloque3/b3_04_06.jpg" class="d-block w-100" alt="Histórico-Social">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/bloque3/b3_04_07.jpg" class="d-block w-100" alt="Histórico-Social">
                    </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
            </a>
            </div>
                </div>
                    <div class="col-lg-5 mt-5">
                    <div class="row mt-5 bg-verde">
                        <div class="col-md-12 text-white lead p-4">
                            El debate sobre el uso de transgénicos, las garantías de derechos humanos internacionales, los procesos democráticos recientemente experimentados por ciertos países, entre otras cosas, son parte de la realidad histórica global que vivimos.
                            <div class="mt-5 mb-4 pl-3"><i class="fas fa-chevron-left fa-2x"></i> <i class="fas fa-chevron-left fa-2x"></i> <i class="fas fa-chevron-left fa-2x"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container wow fadeInUp">
    <div class="row mt-5 mb-5">
        <div class="col-md-10 mx-auto">
            <p class="lead rosa">En las materias del área de Historia y las Ciencias Sociales del CCH...</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <i class="fas fa-long-arrow-alt-right rosa"></i>
                    Estudiarás los principales procesos históricos nacionales e internacionales.</li>
                <li class="list-group-item">
                    <i class="fas fa-long-arrow-alt-right rosa"></i>
                    Desarrollarás habilidades intelectuales propias del conocimiento histórico, tales como el análisis, la síntesis, la inferencia, la interpretación crítica, la explicación, el pensamiento lógico, coherente, abierto y flexible; la capacidad de abstracción y de comprensión y aplicación de conceptos.</li>
                <li class="list-group-item">
                    <i class="fas fa-long-arrow-alt-right rosa"></i>
                    Valorarás la importancia de las Humanidades y de las Ciencias Sociales como un saber que nos permite identificarnos, ubicarnos y actuar en el mundo en cuanto el pasado está presente en nuestra vida tanto individual como colectiva.</li>
            </ul>
        </div>
    </div>
</div>
<div class="bg-morado mt-5 mb-5 container-fluid wow fadeInUp">
    <div class="container">
        <div class="p-2 text-white lead">
            <i class="fas fa-film"></i>
            &nbsp;&nbsp; La Historia local y mundial se entrelazan, el pasado se encuentra en el presente.</div>
    </div>
</div>
<div class="container wow fadeInUp">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XZ8S0d2lgnA" allowfullscreen="allowfullscreen"></iframe>
            </div>
            <div class="blockquote-footer">
                ONCETVMÉXICO. (2012). 6 grados de separación. La piñata. Recuperado de https://youtu.be/XZ8S0d2lgnA (agosto, 2018).
            </div>
        </div>

    </div>
</div>
<div class="container wow fadeInUp">
    <div class="row mt-5">
        <div class="col-lg-12">

            <!-- CUSTOM BLOCKQUOTE -->
            <div class="blockquote blockquote-custom p-5 effect-1 rounded">
                <div class="blockquote-custom-icon bg-azul shadow-sm text-white">
                    <i class="far fa-2x fa-grin-stars"></i>
                </i>
            </div>

            <div class="row">
                <div class="col-lg-11 mx-auto">
                    <h1 class="morado">¿Qué recursos tienes a tu disposición para aprender Historia?</h1>
                    <div class="pl-3">
                        <p class="morado">Haz clic en las siguientes ligas para conocerlos.</p>
                        <hr class="dotted">
                        <p>
                            <a href="https://portalacademico.cch.unam.mx/objetos-de-aprendizaje" target="_blank">Historia en el Portal Académico del Colegio.</a>
                            - Convierte al Portal Académico tu sitio de cabecera para estudiar Historia.</p>
                            <p>
                                <a href="https://www.artehistoria.com/" target="_blank">Arte Historia</a>
                                - Aprende Historia a través de las obras de arte en este sitio.</p>
                            <p>
                                <a href="http://recursostic.educacion.es/kairos/web/ensenanzas/ensenanzas.html" target="_blank">Proyecto Kairos.</a>
                                - En esta página encontrarás temas de Historia Universal y lecturas complementarias.</p>
                        </div>
                        <hr class="dotted">
                    </div>
                </div>

                <div class="row mt-5 wow fadeInUp">
                  <div class="col-lg-6">
                    <h1 class="azul">Actividad de aprendizaje sugerida:</h1>
                      <div class="pl-3 lead">
                      A lo largo de la historia humana, el impacto tecnológico ha tenido una incidencia importante en la sociedad y sus relaciones sociales... Reflexiona acerca de las ideas de consumo que están asociadas a los nombres de diferentes empresas, marcas o productos a partir de los símbolos que utilizan en su publicidad, en este ejercicio de <a href="https://portalacademico.cch.unam.mx/historiauniversal2/expresiones-culturales-sXXI/ejercicio2" target="_blank">Estructura social</a>.
                      </div>
                  </div>
                  <div class="col-lg-6">
                    <img src="/img/bloque3/b3_04_08.png" alt="Expresiones culturales" class="img-fluid">
                  </div>
                </div>

            </div>
            <!-- END -->

        </div>
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="row minh-100">
        <div class="col-12 ">
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-lg flex-wrap justify-content-center">
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/recursos/talleres"><i class="fas fa-angle-double-left"></i></a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/recursos/ciencias-experimentales">1</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/recursos/matematicas">2</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/recursos/talleres">3</a></li>
                <li class="page-item active"><a class="page-link" href="{{base_path()}}bloques/recursos/historico-social">4</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/recursos/idiomas">5</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/recursos/idiomas"><i class="fas fa-angle-double-right"></i></a></li>
              </ul>
            </nav>
        </div>
    </div>
</div>

{% endblock %}
