{% extends 'base/app-bloques.twig' %}

{% set page_title = 'Área de Matemáticas' %}

{% block content %}

<div class="bg-verde py-2 container-fluid  josh-js" data-josh-anim-name="bounceInDown">
    <div class="container">
        <h2 class="titulo__pantalla">{{page_title}}</h2>
    </div>
</div>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="" href="{{base_path()}}bloques/recursos">Recursos para aprender</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{page_title}}</li>
        </ol>
    </nav>
</div>
    <div class="container josh-js" data-josh-anim-name="fadeInUp">
        <div class="row mt-5">
            <div class="col-md-12">
                <h1>¿Qué se aprende?</h1>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-10 mx-auto">
                <p>Para algunos, las Matemáticas son un conocimiento fabuloso, mientras que para la mayoría son un verdadero tormento. Por ello surgen ideas como que éstas sólo pueden ser comprendidas por genios, o que no están al alcance de las personas comunes.
                    Sin embargo, las Matemáticas sirven a lo largo de toda la vida cotidiana y en las profesiones. Para darte una idea de cómo se utilizan en diversas actividades, a continuación se listan algunas de ellas.
                    <i class="fas fa-hand-point-down"></i>
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid josh-js" data-josh-anim-name="fadeInUp">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="row mt-2">
                    <div class="col-lg-5">
                        <!-- CUSTOM BLOCKQUOTE -->
                        <div class="blockquote blockquote-custom p-5 effect-1 rounded mt-5">
                            <div class="blockquote-custom-icon bg-azul shadow-sm text-white">
                                <i class="far fa-2x fa-grin-stars"></i>
                            </i>
                        </div>

                        <div class="row mt-2 josh-js" data-josh-anim-name="fadeInUp">
                            <div class="col-lg-12">
                                <h1 class="azul">¿Te lo imaginabas?</h1>
                                <p class="mt-2">Además de los diferentes usos que rodean casi todo lo que conocemos, el aprendizaje de las Matemáticas te proporciona habilidades para hacer conjeturas, resolver problemas de la vida real, interpretar y analizar información
                                    cuantitativa con la finalidad de tomar diversas decisiones importantes, entre otras cosas. No significa realizar operaciones y memorizar procedimientos sin razón alguna.</p>
                            </div>
                        </div>

                    </div>
                    <!-- END -->
                </div>
                <div class="col-lg-6 mt-2 josh-js" data-josh-anim-name="fadeInUp">
                    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/img/bloque3/b3_02_01.jpg" class="d-block w-100" alt="Matemáticas">
                                <div class="carousel-caption d-none d-md-block">
                                    <p class="p-2 text-white-50 bg-dark">Para interpretar y analizar información cuantitativa que se presenta frecuentemente en los diversos medios de comunicación.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/img/bloque3/b3_02_02.jpg" class="d-block w-100" alt="Matemáticas">
                                <div class="carousel-caption d-none d-md-block">
                                    <p class="p-2 text-white-50 bg-dark">Las Matemáticas constituyen un elemento indispensable para modelar y hacer predicciones sobre el entorno físico y social.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/img/bloque3/b3_02_03.jpg" class="d-block w-100" alt="Matemáticas">
                                <div class="carousel-caption d-none d-md-block">
                                    <p class="p-2 text-white-50 bg-dark">La construcción de escáneres y de dispositivos de imagenología médica, se sustentan bajo la Geometría Integral.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/img/bloque3/b3_02_04.jpg" class="d-block w-100" alt="Matemáticas">
                                <div class="carousel-caption d-none d-md-block">
                                    <p class="p-2 text-white-50 bg-dark">La criptografía, la cual es indispensable para el manejo seguro de los sistemas de información utilizados en las transacciones bancarias y comerciales, está soportada por estudios sobre los números primos.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/img/bloque3/b3_02_05.jpg" class="d-block w-100" alt="Matemáticas">
                                <div class="carousel-caption d-none d-md-block">
                                    <p class="p-2 text-white-50 bg-dark">El desarrollo de la Informática ha madurado con ideas procedentes de las Matemáticas.</p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Anterior</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Siguiente</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container josh-js" data-josh-anim-name="fadeInUp">
    <div class="row mt-5 mb-5">
        <div class="col-md-10 mx-auto">
            <p class="lead rosa">Bajo esa perspectiva, al egresar del Colegio de Ciencias y Humanidades (CCH), serás capaz de:</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <i class="fas fa-long-arrow-alt-right rosa"></i>
                    Aplicar y adaptar una serie de estrategias para resolver problemas.</li>
                <li class="list-group-item">
                    <i class="fas fa-long-arrow-alt-right rosa"></i>
                    Utilizar diversas representaciones matemáticas en el proceso de resolución de problemas.</li>
                <li class="list-group-item">
                    <i class="fas fa-long-arrow-alt-right rosa"></i>
                    Incorporar a tu lenguaje y modos de argumentación diversas formas de representación matemática para comunicar tus ideas.</li>
                <li class="list-group-item">
                    <i class="fas fa-long-arrow-alt-right rosa"></i>
                    Analizar y evaluar el trabajo matemático y las estrategias de otras personas.</li>
                <li class="list-group-item">
                    <i class="fas fa-long-arrow-alt-right rosa"></i>
                    Utilizar tu conocimiento matemático en distintos contextos, incluyendo tu entorno habitual.</li>
                <li class="list-group-item">
                    <i class="fas fa-long-arrow-alt-right rosa"></i>
                    Usar las representaciones matemáticas pertinentes para modelar e interpretar fenómenos físicos, sociales y biológicos, entre otros.</li>
            </ul>
        </div>
    </div>

    <div class="row mt-3 josh-js" data-josh-anim-name="fadeInUp">
        <div class="col-md-10 mx-auto">
            <p>Para que logres esto exitosamente durante tu bachillerato es necesario que tengas las bases en Matemáticas que has practicado a lo largo de toda tu escolaridad. Es importante que recuerdes, entre otras cosas: el manejo de operaciones aritméticas básicas en los números enteros, racionales, radicales y potencias y la resolución de ecuaciones de primer y segundo grado así como de un sistema de ecuaciones.
            </p>
        </div>
    </div>
</div>
<div class="bg-morado mt-5 mb-5 container-fluid josh-js" data-josh-anim-name="fadeInUp">
    <div class="container">
        <div class="p-2 text-white lead">
            <i class="fas fa-film"></i>
            &nbsp;&nbsp; ¿Son las Matemáticas solo para personas inteligentes? ¿Tu que piensas? Revisa el siguiente fragmento de video.</div>
    </div>
</div>
<div class="container josh-js mb-5" data-josh-anim-name="fadeInUp">
    <div class="row">
        <div class="col-lg-12 mx-auto">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BbA5dpS4CcI?start=1345" allowfullscreen="allowfullscreen"></iframe>
            </div>
            <div class="blockquote-footer">
                Aprendamos Juntos (2018). Las matemáticas nos hacen más libres y menos manipulables. Eduardo Sáenz de Cabezón. En <em>BBVA</em>. Recuperado de https://www.youtube.com/watch?v=BbA5dpS4CcI (junio, 2022).
            </div>

        </div>
    </div>
</div>
<div class=" container josh-js" data-josh-anim-name="fadeInUp">
    <div class="row my-5 d-flex justify-content-end">
        <div class="col-3 py-2 px-4 bg-warning shadow text-right">
            <!-- CUSTOM BLOCKQUOTE -->
            <div class="d-flex align-items-center justify-content-end">
                <i class="fas fa-video fa-2x" aria-hidden="true"></i> <span class="ml-3""> <a href="https://www.youtube.com/watch?v=BbA5dpS4CcI" target="_blank">¿Quieres ver el video completo?</a></span>
            </div><!-- END -->
        </div>
    </div>
</div>
<div class="bg-rosa text-white container-fluid josh-js" data-josh-anim-name="fadeInUp">
    <div class="row p-3 text-center">
        <div class="col-lg-11 mx-auto">
            <div class=" text-white lead w-100">Para que repases esos temas y conozcas nuevos sitios que te ayudarán en tu estancia por el CCH te presentamos los siguientes recursos:</div>
            <div class="text-white d-none d-xl-block mt-3 w-100">
                <i aria-hidden="true" class=" far fa-2x fa-arrow-alt-circle-down"></i>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid josh-js" data-josh-anim-name="fadeInUp">
    <div class="row mb-3">
        <div class="col-lg-10 mx-auto mt-5">
            <div class="row justify-content-around align-items-center mr-auto">
                <div class="col-lg-3 p-1 text-center hvr-bob">
                    <a href="https://portalacademico.cch.unam.mx/alumno/matematicas1/unidad1/OpNumerosEnteros" target="_blank">
                        <img class="img-fluid" alt="CCH" src="/img/bloque3/portal-acad.jpg">
                        <div class="blockquote-footer mx-auto text-center">
                            Operación con números enteros - Con este objeto de aprendizaje aprenderás a manejar las operaciones básicas.</div>
                    </a>
                </div>
                <!-- <div class="col-lg-3 p-1 text-center  hvr-bob">
                    <a href="http://cuaed.unam.mx/math_media/aritmetica/suma_resta_num_enteros/index.php" target="_blank">
                        <img class="img-fluid" alt="CCH" src="/img/bloque3/math-media.jpg">
                        <div class="blockquote-footer mx-auto text-center">Math media 1 - Este sitio te ayudará a repasar el tema de los números enteros.
                        </div>
                    </a>
                </div> -->
                <!-- <div class="col-lg-3 p-1 text-center  hvr-bob">
                    <a href="http://cuaed.unam.mx/math_media/algebra/exponentes1/index.php" target="_blank">
                        <img class="img-fluid" alt="CCH" src="/img/bloque3/math-media.jpg">
                        <div class="blockquote-footer mx-auto text-center">Math media 2 - Este sitio te ayudará a repasar el tema de los números enteros.
                        </div>
                    </a>
                </div> -->
                <div class="col-lg-3 p-1 text-center hvr-bob">
                    <a href="https://e1.portalacademico.cch.unam.mx/alumno/matematicas1/unidad3/lenguajealgebraico/ecuacion_funcionlineal" target="_blank">
                        <img class="img-fluid" alt="CCH" src="/img/bloque3/portal-acad.jpg">
                        <div class="blockquote-footer mx-auto text-center">¿Recuerdas cómo realizar ecuaciones lineales? Entra a esta página y refrescar tus conocimientos.</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-morado mt-5 mb-5 container-fluid josh-js" data-josh-anim-name="fadeInUp">
    <div class="container">
        <div class="p-2 text-white lead">
            <i class="fas fa-film"></i>
            &nbsp;&nbsp; Aprender Matemáticas también es entretenido con recursos como los siguientes videos:
        </div>
    </div>
</div>
<div class="container josh-js" data-josh-anim-name="fadeInUp">
    <div class="col-lg-12">
        <p>Muchos conceptos matemáticos surgieron como una respuesta a las reflexiones e inquietudes de los pensadores antiguos para explicarse el mundo y resolver problemas, en los siguientes videos conocerás parte del trabajo del matemático griego Arquímedes cuyos planteamientos siguen siendo vigentes y útiles en la actualidad. También conocerás el origen del número Pi (π).</p>
    </div>
</div>
<div class="container josh-js mt-5" data-josh-anim-name="fadeInUp">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <p class="font-weight-bold rosa">La poderosa matemática de la palanca</p>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YlYEi0PgG1g?version=3&amp;hl=es_MX&amp;&cc_load_policy=1;rel=0" allowfullscreen="allowfullscreen"></iframe>
            </div>
            <div class="blockquote-footer">
                Peterson, A. y Patterson Z. (educators), The Moving Company Animation Studio (animator) (2014). La poderosa matemática de la palanca. <em>Ted Ed Lessons Worth Sharing</em>. Recuperado de https://www.youtube.com/watch?v=YlYEi0PgG1g (junio, 2022).
            </div>
        </div>
        <!-- <ul class="list-group list-group-flush mt-5">
                <li class="list-group-item"><i class="fas fa-long-arrow-alt-right rosa"></i> <a href="https://www.youtube.com/embed/ijj58xD5fDI" class="_blank">¡Un Eureka por el principio de Arquímedes!</a></li>
            <li class="list-group-item"><i class="fas fa-long-arrow-alt-right rosa"></i> <a href="https://www.youtube.com/embed/9a5vHXsUvUw" class="_blank">La vida infinita de pi</a></li>
        </ul> -->
    </div>
</div>
<div class="container josh-js my-5" data-josh-anim-name="fadeInUp">
    <div class="row">
        <div class="col-6">
            <p class="font-weight-bold rosa">¡Un Eureka por el principio de Arquímedes!</p>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ijj58xD5fDI" allowfullscreen="allowfullscreen"></iframe>
            </div>
            <div class="blockquote-footer">
                TEDEducation. (2013). <em>How taking a bath led to Archimedes´ Principle</em>- Mark Salata. Recuperado de https://www.youtube.com/watch?=ijj58xD5fDI&feature=youtu.be (junio, 2022).
            </div>
        </div>
        <div class="col-6">
            <p class="font-weight-bold rosa">Pi (π) ¿Infinito?</p>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9a5vHXsUvUw" allowfullscreen="allowfullscreen"></iframe>
            </div>
            <div class="blockquote-footer">
                TEDEducation. (2013). <em>La vida infinita de Pi</em>. Recuperado de https://www.youtube.com/watch?v=9a5vHXsUvUw (junio, 2022).
            </div>
        </div>
    </div>
</div>
<!-- <div class="container josh-js" data-josh-anim-name="fadeInUp">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ijj58xD5fDI" allowfullscreen="allowfullscreen"></iframe>
            </div>
            <div class="blockquote-footer">
                TEDEducation. (2013) How taking a bath led to Archimedes´ Principle- Mark Salata. Recuperado de https://www.youtube.com/watch?v=ijj58xD5fDI&feature=youtu.be (agosto, 2018).
            </div>
        </div>

    </div>
</div> -->
<div class="container josh-js" data-josh-anim-name="fadeInUp">
    <div class="row mt-5">
        <div class="col-lg-12">

            <!-- CUSTOM BLOCKQUOTE -->
            <div class="blockquote blockquote-custom p-5 effect-1 rounded">
                <div class="blockquote-custom-icon bg-azul shadow-sm text-white">
                    <i class="far fa-2x fa-grin-stars"></i>
                </i>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="morado">¿Qué recursos tienes a tu disposición para aprender Matemáticas?</h1>
                    <div class="pl-3">
                        <p class="morado">Te presentamos un listado de recursos, algunos ya los has revisado para repasar los temas básicos. Tenlos todos en cuenta para tus próximos estudios de Matemáticas en el CCH.</p>
                        <hr class="dotted">
                        <p>
                            <a href="https://portalacademico.cch.unam.mx/objetos-de-aprendizaje" target="_blank">Matemáticas en el Portal Académico del Colegio.</a>
                            - Sitio del CCH, está estructurado conforme a los planes y programas de estudio, así que tiene justo los temas que buscas.
                            <!-- <p>
                                <a href="http://cuaed.unam.mx/math_media/index.php#" target="_blank">Math Media de la Coordinación de Educación Abierta y a Distancia de la UNAM.</a>
                                - Además de ejercicios encontrarás muchos datos curiosos sobre la fascinante ciencia de las Matemáticas. ¡No te los pierdas!</p>
                            <p> -->
                                <a href="http://www.cuaed.unam.mx/matematicas/" target="_blank">Lecciones interactivas de Matemáticas de la Coordinación de Educación Abierta y a Distancia de la UNAM.</a>
                                - Entre otras cosas encontrarás el Proyecto Arquímedes, que provee software para que un usuario sin conocimientos en programación pueda desarrollar problemas Matemáticos.</p>
                            <p>
                                <a href="https://es.khanacademy.org/" target="_blank">Khan Academy Español.</a>
                                - Es un sitio en el que puedes encontrar videos sobre muchos temas de matemáticas para que repases tu clase tal como la viste en el salón.</p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- END -->

        </div>
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="row minh-100">
        <div class="col-12 ">
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-lg flex-wrap justify-content-center">
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/recursos/ciencias-experimentales"><i class="fas fa-angle-double-left"></i></a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/recursos/ciencias-experimentales">1</a></li>
                <li class="page-item active"><a class="page-link" href="{{base_path()}}bloques/recursos/matematicas">2</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/recursos/talleres">3</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/recursos/historico-social">4</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/recursos/idiomas">5</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/recursos/talleres"><i class="fas fa-angle-double-right"></i></a></li>
              </ul>
            </nav>
        </div>
    </div>
</div>

{% endblock %}
