{% extends 'base/app-bloques.twig' %}

{% set page_title = 'Búsqueda de información' %}

{% block content %}

<div class="bg-rosa py-2 container-fluid  josh-js" data-josh-anim-name="bounceInDown">
    <div class="container">
        <h2 class="titulo__pantalla">{{page_title}}</h2>
    </div>
</div>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="" href="{{base_path()}}bloques/aprender">Aprender a aprender</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{page_title}}</li>
        </ol>
    </nav>
</div>
    <div class="container-fluid josh-js" data-josh-anim-name="fadeInUp">
        <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <!-- CUSTOM BLOCKQUOTE -->
                    <div class="blockquote blockquote-custom bg-warning p-5 effect-1 rounded">
                        <i class="fas fa-search fa-3x" aria-hidden="true"></i> <span class="enfasis ">¿Cómo buscar información en las bibliotecas del CCH y en internet? </span>
                    </div><!-- END -->
                </div>
        </div>
    </div>
    <div class="container mt-5 josh-js" data-josh-anim-name="fadeInUp">
        <div class="col-lg-10 mx-auto">
            <p>La forma de trabajo en el CCH, requiere que los estudiantes realicen búsquedas de información casi todo el tiempo: “el origen de los virus informáticos”, “las características de la ciencia”, “los representantes del siglo de las luces”; son algunos ejemplos de los temas que los profesores dejan investigar a los alumnos.</p>
            <p>Pareciera que este no es un problema para los jóvenes que viven en la llamada <em>Era de la Información</em>, sin embargo, como dicen por ahí “no todo lo que brilla es oro” y en este caso no todo lo que encontramos en internet, ni en los libros, es información útil. Para ello necesitamos revisar que la información sea confiable y actual.</p>
            <div class="w-100 my-5">
                <p class="text-center lead rosa">Para que la búsqueda de información que realices sea más eficaz revisa la siguiente guía para hacer consultas en internet y ve el video para que sepas cómo ingresar a la Biblioteca Digital (Bidi) de la UNAM:</p>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                  <h2 class="rosa">Consultas de internet</h2>
                  <div class=" p-3">

                      <p class="text-center"><a href="/doc/bloque-2-busqueda-internet.pdf" class="hvr-bob" target="_blank"><i class="fas fa-5x fa-file-pdf"></i></a></p>

                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <h2 class="rosa">Biblioteca Digital (BiDi)</h2>
                    <div class=" p-3">
                        <p class="text-center">
                        <a href="#" class="video-btn hvr-bob" data-toggle="modal" data-src="https://www.youtube.com/embed/elgLWpRgahs" data-target="#VideosModal"><i class="fas fa-5x fa-film"></i></a></p>
                    </div>
                    <p class="text-center azul"><i class="fas fa-3x fa-long-arrow-alt-down d-none d-md-block"></i></p>
                    <p>Este video es del recurso de <a href="https://herramientastic.cch.unam.mx/" target="_blank">Herramientas TIC para el aprendizaje</a>, si quieres saber más sobre la Bidi-UNAM ¡Vísitalo!</p>
                </div>
            </div>
        </div>
    </div>

    <div class=" container-fluid absoluto d-none d-md-block josh-js" data-josh-anim-name="fadeInUp">
      <div class="row color-fondo-objeto d-flex justify-content-left">
          <div class="col-lg-3 offset-lg-3">
            <img class="img-fluid" alt="CCH" src="/img/bloque2/b2_06_01.png">
          </div>
      </div>
    </div>

<div class="container-fluid bg-rosa mt-5 responde josh-js" data-josh-anim-name="fadeInUp">
    <div class="container">
        <div class="responde-icon bg-rosa shadow text-white"><i class="far fa-2x fa-grin" aria-hidden="true"></i></div>
            <h5 class="text-white font-weight-bold">&nbsp; Realiza los siguientes ejercicios...</h5>
        </div>
</div>
<div class="container mt-5 josh-js" data-josh-anim-name="fadeInUp">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="rosa">La búsqueda de información en las bibliotecas del CCH y en internet.</h1>

        </div>
    </div>
</div>
<div class="container">
    <div class="col-lg-12 mx-auto">
        <p>La búsqueda de información es una de las principales habilidades del aprender a aprender. Para conocer la oferta de libros, revistas en formato impreso y digital en el Colegio y aprender a evaluar los sitios en internet <strong>realiza las siguientes tres actividades</strong>:</p>
        <!--<ul id="tabs1" role="tablist" class="nav nav-tabs nav-pills with-arrow lined flex-column flex-sm-row text-center mt-5">
            <li class="nav-item flex-sm-fill">
                <a data-toggle="tab" href="#tab-1" role="tab" aria-selected="true" class="nav-link  mr-sm-3 rounded-0 active">Biblioteca de tu plantel</a>
            </li>
            <li class="nav-item flex-sm-fill">
                <a data-toggle="tab" href="#tab-2" role="tab" aria-selected="false" class="nav-link mr-sm-3 rounded-0">Biblioteca digital</a>
            </li>
            <li class="nav-item flex-sm-fill">
                <a data-toggle="tab" href="#tab-3" role="tab" aria-selected="false" class="nav-link rounded-0">Internet</a>
            </li>
        </ul>-->
            <div>
                <h1>1. Biblioteca de tu plantel</h1>
                <h2 class="rosa">Primera búsqueda: el catálogo de la biblioteca de tu plantel.</h2>
                <p class="rosa"> Con la siguiente actividad aprenderás a buscar información en el catálogo de la biblioteca del CCH. </p>
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="rounded-list pl-5 mt-5">
                            <ol>
                                <li><p>Accede al catálogo de la biblioteca  de tu plantel <a href="http://www.bibliotecas.unam.mx/index.php" target="_blank">Bibliotecas UNAM</a>.</p></li>
                                <li><p>Busca el número de clasificación de uno de los siguientes libros donde dice “Descubridor de información”: <span class="rosa">Las Batallas en el Desierto, Aura</span> o <span class="rosa">El Amor en los Tiempos del Cólera.</span></p></li>
                                <li><p>Abajo selecciona tu plantel, después el título del libro que escogiste y finalmente escribe su número de clasificación en la casilla correspondiente. Compara tus respuestas.</p></li>
                            </ol>
                        </div>
                    </div>
                    {# <div class="col-lg-4 d-none d-sm-block d-sm-none d-md-block">
                        <img class="img-fluid" alt="CCH" src="/img/bloque2/b2_06_06.png">
                    </div> #}
                </div>
                {% if cuestionario5 == 0 %}
                <div class="row">
                    <div class="col-lg-9 mx-auto">
                        <form id="b2_06_1" class="field ficha" action="/bloques/aprender/busqueda-de-informacion" method="post">
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="lead">Plantel</p>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="p1" id="a1p1r1" value="31" >
                                        <label class="form-check-label" for="a1p1r1">
                                            Azcapotzalco
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="p1" id="a1p1r2" value="32">
                                        <label class="form-check-label" for="a1p1r2">
                                            Naucalpan
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="p1" id="a1p1r3" value="33">
                                        <label class="form-check-label" for="a1p1r3">
                                            Vallejo
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="p1" id="a1p1r4" value="34">
                                        <label class="form-check-label" for="a1p1r4">
                                            Oriente
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="p1" id="a1p1r5" value="35">
                                        <label class="form-check-label" for="a1p1r5">
                                            Sur
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <p class="lead">Título</p>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="p2" id="a1p2r1" value="1" >
                                        <label class="form-check-label" for="a1p2r1">
                                            Las Batallas en el Desierto
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="p2" id="a1p2r2" value="2">
                                        <label class="form-check-label" for="a1p2r2">
                                            Aura
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="p2" id="a1p2r3" value="3">
                                        <label class="form-check-label" for="a1p2r3">
                                            El Amor en los Tiempos del Cólera
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <p class="lead">Clasificación</p>
                                    <input id="b2_06_01_cla" name="p3" type="text" class="fic upper w-100" value="" maxlength="30">
                                    <div class="small mt-3">Todas las letras y números sin espacios y elimina el año de publicación que aparece al final, por ejemplo: “BC7536.P10B23”.</div>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-12 text-center">
                                    <input type="hidden" name="numcuest" value="1">
                                    <input class="btn btn-rosa" type="submit" value="Enviar tus respuestas">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}
                <div class="retroalimentacion_b2_06_1 {% if cuestionario5 == 0 %}d-none{% endif %}">
                    <h2 class="rosa">Retroalimentación</h2>
                    <div class="row align-items-center">
                        {% if retro_b6_1.retro == 1 %}
                        <div class="col-lg-6">
                            <p class="lead">Tus respuestas</p>
                            <p><strong>Plantel:</strong> {{retro_b6_1.p1}}</p>
                            <p><strong>Título:</strong> {{retro_b6_1.p2}}</p>
                            <p><strong>Clasificación:</strong> {{retro_b6_1.p3}}</p>
                        </div>
                        {% endif %}
                        <div class="col-lg-6">


                                <div id="retro_b2_06_1_success" class="bg-success text-white text-center d-none {% if retro_b6_1.retro == 1 %}d-block{% endif %}">
                                    <p class="text-white p-2">¡Clasificación correcta! Revisa la siguiente tabla, en caso de haber puesto una clasificación correcta podrás localizar el libro físicamente en la biblioteca de tu plantel con ese número.  </p>
                                </div>




                                <div id="retro_b2_06_1_fail" class="bg-danger text-white text-center d-none {% if retro_b6_1.retro == 0 %}d-block{% endif %}">
                                    <p class="text-white p-3">¡Clasificación incorrecta! No te preocupes, revisa si escribiste el número de clasificación sin espacios y sin el año de publicación. O bien, revisa que la clasificación corresponda al libro que deseas. Ahora ya puedes buscar libros en la biblioteca de tu plantel.</p>
                                </div>


                        </div>
                    </div>

                    <div class="table-responsive table-striped mx-auto mt-5">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Plantel</th>
                                    <th scope="col">Título</th>
                                    <th scope="col">Clasificación</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Cualquier plantel </td>
                                    <td>Las Batallas en el Desierto</td>
                                    <td>PQ7297.P21B37</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Cualquier plantel</td>
                                    <td>Aura</td>
                                    <td>PQ7297.F85A813</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Cualquier plantel</td>
                                    <td>El Amor en los Tiempos del Cólera</td>
                                    <td>PQ8180.17A73A55</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                {% include 'partials/completado.twig' with {'bandera': cuestionario5} only %}

            </div>
            <hr class="dashed">
            <div>
                <h1>2. Biblioteca digital</h1>
                <h2 class="rosa">Segunda búsqueda: consulta un libro en la biblioteca digital del CCH.</h2>
                <p class="rosa"> Con la siguiente actividad conocerás la biblioteca digital del CCH y aprenderás a pedir prestado de forma electrónica. <strong>Recuerda que para poder acceder a la biblioteca digital necesitas haber concluido tu proceso de inscripción</strong>. </p>
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="rounded-list pl-5 mt-5">
                            <ol>
                                <li><p>Accede al sitio <a href="https://www.cch.unam.mx/bibliotecadigital" target="_blank">Biblioteca digital</a>.</p></li>
                                <li><p>Ve a la sección “Recursos” y elige la opción “Libros electrónicos para bachillerato”.</li>
                                <li><p>Después da clic en la liga para consultar el catálogo de los libros electrónicos.</p></li>
                                <li><p><span class="font-weight-bold">Escoge el área de conocimiento,</span> y pide prestado el libro de una materia que te ha dado mayor dificultad de aprendizaje. Después escribe el título del libro y su autor en la siguiente casilla.</p></li>
                            </ol>
                        </div>

                    </div>
                    {# <div class="col-lg-4 d-none d-sm-block d-sm-none d-md-block">
                        <img class="img-fluid" alt="CCH" src="/img/bloque2/b2_06_07.png">
                    </div> #}
                </div>
                <p><strong>Nota</strong>: Descarga e instala el software de lectura “Adobe Digital Editions” para PC y MAC o “Bluefire Reader” para Ipad.</p>
                {% if cuestionario6 == 0 %}
                <div class="row">
                    <div class="col-lg-9 mx-auto">
                        <form id="b2_06_2" class="field ficha" action="/bloques/aprender/busqueda-de-informacion" method="post">
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="resb2 lead">Área de conocimiento</p>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="p1" id="a2p2r1" value="1">
                                        <label class="form-check-label" for="a2p2r1">
                                            Talleres
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="p1" id="a2p2r2" value="2">
                                        <label class="form-check-label" for="a2p2r2">
                                            Ciencias Experimentales
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="p1" id="a2p2r3" value="3">
                                        <label class="form-check-label" for="a2p2r3">
                                            Histórico Social
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="p1" id="a2p2r4" value="4">
                                        <label class="form-check-label" for="a2p2r4">
                                            Matemáticas
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4 p-1">
                                    <p class="resb2 lead">Título</p>
                                    <input id="b2_06_02_titulo" name="p2" type="text" class="fic upper w-100" value="" maxlength="30" >
                                    {# <textarea class="w-100" name="p2" rows="1" cols="20" required></textarea> #}
                                </div>
                                <div class="col-md-4 p-1">
                                    <p class="resb2 lead">Clasificación</p>
                                    <input id="b2_06_02_clasi" name="p3" type="text" class="fic upper w-100" value="" maxlength="30" >
                                    {# <textarea class="w-100" name="p3" rows="1" cols="20" required></textarea> #}
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-12  text-center">
                                    <input type="hidden" name="numcuest" value="2">
                                    <input class="btn btn-rosa" type="submit" value="Enviar tus respuestas">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}

                {% include 'partials/completado.twig' with {'bandera': cuestionario6} only %}

            </div>
            <hr class="dashed">
            <div>
                <h1>3. Internet</h1>
                <h2 class="rosa">Tercera búsqueda: evalúa la calidad de cuatro sitios en internet.</h2>
                <p class="rosa"> Con la siguiente actividad reconocerás la calidad (actualidad, confiabilidad, veracidad) de algunas páginas web para aprender a hacer una búsqueda de información más óptima. </p>
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="rounded-list pl-5 mt-5">
                            <ol>
                                <li><p>Consulta los siguientes cuatro sitios de internet con el tema de la biodiversidad dando clic en las imágenes.</p></li>
                                <li><p>Evalúa la información que cada sitio te proporcionó seleccionando en los apartados de abajo. Envía tu evaluación.</li>
                            </ol>
                        </div>
                    </div>
                    {# <div class="col-lg-4 d-none d-sm-block d-sm-none d-md-block">
                        <img class="img-fluid" alt="CCH" src="/img/bloque2/b2_06_08.png">
                    </div> #}
                </div>
                <!--<div class="row text-center align-items-center mt-5">
                   <div class="col-lg-3">
                      <div class="">

                          <a href="https://www.monografias.com/trabajos11/bioltrece/bioltrece.shtml" target="_blank"><img class="img-fluid" alt="CCH" src="/img/bloque2/b2_06_02.png"></a>
                      </div>
                  </div>
                  <div class="col-lg-3">
                     <div class="">
                         <a href="https://es.wikipedia.org/wiki/Biodiversidad" target="_blank"> <img class="img-fluid" alt="CCH" src="/img/bloque2/b2_06_03.png"></a>
                     </div>
                 </div>
                 <div class="col-lg-3">
                    <div class="">

                        <a href="https://www.biodiversidad.gob.mx" target="_blank"><img class="img-fluid" alt="CCH" src="/img/bloque2/b2_06_04.png"></a>
                    </div>
                </div>
                  <div class="col-lg-3">
                    <div class="">

                        <a href="http://www.ib.unam.mx/m/revista/pdfs/01.-_1612.pdf" target="_blank"><img class="img-fluid" alt="CCH" src="/img/bloque2/b2_06_05.png"></a>
                    </div>
                  </div>
                </div>-->
                <div class="mt-5 small align-items-center row">
                    {% if cuestionario7 == 0 %}
                    <form id="b2_06_3" action="/bloques/aprender/busqueda-de-informacion" method="post">
                        <div id="preguntas_1" class="row justify-content-around">
                            <div class="col-md-2">
                                 <a href="https://www.monografias.com/trabajos11/bioltrece/bioltrece.shtml" target="_blank"><img class="img-fluid" alt="CCH" src="/img/bloque2/b2_06_02.png"></a>
                            </div>
                            <div class="col-md-2">
                                <p class="lead">Actualidad de la información</p>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p1" id="p1r1" value="1">
                                    <label class="form-check-label" for="p1r1">
                                        Actualizado
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p1" id="p1r2" value="2">
                                    <label class="form-check-label" for="p1r2">
                                        No actualizado
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p1" id="p1r3" value="3">
                                    <label class="form-check-label" for="p1r3">
                                        Sin fecha
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <p class="lead">Confiabilidad del autor</p>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p2" id="p2r1" value="1">
                                    <label class="form-check-label" for="p2r1">
                                        Autor especializado
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p2" id="p2r2" value="2">
                                    <label class="form-check-label" for="p2r2">
                                        Autor no especializado
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p2" id="p2r3" value="3">
                                    <label class="form-check-label" for="p2r3">
                                        Sin autor
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <p class="lead">Calidad del contenido</p>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p3" id="p3r1" value="1">
                                    <label class="form-check-label" for="p3r1">
                                        Excelente
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p3" id="p3r2" value="2">
                                    <label class="form-check-label" for="p3r2">
                                        Regular
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p3" id="p3r3" value="3">
                                    <label class="form-check-label" for="p3r3">
                                        Mala
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <p class="lead">Calidad del sitio</p>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p4" id="p4r1" value="1">
                                    <label class="form-check-label" for="p4r1">
                                        Excelente
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p4" id="p4r2" value="2">
                                    <label class="form-check-label" for="p4r2">
                                        Regular
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p4" id="p4r3" value="3">
                                    <label class="form-check-label" for="p4r3">
                                        Mala
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr class="dashed">
                        <div id="preguntas_2" class="row justify-content-around">
                            <div class="col-md-2">
                                <a href="https://es.wikipedia.org/wiki/Biodiversidad" target="_blank"> <img class="img-fluid" alt="CCH" src="/img/bloque2/b2_06_03.png"></a>
                            </div>
                            <div class="col-md-2">
                                <p class="lead">Actualidad de la información</p>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p5" id="p5r1" value="1">
                                    <label class="form-check-label" for="p5r1">
                                        Actualizado
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p5" id="p5r2" value="2">
                                    <label class="form-check-label" for="p5r2">
                                        No actualizado
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p5" id="p5r3" value="3">
                                    <label class="form-check-label" for="p5r3">
                                        Sin fecha
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <p class="lead">Confiabilidad del autor</p>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p6" id="p6r1" value="1">
                                    <label class="form-check-label" for="p6r1">
                                        Autor especializado
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p6" id="p6r2" value="2">
                                    <label class="form-check-label" for="p6r2">
                                        Autor no especializado
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p6" id="p6r3" value="3">
                                    <label class="form-check-label" for="p6r3">
                                        Sin autor
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <p class="lead">Calidad del contenido</p>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p7" id="p7r1" value="1">
                                    <label class="form-check-label" for="p7r1">
                                        Excelente
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p7" id="p7r2" value="2">
                                    <label class="form-check-label" for="p7r2">
                                        Regular
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p7" id="p7r3" value="3">
                                    <label class="form-check-label" for="p7r3">
                                        Mala
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <p class="lead">Calidad del sitio</p>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p8" id="p8r1" value="1">
                                    <label class="form-check-label" for="p8r1">
                                        Excelente
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p8" id="p8r2" value="2">
                                    <label class="form-check-label" for="p8r2">
                                        Regular
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p8" id="p8r3" value="3">
                                    <label class="form-check-label" for="p8r3">
                                        Mala
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr class="dashed">
                        <div id="preguntas_3" class="row justify-content-around">
                            <div class="col-md-2">
                                <a href="https://www.biodiversidad.gob.mx" target="_blank"><img class="img-fluid" alt="CCH" src="/img/bloque2/b2_06_04.png"></a>
                            </div>
                            <div class="col-md-2">
                                <p class="lead">Actualidad de la información</p>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p9" id="p9r1" value="1">
                                    <label class="form-check-label" for="p9r1">
                                        Actualizado
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p9" id="p9r2" value="2">
                                    <label class="form-check-label" for="p9r2">
                                        No actualizado
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p9" id="p9r3" value="3">
                                    <label class="form-check-label" for="p9r3">
                                        Sin fecha
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <p class="lead">Confiabilidad del autor</p>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p10" id="p10r1" value="1">
                                    <label class="form-check-label" for="p10r1">
                                        Autor especializado
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p10" id="p10r2" value="2">
                                    <label class="form-check-label" for="p10r2">
                                        Autor no especializado
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p10" id="p10r3" value="3">
                                    <label class="form-check-label" for="p10r3">
                                        Sin autor
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <p class="lead">Calidad del contenido</p>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p11" id="p11r1" value="1">
                                    <label class="form-check-label" for="p11r1">
                                        Excelente
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p11" id="p11r2" value="2">
                                    <label class="form-check-label" for="p11r2">
                                        Regular
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p11" id="p11r3" value="3">
                                    <label class="form-check-label" for="p11r3">
                                        Mala
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <p class="lead">Calidad del sitio</p>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p12" id="p12r1" value="1">
                                    <label class="form-check-label" for="p12r1">
                                        Excelente
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p12" id="p12r2" value="2">
                                    <label class="form-check-label" for="p12r2">
                                        Regular
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p12" id="p12r3" value="3">
                                    <label class="form-check-label" for="p12r3">
                                        Mala
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr class="dashed">
                        <div id="preguntas_4" class="row justify-content-around">
                            <div class="col-md-2">
                                <a href="http://www.ib.unam.mx/m/revista/pdfs/01.-_1612.pdf" target="_blank"><img class="img-fluid" alt="CCH" src="/img/bloque2/b2_06_05.png"></a>
                            </div>
                            <div class="col-md-2">
                                <p class="lead">Actualidad de la información</p>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p13" id="p13r1" value="1">
                                    <label class="form-check-label" for="p13r1">
                                        Actualizado
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p13" id="p13r2" value="2">
                                    <label class="form-check-label" for="p13r2">
                                        No actualizado
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p13" id="p13r3" value="3">
                                    <label class="form-check-label" for="p13r3">
                                        Sin fecha
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <p class="lead">Confiabilidad del autor</p>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p14" id="p14r1" value="1">
                                    <label class="form-check-label" for="p14r1">
                                        Autor especializado
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p14" id="p14r2" value="2">
                                    <label class="form-check-label" for="p14r2">
                                        Autor no especializado
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p14" id="p14r3" value="3">
                                    <label class="form-check-label" for="p14r3">
                                        Sin autor
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <p class="lead">Calidad del contenido</p>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p15" id="p15r1" value="1">
                                    <label class="form-check-label" for="p15r1">
                                        Excelente
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p15" id="p15r2" value="2">
                                    <label class="form-check-label" for="p15r2">
                                        Regular
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p15" id="p15r3" value="3">
                                    <label class="form-check-label" for="p15r3">
                                        Mala
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <p class="lead">Calidad del sitio</p>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p16" id="p16r1" value="1">
                                    <label class="form-check-label" for="p16r1">
                                        Excelente
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p16" id="p16r2" value="2">
                                    <label class="form-check-label" for="p16r2">
                                        Regular
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="p16" id="p16r3" value="3">
                                    <label class="form-check-label" for="p16r3">
                                        Mala
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-12  text-center">
                                <input type="hidden" name="numcuest" value="3">
                                <input type="submit" class="btn btn-rosa" value="Enviar respuestas"/>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                        <div class="retroalimentacion b2_06_3 d-none {% if cuestionario7 == 1 %}d-block{% endif %}">
                            <h2 class="rosa">Retroalimentación </h2>
                            <div class="row">
                                <div class="col-lg-6">
                                      <h3>Biodiversidad</h3>
                                      <p>El sitio de biodiversidad es del gobierno mexicano y en los créditos se indica que fue creado en el 2012. No se mencionan las actualizaciones que ha tenido, ni tampoco la autoría específica de cada una de las partes del sitio. Sin embargo, al ser un sitio “.gob.mx” hay que considerar que la información es fidedigna en el caso de ciertos temas. Por otro lado, para temas más polémicos sobre la biodiversidad, donde intervienen intereses del Estado o los grupos de poder, un sitio de gobierno podría contener más propaganda que información. La presentación y la calidad del sitio son excelentes. </p>


                                </div>

                                <div class="col-lg-6">
                                      <h3>Monografías</h3>
                                      <p>Monografías.com es un sitio útil para tareas hechas al vapor, responde a ciertas necesidades. No obstante tiene información de calidad variable. En este caso particular se pudo observar que la información presentada no tiene un autor especializado, ni fecha de publicación.
                                          La presentación y la calidad del sitio son verdaderamente malas. </p>
                                </div>

                                <div class="col-lg-6">
                                      <h3>Revista Mexicana de Biodiversidad</h3>
                                      <p>La Revista Mexicana de Biodiversidad, a partir del 2019, volumen 90, ha adoptado una modalidad de publicación continua, con una estructura de artículos presentados en un único volumen al año.  Publica trabajos nacionales o extranjeros que sean el resultado de investigaciones científicas originales, en español o inglés, sobre el conocimiento de la biodiversidad del continente americano (sistemática, biogeografía, ecología y evolución), su conservación, manejo y aprovechamiento.</p>
                                      <p>La RMB es una publicación de Acceso Abierto con contenidos de interés para expertos –estudiantes, profesores e investigadores de instituciones educativas, tecnológicas, centros de investigación– de las diferentes áreas. Puedes <a href="http://www.revista.ib.unam.mx/index.php/bio">consultar lo que ofrece</a>.</p>

                                </div>

                                <div class="col-lg-6">
                                    <h3>Wikipedia</h3>
                                    <p>Wikipedia.org es el proyecto de la enciclopedia mundial. Es una de las herramientas más útiles en el internet.
                                          Habrás observado, sin embargo, que Wikipedia carece de referencias a autores, o fechas de actualización. Aunque presenta mucha información buena, generalmente es sin orden o caótica.
                                          La presentación y la calidad del sitio se pueden considerar regulares. </p>
                                </div>
                            </div>
                        </div>
                        {% include 'partials/completado.twig' with {'bandera': cuestionario7} only %}

                </div>
            </div>
    </div>
</div>

<div class="container-fluid mt-5">
    <div class="row minh-100">
        <div class="col-12 ">
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-lg flex-wrap justify-content-center">
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/tecnicas-de-estudio"><i class="fas fa-angle-double-left"></i></a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender"><i class="fas fa-level-up-alt"></i></a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/que-es-aprender">1</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/estilos-de-aprendizaje">2</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/cuestionario-honey-alonso">3</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/estrategias-de-aprendizaje">4</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/tecnicas-de-estudio">5</a></li>
                <li class="page-item active"><a class="page-link" href="{{base_path()}}bloques/aprender/busqueda-de-informacion">6</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/lectura">7</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/escritura">8</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/organizadores-graficos">9</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/habitos-de-estudio">10</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/lectura"><i class="fas fa-angle-double-right"></i></a></li>
              </ul>
            </nav>
        </div>
    </div>
</div>

<div class="modal fade" id="VideosModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="HoneyError" class="modal fade">
    <div class="modal-dialog modal-confirm modal-alerta">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <div class="icon-box">
                    <i class="fas fa-exclamation-circle"></i>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body text-center">
                <h4>¡Ups!</h4>
                <p>Responde todas las preguntas para poder continuar.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
