{% extends 'base/app-bloques.twig' %}

{% set page_title = 'Estrategias de aprendizaje' %}

{% block content %}

<div class="bg-rosa py-2 container-fluid  josh-js" data-josh-anim-name="bounceInDown">
    <div class="container">
        <h2 class="titulo__pantalla">{{page_title}}</h2>
    </div>
</div>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="" href="{{base_path()}}bloques/aprender">Aprender a aprender</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{page_title}}</li>
        </ol>
    </nav>
</div>
    <div class=" container-fluid absoluto d-none d-md-block josh-js" data-josh-anim-name="fadeInUp">

      <div class="row mt-5 color-fondo-objeto d-flex justify-content-center ">
          <div class="col-4">
            <img class="img-fluid" alt="CCH" src="/img/bloque2/b2_04_01.png">
          </div>
      </div>
    </div>
    <div class="container mt-5 josh-js" data-josh-anim-name="fadeInUp">
        <div class="col-lg-12">
            <h1>¿Cuáles son las “estrategias de aprendizaje”?</h1>
            <div class="row mb-5">
                <div class="col-lg-10 mx-auto">
                    <p>A lo largo de tu trayectoria escolar resolverás tareas, problemas y actividades. Mientras que el profesor tiene que seleccionar las mejores estrategias de enseñanza para dotar de sentido lo que ocurre dentro y fuera del aula, tú harás más significativo el proceso de aprendizaje cuando sepas reconocer, manejar y ampliar tus estrategias de aprendizaje.</p>
                </div>
            </div>
            <!-- CUSTOM BLOCKQUOTE -->
            <div class="row mt-5">
                <div class="col-lg-10 mx-auto">
                    <div class="blockquote blockquote-custom p-5 effect-1 rounded">
                        <div class="blockquote-custom-icon bg-azul shadow-sm text-white"><i class="far fa-2x fa-grin-stars"></i></i></div>

                        <div class="row">
                          <div class="col-lg-11">
                            <h1 class="azul font-light">Una <strong>estrategia de aprendizaje</strong> se puede definir de la siguiente manera:</h1>
                              <div class="pl-3">
                                  Es el camino o la vía que empleas de manera deliberada e intencional para lograr un objetivo de aprendizaje. En este proceso seleccionas una serie de conocimientos, procedimientos y técnicas de acuerdo con las exigencias de la tarea o el problema específico a resolver.
                              </div>
                          </div>
                        </div>

                    </div>
                </div>
            </div><!-- END -->
            <p class="lead morado mt-5 josh-js" data-josh-anim-name="fadeInUp">Las buenas estrategias de aprendizaje siempre comienzan con preguntas que ordenan nuestro pensamiento y conducta hacia el aprendizaje:</p>
        </div>
    </div>
    <div class="row paso-paso josh-js" data-josh-anim-name="fadeInUp">
        <div class="col-11 mx-auto">
            <ol>
                        <li>
                            <h1 class="morado">Comprender las características de la tarea</h1>
                            <h3>¿Qué hacer?</h3>
                            <h3>¿Cuándo?</h3>
                            <h3>¿Qué se tiene que lograr?</h3>
                            <h3>¿Cuáles son los objetivos</h3>
                        </li>
                        <li>
                            <h1 class="morado">Conocer tus capacidades, intereses y actitudes</h1>
                            <h3>¿Qué aspectos se me facilitan?</h3>
                            <h3>¿En qué aspectos es necesario pedir ayuda?</h3>
                        </li>
                        <li>
                            <h1 class="morado">Conocer las estrategias para alcanzar el objetivo</h1>
                            <h3>¿Qué procedimientos son los convenientes para alcanzar los objetivos?</h3>
                        </li>
                    </ol>
        </div>
     </div>
<div class="container josh-js" data-josh-anim-name="fadeInUp">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <p>La selección de las estrategias de aprendizaje es individual porque cada quien es único y debes valorar tus habilidades y conocimientos para cada una de las materias. También depende de una serie de factores externos como las exigencias de la materia y el <strong>contenido</strong> temático, el contexto y los objetivos de estudio.</p>
        <p>En la selección de las estrategias de aprendizaje es de fundamental importancia identificar cuál es el <strong>objetivo</strong> de la tarea o el problema a resolver: los objetivos siempre engloban <strong>habilidades cognitivas</strong> o habilidades de pensamiento como las que se observan en la siguiente paleta. </p>
      </div>
    </div>
</div>
<div class="bg-rosa text-white text-center d-flex container-fluid josh-js" data-josh-anim-name="fadeInUp">
    <div class="container p-3">
        <div class=" text-white lead">Selecciona cada verbo para revisar su definición:</div>
        <div class="text-white d-none d-xl-block mt-3"><i aria-hidden="true" class=" far fa-2x fa-arrow-alt-circle-down"></i></div>
    </div>
</div>
<div class="container text-center" >
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-6">
                <div class="row no-gutters">
                    <div class="col-12">
                        <div class="box8" style="background-color: #00aa8f;">
                            <h3 class="title">Observar</h3>
                            <div class="box-content p-2">
                                Examinar, mirar con atención y recato.
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="box8" style="background-color: #34ad58;">
                            <h3 class="title">Describir</h3>
                            <div class="box-content p-2">
                                Explicar, de forma detallada y ordenada, cómo son las personas, los lugares o los objetos.
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="box8" style="background-color: #68b92e;">
                            <h3 class="title">Caracterizar</h3>
                            <div class="box-content p-2">
                                Determinar los atributos peculiares de alguien o de algo, de modo que claramente se distinga de los demás.
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="box8" style="background-color: #91c81f;">
                            <h3 class="title">Comprender</h3>
                            <div class="box-content p-2">
                                Conocer o tener idea clara de las cosas.
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="box8" style="background-color: #abd305;">
                            <h3 class="title">Definir</h3>
                            <div class="box-content p-2">
                                Fijar con claridad, exactitud y precisión la significación de una palabra o la naturaleza de una persona o cosa.
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="box8" style="background-color: #fcdb00;">
                            <h3 class="title">Identificar</h3>
                            <div class="box-content p-2">
                                Reconocer o distinguir algo con base en sus características generales.
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="box8" style="background-color: #f8c300;">
                            <h3 class="title">Relacionar</h3>
                            <div class="box-content p-2">
                                Establecer relación entre personas, cosas, ideas o hechos.
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="box8" style="background-color: #f1a400;">
                            <h3 class="title">Clasificar</h3>
                            <div class="box-content p-2">
                                Agrupar en categorías o clases.  En estas se pueden incluir hechos, fenómenos, objetos, etc.
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="box8" style="background-color: #eb891b;">
                            <h3 class="title">Interpretar</h3>
                            <div class="box-content p-2">
                                Explicar o declarar el sentido de algo de manera personal.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="row no-gutters">
                    <div class="col-12">
                        <div class="box8" style="background-color: #e66f43;">
                            <h3 class="title">Comparar</h3>
                            <div class="box-content p-2">
                                Distinguir las semejanzas y las diferencias entre objetos y hechos con base en sus diferencias.
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="box8" style="background-color: #dd137b;">
                            <h3 class="title">Expresar</h3>
                            <div class="box-content p-2">
                                Manifestar de manera clara el mensaje que se quiere emitir.
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="box8" style="background-color: #b52d7f;">
                            <h3 class="title">Analizar</h3>
                            <div class="box-content p-2">
                                Distinguir y separar las partes de un todo hasta llegar a conocer sus principios o elementos.
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="box8" style="background-color: #913783;">
                            <h3 class="title">Sintetizar</h3>
                            <div class="box-content p-2">
                                Componer un todo por la reunión de sus partes.
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="box8" style="background-color: #703c85;">
                            <h3 class="title">Explicar</h3>
                            <div class="box-content p-2">
                                Dar a conocer la causa o motivo de algo.
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="box8" style="background-color: #38579a;">
                            <h3 class="title">Deducir</h3>
                            <div class="box-content p-2">
                                Sacar consecuencias de un principio, proposición o supuesto.
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="box8" style="background-color: #006cae;">
                            <h3 class="title">Generalizar</h3>
                            <div class="box-content p-2">
                                Abstraer lo que es común y esencial a muchas cosas, para formar un concepto general que las comprenda todas.
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="box8" style="background-color: #0080c4;">
                            <h3 class="title">Evaluar</h3>
                            <div class="box-content p-2">
                                Estimar, apreciar, calcular el valor de algo.
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="box8" style="background-color: #0093dd;">
                            <h3 class="title">Valorar</h3>
                            <div class="box-content p-2">
                                Reconocer, estimar o apreciar el valor o mérito de alguien o algo.
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row josh-js" data-josh-anim-name="fadeInUp">
      <div class="col-lg-10 mx-auto">
        <p>Una vez identificado el objetivo, podrás armar una estrategia para tratar de alcanzarlo o cumplirlo. Es importante tener claro qué solicita el profesor o la tarea porque es muy distinto analizar, describir, explicar, identificar o valorar un fenómeno humano o natural; asimismo las estrategias para lograr identificar las características de un sistema político son probablemente diferentes de las estrategias que nos posibilitan comparar tres sistemas políticos.</p>
      </div>
    </div>
    <div class="row my-5 josh-js" data-josh-anim-name="fadeInUp">
        <div class="col-lg-12">
          <h1>Recuerda que…</h1>
        </div>
    </div>
    <div class="row josh-js" data-josh-anim-name="fadeInUp">
      <div class="col-lg-10 mx-auto">
        <p class="morado lead">Escoger y construir las estrategias de aprendizaje no es tarea fácil. Aprender a aprender significa tener la capacidad de reflexionar detenidamente sobre la forma en cómo se aprende y actuar en consecuencia, autorregulando el propio proceso de aprendizaje mediante el uso de estrategias flexibles y apropiadas, que se transfieren y adaptan a nuevas situaciones.</p>
        <p class="morado lead">Aprendes a aprender cuando:</p>
        <div class="rounded-list pl-5">
            <ol>
                <li><p>Controlas tu proceso de aprendizaje.</p></li>
                <li><p>Dominas ciertas técnicas y procedimientos.</p></li>
                <li><p>Te das cuenta de lo que haces.</p></li>
                <li><p>Captas las exigencias de las tareas y problemas que se tienen que resolver.</p></li>
                <li><p>Planificas y examinas tus propias realizaciones, identificando los aciertos y las dificultades.</p></li>
                <li><p>Empleas estrategias de estudio pertinentes para cada situación.</p></li>
                <li><p>Valoras los logros obtenidos y corriges tus errores.</p></li>
            </ol>
        </div>
      </div>
    </div>
</div>
<div class="container-fluid bg-rosa mt-5 responde josh-js" data-josh-anim-name="fadeInUp">
    <div class="container">
    <div class="responde-icon bg-rosa shadow text-white"><i class="far fa-2x fa-grin" aria-hidden="true"></i></div>
    <h5 class="text-white font-weight-bold">
         &nbsp; Realiza el siguiente ejercicio...  </h5>
    </div>
</div>
<div class="container mt-5 josh-js" data-josh-anim-name="fadeInUp">
    <div class="col-lg-10 mx-auto">
      <h1 class="rosa">¿Cuáles son las estrategias de aprendizaje más adecuadas?</h1>
       <p class="rosa font-weight-bold">Con la siguiente actividad identificarás las estrategias más adecuadas para lograr los objetivos de aprendizaje que dos profesores te plantean.</p>
       <p class="rosa">Revisa los siguientes dos ejemplos en los que se presentan diferentes estrategias de aprendizaje y señala cuál de éstas sería la mejor para cumplir con el objetivo de la tarea.</p>
    </div>
</div>


<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-11 mx-auto">
            <form id="b2_04" method="post" action="/bloques/aprender/estrategias-de-aprendizaje">
                <div class="row">
                    <div class="col-xl-6">
                        <h2 class="rosa">Ejemplo 1: “¿Qué es el amor?”</h2>
                        {% if cuestionario4 == 0 %}
                            <div class="bg-light p-3">
                                <p>La profesora de Biología te pide <span class="font-weight-bold morado">explicar</span> el fenómeno del amor desde una perspectiva biológica y para ello te proporciona el siguiente texto de la revista ¿Cómo ves?</p>
                                <p class="text-center"><a href="/doc/que-es-el-amor-respuestas-desde-la-biologia.pdf" target="_blank" class="hvr-bob"><i class="fas fa-5x fa-file-pdf"></i></a></p>
                                <p class="morado font-weight-bold">Selecciona cuál de las siguientes tres estrategias sería la más adecuada para lograr el objetivo de aprendizaje:</p>
                                <div class="row">
                                    <div class="col-md-4">
                                        <fieldset class="blo1">
                                            <input class="form-check-input" type="radio" name="p1" id="radio1" value="1">
                                            <label class="radio form-check-label" for="radio1">Opción 1</label>
                                            <!--<label class="radio " for="radio1">
                                                <input name="p1" id="radio1" value="1" type="radio">
                                                <h2 class="cuesttext">Opción 1</h2>
                                            </label>-->
                                            <hr class="dashed">
                                            <div class="ml-1">
                                                <ul>
                                                    <li>
                                                        <p class="small">Revisar la publicación, el texto, las imágenes, el autor.</p>
                                                    </li>
                                                    <li>
                                                        <p class="small">Leer el texto.</p>
                                                    </li>
                                                    <li>
                                                        <p class="small">Plantearse preguntas generales acerca del tema.</p>
                                                    </li>
                                                    <li>
                                                        <p class="small">Anotar ideas principales, hechos o detalles de la lectura.</p>
                                                    </li>
                                                    <li>
                                                        <p class="small">Realizar un esquema para tener una visión global del tema.</p>
                                                    </li>
                                                    <li>
                                                        <p class="small">Parafrasear las ideas principales, hechos o detalles de la lectura.</p>
                                                    </li>
                                                    <li>
                                                        <p class="small">Reflexionar acerca de los contenidos y plantear preguntas de profundización.</p>
                                                    </li>
                                                    <li>
                                                        <p class="small">Redactar un informe explicativo sobre el tema.</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="blo2">
                                            <input class="form-check-input" type="radio" name="p1" id="radio2" value="2">
                                            <label class="radio form-check-label" for="radio2">Opción 2</label>
                                            <!--<label class="radio" for="radio2">
                                                <input name="p1" id="radio2" value="2" type="radio">
                                                <h2 class="cuesttext">Opción 2</h2>
                                            </label>-->
                                            <hr class="dashed">
                                            <div class="ml-1">
                                                <ul>
                                                    <li>
                                                        <p class="small">Leer el texto.</p>
                                                    </li>
                                                    <li>
                                                        <p class="small">Anotar ideas principales, hechos o detalles de la lectura.</p>
                                                    </li>
                                                    <li>
                                                        <p class="small">Recuperar las ideas principales de los recursos y redactar un resumen.</p>
                                                    </li>
                                                    <li>
                                                        <p class="small">Reflexionar sobre el impacto biológico del amor en la vida personal.</p>
                                                    </li>
                                                    <li>
                                                        <p class="small">Hacer un Power Point para explicar el tema.</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="blo3">
                                            <input class="form-check-input" type="radio" name="p1" id="radio3" value="3">
                                            <label class="radio form-check-label" for="radio3">Opción 3</label>
                                            <!--<label class="radio " for="radio3">
                                                <input name="p1" id="radio3" value="3" type="radio">
                                                <span></span>
                                                <h2 class="cuesttext">Opción 3</h2>
                                            </label>-->
                                            <hr class="dashed">
                                            <div class="ml-1">
                                                <ul>
                                                    <li>
                                                        <p class="small">Revisar la publicación, el texto, las imágenes, el autor.</p>
                                                    </li>
                                                    <li>
                                                        <p class="small">Leer el texto.</p>
                                                    </li>
                                                    <li>
                                                        <p class="small">Plantearse preguntas generales acerca del tema.</p>
                                                    </li>
                                                    <li>
                                                        <p class="small">Anotar ideas principales, hechos o detalles de la lectura.</p>
                                                    </li>
                                                    <li>
                                                        <p class="small">Hacer un resumen</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="retroalimentacion">
                                <h2 class="rosa">Retroalimentación. </h2>

                                <p>Para alcanzar el objetivo: “<span class="font-weight-bold">Explicar</span> el fenómeno del amor desde una perspectiva biológica” que propuso la profesora de Biología, hay muchas estrategias de aprendizaje posibles.</p>
                                <p>Recuerda que una estrategia es el camino (como los pasos de las dos primeras opciones) que empleas de manera deliberada e intencional para lograr un objetivo de aprendizaje. En este proceso seleccionas una serie de conocimientos, procedimientos y técnicas de acuerdo con las exigencias de la tarea o el problema específico a resolver. </p>
                                <p>Entre las tres opciones las dos primeras parecen las más acertadas. La tercera no responde al objetivo planteado porque el resumen recupera las ideas del autor del texto y no tiene la intención de explicar a profundidad el tema del amor desde una perspectiva biológica.  </p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-xl-6">
                        <h2 class="rosa">Ejemplo 2: “El efecto mariposa”</h2>
                        {% if cuestionario4 == 0 %}
                            <div class="bg-light p-3">
                            <p>El profesor de talleres te pide <span class="font-weight-bold morado">exponer</span> “el impacto del efecto mariposa en nuestra vida cotidiana” para la próxima clase (dentro de 1 día). Te ofrece el siguiente recurso:</p>
                            <p class="text-center"><a href="#"><a href="#" class="video-btn hvr-bob" data-toggle="modal" data-src="https://www.youtube.com/embed/_w5uPPhlSQk" data-target="#VideosModal"><i class="fas fa-5x fa-film"></i></a></p>
                            <p class="morado font-weight-bold">Selecciona cuál de las siguientes tres estrategias sería la más adecuada para lograr el objetivo de aprendizaje:</p>
                            <div class="row">
                                <div class="col-md-4">
                                    <fieldset class="blo21">
                                        <input class="form-check-input" type="radio" name="p2" id="2radio1" value="1">
                                        <label class="radio form-check-label" for="2radio1">Opción 1</label>
                                        <!--<label class="radio " for="radio1">
                                            <input name="p2" id="radio1" value="1" type="radio">
                                            <span></span>
                                            <h2 class="cuesttext">Opción 1</h2>
                                        </label>-->
                                        <hr class="dashed">
                                        <div class="ml-1">
                                            <ul>
                                                <li>
                                                    <p class="small">Observar el video.</p>
                                                </li>
                                                <li>
                                                    <p class="small">Plantearse preguntas generales acerca del tema.</p>
                                                </li>
                                                <li>
                                                    <p class="small">Revisar nuevamente el video.</p>
                                                </li>
                                                <li>
                                                    <p class="small">Anotar ideas principales, hechos o detalles.</p>
                                                </li>
                                                <li>
                                                    <p class="small">Parafrasear las ideas principales, hechos o detalles.</p>
                                                </li>
                                                <li>
                                                    <p class="small">Redactar un informe explicativo sobre el tema.</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-md-4">
                                    <fieldset class="blo22">
                                        <input class="form-check-input" type="radio" name="p2" id="2radio2" value="2">
                                        <label class="radio form-check-label" for="2radio2">Opción 2</label>
                                        <!--<label class="radio  " for="radio2">
                                            <input name="p2" id="radio2" value="2" type="radio">
                                            <span></span>
                                            <h2 class="cuesttext">Opción 2</h2>
                                        </label>-->
                                        <hr class="dashed">
                                        <div class="ml-1">
                                            <ul>
                                                <li>
                                                    <p class="small">Observar el video.</p>
                                                </li>
                                                <li>
                                                    <p class="small">Anotar las ideas principales.</p>
                                                </li>
                                                <li>
                                                    <p class="small">Investigar más acerca del tema.</p>
                                                </li>
                                                <li>
                                                    <p class="small">Reflexionar sobre el impacto del efecto mariposa en tu propia vida.</p>
                                                </li>
                                                <li>
                                                    <p class="small">Escribir un breve escenario hipotético de cómo el efecto mariposa influyó en una etapa concreta de tu vida.</p>
                                                </li>
                                                <li>
                                                    <p class="small">Exponer tu escrito ante el salón de clase.</p>
                                                </li>
                                            </ul>
                                        </div>

                                    </fieldset>
                                </div>
                                <div class="col-md-4">
                                    <fieldset class="blo23">
                                        <input class="form-check-input" type="radio" name="p2" id="2radio3" value="3">
                                        <label class="radio form-check-label" for="2radio3">Opción 3</label>
                                        <!--<label class="radio" for="radio3">
                                            <input name="p2" id="radio3" value="3" type="radio">
                                            <h2 class="cuesttext">Opción 3</h2>
                                        </label>-->
                                        <hr class="dashed">
                                        <div class="ml-1">
                                            <ul>
                                                <li>
                                                    <p class="small">Observar el video.</p>
                                                </li>
                                                <li>
                                                    <p class="small">Anotar las ideas principales.</p>
                                                </li>
                                                <li>
                                                    <p class="small">Hacer un mapa mental.</p>
                                                </li>
                                                <li>
                                                    <p class="small">Investigar más acerca del tema.</p>
                                                </li>
                                                <li>
                                                    <p class="small">Realizar un podcast sobre el tema.</p>
                                                </li>

                                                <li>
                                                    <p class="small">Presentar la grabación ante el salón de clase.</p>
                                                </li>
                                            </ul>
                                        </div>

                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        {% else %}
                            <div class="retroalimentacion">
                                <h2 class="rosa">Retroalimentación. </h2>

                                <p>Como en el ejemplo anterior no hay una sola estrategia de aprendizaje posible para alcanzar el objetivo propuesto por el profesor de talleres: “<span class="font-weight-bold">Exponer</span> el impacto del efecto mariposa en nuestra vida cotidiana” </p>
                                <p>Un punto importante a considerar es que la tarea se tiene que resolver de un día para otro, así tendrás que organizar bien tu tiempo. También es necesario identificar que el tema del efecto mariposa debe relacionarse con tu vida cotidiana.  </p>
                                <p>En este caso parece que la opción 2 es la más adecuada: en el camino trazado para llegar al objetivo se toma en cuenta el aspecto vivencial y la escritura creativa que son fundamentales para las materias de talleres. También la opción 3 parece buena, pero tiene dos problemas: para hacer un podcast es importante hacer un guion o escenario previo y hay que considerar el tiempo que se requiere para elaborarlo adecuadamente.  </p>
                                <p>En la primera opción solamente se recupera la información del video, así que no se ha interpretado bien el objetivo de aprendizaje propuesto por el maestro.</p>
                            </div>
                        {% endif %}
                    </div>
                    {% if cuestionario4 == 0 %}
                        <div class="col-md-12 mx-auto text-center mt-5">
                            <input class="btn btn-rosa" type="submit" value="Enviar respuestas" />
                        </div>
                    {% endif %}
                </div>
            </form>
            {% include 'partials/completado.twig' with {'bandera': cuestionario4} only %}
        </div>
    </div>
</div>




<div class="modal fade" id="VideosModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
                </div>
                <div class="blockquote-footer">
                    Imaginantes. El efecto mariposa. Recuperado de  http://www.youtube.com/watch?v=f4a_GymZS1Q   (septiembre, 2020).
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="row minh-100">
        <div class="col-12 ">
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-lg flex-wrap justify-content-center">
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/cuestionatio-honey-alonso"><i class="fas fa-angle-double-left"></i></a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender"><i class="fas fa-level-up-alt"></i></a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/que-es-aprender">1</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/estilos-de-aprendizaje">2</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/cuestionario-honey-alonso">3</a></li>
                <li class="page-item active"><a class="page-link" href="{{base_path()}}bloques/aprender/estrategias-de-aprendizaje">4</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/tecnicas-de-estudio">5</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/busqueda-de-informacion">6</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/lectura">7</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/escritura">8</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/organizadores-graficos">9</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/habitos-de-estudio">10</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/tecnicas-de-estudio"><i class="fas fa-angle-double-right"></i></a></li>
              </ul>
            </nav>
        </div>
    </div>
</div>
{% include 'partials/formError.twig' %}
{% endblock %}
