{% extends 'base/app-bloques.twig' %}

{% set page_title = 'Estilos de aprendizaje' %}

{% block content %}

<div class="bg-rosa py-2 container-fluid  josh-js" data-josh-anim-name="bounceInDown">
    <div class="container">
        <h2 class="titulo__pantalla">{{page_title}}</h2>
    </div>
</div>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="" href="{{base_path()}}bloques/aprender">Aprender a aprender</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{page_title}}</li>
        </ol>
    </nav>
</div>
    <div class="container josh-js" data-josh-anim-name="fadeInUp">
        <div class="row mt-5">
            <div class="col-md-12">
                <h1>¿Qué son los estilos de aprendizaje? | ¿Cuál es el tuyo?</h1>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-10 mx-auto">
                <p>Como has visto hasta ahora, el aprendizaje es un proceso de gran relevancia para el ser humano, que está presente en nuestra vida cotidiana y del cual existen muchas variedades. Para muestra, lee los siguientes ejemplos:</p>
            </div>
        </div>
    </div>
    <div class="container-fluid mb-2 josh-js" data-josh-anim-name="fadeInUp">
        <div class="row no-gutters">
            <div class="col-lg-3 offset-lg-1 d-none d-lg-block d-xl-block">
                <img class="img-fluid" alt="CCH" src="/img/bloque2/b2_02_01.png">
            </div>
            <div class="col-lg-8 bg-verde mt-5 col-md-12">
                <div class="row mt-5">
                    <div class="col-lg-8 mt-3 pl-5">
                        <p class="text-white">
                            <span class="font-weight-bold">Alejandro</span>
                            tiene 15 años y le gusta mucho la música, particularmente el rock, por lo que está muy interesado en aprender inglés. Además de lo que practica en la escuela, él ha implementado diversas medidas para mejorar su dominio de este idioma: identifica la
                            letra de todas las canciones que le gustan, ve películas con subtítulos en inglés, lee libros en inglés y configuró su teléfono celular y otros accesorios para utilizarlos en esta lengua.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mb-2 josh-js" data-josh-anim-name="fadeInUp">
        <div class="row no-gutters">
            <div class="col-lg-9 bg-azul mt-5 col-md-12">
                <div class="row mt-5">
                    <div class="col-lg-8 offset-lg-4 mt-2 pr-5">
                        <p class="text-white text-right">
                            <span class="font-weight-bold">Lorena</span>
                            tiene un examen de Historia la próxima semana. El examen será de preguntas abiertas y para prepararse complementó sus apuntes con las lecturas que la maestra les recomendó en clase. Posteriormente, hizo un listado de los aspectos que ella consideró más importantes y que por tanto considera que se van a incluir en el examen. Como le gusta mucho dibujar, elaboró un mapa mental en el que se incluyen los puntos centrales del examen y se muestran las interrelaciones entre los diferentes conceptos</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 d-none d-lg-block d-xl-block">
                <img class="img-fluid" alt="CCH" src="/img/bloque2/b2_02_02.png">
            </div>
        </div>
    </div>

    <div class="container josh-js" data-josh-anim-name="fadeInUp">
        <div class="row mt-5">
            <div class="col-md-10 mx-auto">
                <p>Los ejemplos anteriores nos confirman que las herramientas y formas que empleamos para aprender varían en función de diversos aspectos, entre los que se encuentran:</p>
                <div class="row mt-3">
                    <div class="col-md-10 mx-auto">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">El
                                <span class="font-weight-bold rosa">contenido temático</span>: no es lo mismo estudiar historia que inglés o matemáticas.</li>
                            <li class="list-group-item">El
                                <span class="font-weight-bold rosa">contexto</span>
                                y los
                                <span class="font-weight-bold rosa">objetivos de estudio</span>: tampoco es igual aprender en la escuela (bajo la guía del profesor, siguiendo un Programa de Estudio y horarios determinados) que por cuenta propia; ni es lo mismo prepararse para un
                                examen escolar que para afrontar una situación determinada (por ejemplo cantar una canción en inglés).</li>
                            <li class="list-group-item">Las
                                <span class="font-weight-bold rosa">características personales</span>: la motivación, la edad, los conocimientos previos, las capacidades cognitivas y otros rasgos de personalidad facilitarán o entorpecerán el aprendizaje de cierto contenido. En los
                                ejemplos que leíste, los grados de motivación e intereses de los participantes influyen en la facilidad y velocidad con la que ellos aprenden.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-10 mx-auto">
                <p>Respecto a este último punto es importante mencionar que, así como la gente difiere en gustos musicales o de vestimenta, existe también una diversidad de preferencias en la forma en que la gente le gusta y se le facilita aprender; incluso si se
                    está estudiando el mismo contenido temático en el mismo contexto. Por ejemplo, para preparar un examen de Química sobre el tema del “Agua” algunos pueden optar por revisar un documental y anotar las ideas principales, mientras otros eligen realizar
                    una lectura y elaborar un mapa conceptual a partir de la misma o bien elaborar y responder un cuestionario que sirva como guía de estudio.</p>
                <!-- CUSTOM BLOCKQUOTE -->
                <div class="blockquote blockquote-custom p-5 effect-1 rounded mt-5">
                    <div class="blockquote-custom-icon bg-azul shadow-sm text-white">
                        <i class="far fa-2x fa-grin-stars"></i>
                    </i>
                </div>

                <div class="row mt-4">
                    <div class="col-lg-7">
                        <p>Los investigadores han descubierto que la gente presenta
                            <span class="font-weight-bold rosa">preferencias o tendencias</span>
                            al utilizar ciertos métodos o conjunto de estrategias para aprender, a las cuales se les conoce como
                            <span class="font-weight-bold rosa">“estilos de aprendizaje”.</span>
                            Fíjate bien en que estas tendencias o preferencias indican que se trata de aquellas estrategias que se usan con
                            <span class="font-weight-bold rosa">mayor frecuencia</span>, pero esto no quiere decir que sean las únicas que utiliza el individuo (igual que el hecho de que alguien ame el rock y lo escuche casi todo el tiempo no significa que de vez en cuando no escuche salsa o música clásica).</p>
                    </div>
                    <div class="col-lg-5">
                        <img src="/img/bloque2/b2_02_03.png" alt="cch alumnos" class="img-fluid">
                    </div>
                </div>

            </div>
            <!-- END -->

            <p class="mt-5 josh-js" data-josh-anim-name="fadeInUp">Es importante que conozcas cuál es tu estilo de aprendizaje para que identifiques las estrategias que te facilitan la adquisición de conocimientos, habilidades y actitudes, así como aquellas áreas o habilidades que necesitas reforzar
                o que aún no has desarrollado.</p>
        </div>
    </div>
</div>

<div class="container-fluid bg-rosa mb-5 josh-js" data-josh-anim-name="fadeInUp">
    <div class="row">
        <div class="col-7 mx-auto">
            <div class="p-2 text-white text-center lead">
                Te invitamos a responder el "Cuestionario: Estilos de Aprendizaje Honey-Alonso" (siguiente pantalla) que te permitirá conocer cuál es tu estilo de aprendizaje.
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-5">
    <div class="row minh-100">
        <div class="col-12 ">
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-lg flex-wrap justify-content-center">
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/que-es-aprender"><i class="fas fa-angle-double-left"></i></a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/que-es-aprender">1</a></li>
                <li class="page-item active"><a class="page-link" href="{{base_path()}}bloques/aprender/estilos-de-aprendizaje">2</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/cuestionario-honey-alonso">3</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/estrategias-de-aprendizaje">4</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/tecnicas-de-estudio">5</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/busqueda-de-informacion">6</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/lectura">7</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/escritura">8</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/organizadores-graficos">9</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/habitos-de-estudio">10</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/cuestionario-honey-alonso"><i class="fas fa-angle-double-right"></i></a></li>
              </ul>
            </nav>
        </div>
    </div>
</div>

{% endblock %}
