{% extends 'base/app-bloques.twig' %}

{% set page_title = 'Técnicas de estudio' %}

{% block content %}

<div class="bg-rosa py-2 container-fluid  josh-js" data-josh-anim-name="bounceInDown">
    <div class="container">
        <h2 class="titulo__pantalla">{{page_title}}</h2>
    </div>
</div>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="" href="{{base_path()}}bloques/aprender">Aprender a aprender</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{page_title}}</li>
        </ol>
    </nav>
</div>
<!-- <div class=" position-fixed w-100 d-flex">
    <div class="carousel slide carousel-fade w-100 justify-content-end align-items-center d-flex" data-ride="carousel" data-interval="5000" data-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/img/bloque2/b2_05_02.webp" alt=" CCH" class="img-responsive d-block ">
            </div>
            <div class="carousel-item">
                <img src="/img/bloque2/b2_05_03.webp" alt=" CCH" class="img-responsive  d-block ">
            </div>
            <div class="carousel-item">
                <img src="/img/bloque2/b2_05_04.webp" alt=" CCH" class="img-responsive  d-block ">
            </div>
        </div>
    </div>

</div> -->
<!--     <div class="container josh-js" data-josh-anim-name="fadeInUp">
        <div class="row mt-5">
            <div class="col-md-12">

            </div>
        </div>
    </div> -->

    <div class="container-fluid mt-5 josh-js" data-josh-anim-name="fadeInUp">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-xl-4 col-5 col-md-4">
                <div class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000" data-pause="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/img/bloque2/b2_05_02.jpg" alt=" CCH" class="img-fluid  ">
                        </div>
                        <div class="carousel-item">
                            <img src="/img/bloque2/b2_05_03.jpg" alt=" CCH" class="img-fluid  ">
                        </div>
                        <div class="carousel-item" >
                            <img src="/img/bloque2/b2_05_04.jpg" alt=" CCH" class="img-fluid  ">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-12 mt-3 mt-xl-0">
                <h1 class="text-center mb-3">¿Conoces a estos deportistas mexicanos?  </h1>
                <p>En las olimpiadas de Tokio 2020, tuvieron una participación destacada en cada una de sus disciplinas.  </p>
                <p>Haciendo una analogía con el deporte, <strong>Donovan Carrillo</strong> en patinaje artístico; <strong>Alejandra Valencia</strong> y <strong>Luis Álvarez</strong>, en el tiro con arco; y <strong>Gabriela Agúndez</strong> y <strong>Alejandra Orozco</strong> en los clavados; mejoran su desempeño gracias a que han logrado dominar una serie de técnicas básicas; por ejemplo: Donovan con los saltos y giros, Alejandra y Luis con el pretensado y el anclaje; y Gabriela y Alejandra con los saltos. </p>
                <p>Para <strong class="morado">desarrollar estrategias de aprendizaje</strong>, tal como ocurre con los deportes, es muy importante que te involucres en las tareas o problemas a resolver y que, como los deportistas, manejes <strong>una serie de técnicas y procedimientos básicos</strong>.</p>
                <p>Así mismo, para aprender de manera consciente e intencional es de fundamental importancia recurrir a habilidades como:</p>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-morado josh-js" data-josh-anim-name="fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-md-5 offset-md-7">
                    <div class="p-2 text-white lead">
                        <i class="fas fa-search"></i>
                        &nbsp;&nbsp; Búsqueda de información</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-azul josh-js" data-josh-anim-name="fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-md-5 offset-md-7">
                    <div class="p-2 text-white lead">
                        <i class="fas fa-book"></i>
                        &nbsp;&nbsp; Lectura</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-morado josh-js" data-josh-anim-name="fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-md-5 offset-md-7">
                    <div class="p-2 text-white lead">
                        <i class="fas fa-pen-alt"></i>
                        &nbsp;&nbsp; Escritura</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-azul josh-js" data-josh-anim-name="fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-md-5 offset-md-7">
                    <div class="p-2 text-white lead">
                        <i class="fas fa-sitemap"></i>
                        &nbsp; Organización gráfica de la información</div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-rosa mt-3 mb-5 p-3 josh-js" data-josh-anim-name="fadeInUp">
        <div class="row">
            <div class="col-7 mx-auto">
                <div class="p-2 text-white text-center lead">
                    Aprende de estas técnicas en las siguientes pantallas...
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div class="row minh-100">
            <div class="col-12 ">
                <nav aria-label="Page navigation example">
                  <ul class="pagination pagination-lg flex-wrap justify-content-center">
                    <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/estrategias-de-aprendizaje"><i class="fas fa-angle-double-left"></i></a></li>
                    <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/que-es-aprender">1</a></li>
                    <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/estilos-de-aprendizaje">2</a></li>
                    <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/cuestionario-honey-alonso">3</a></li>
                    <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/estrategias-de-aprendizaje">4</a></li>
                    <li class="page-item active"><a class="page-link" href="{{base_path()}}bloques/aprender/tecnicas-de-estudio">5</a></li>
                    <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/busqueda-de-informacion">6</a></li>
                    <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/lectura">7</a></li>
                    <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/escritura">8</a></li>
                    <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/organizadores-graficos">9</a></li>
                    <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/habitos-de-estudio">10</a></li>
                    <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/busqueda-de-informacion"><i class="fas fa-angle-double-right"></i></a></li>
                  </ul>
                </nav>
            </div>
        </div>
    </div>

{% endblock %}
