{% extends 'base/app-bloques.twig' %}

{% set page_title = '¿Qué es aprender?' %}

{% block content %}
<div class="bg-rosa py-2 container-fluid  josh-js" data-josh-anim-name="bounceInDown">
    <div class="container">
        <h2 class="titulo__pantalla">{{page_title}}</h2>
    </div>
</div>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="" href="{{base_path()}}bloques/aprender">Aprender a aprender</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{page_title}}</li>
        </ol>
    </nav>
</div>

    <!--<div class="bg-rosa container-fluid py-3  josh-js" data-josh-anim-name="bounceInDown">
        <div class="row">
            <div class="col-lg-4 d-md-none d-lg-block d-none d-sm-block d-sm-none d-md-block">
                <img class="img-fluid" alt="" src="/img/bloque2/bloquedos-int.png">
            </div>
            <div class="col-lg-7 col-md-12 mt-5">
                <h2 class="titulobloque">Aprender a aprender</h2>
                <div class="proposito mt-3">El Colegio de Ciencias y Humanidades propone un modelo educativo y una forma de enseñar y aprender distintos de otros sistemas de Educación Media Superior. Descubre sus principios y lo que se espera de ti alumno de nuevo ingreso.</div>
                <ul class="preguntas mt-5 mb-5">
                    <li>
                        <i class="fas fa-long-arrow-alt-right azul-claro"></i>
                        &nbsp;&nbsp; ¿Cómo aprendemos?</li>
                    <li>
                        <i class="fas fa-long-arrow-alt-right azul-claro"></i>
                        &nbsp;&nbsp; ¿Eres un alumno activo, reflexivo, teórico o pragmático?</li>
                    <li>
                        <i class="fas fa-long-arrow-alt-right azul-claro"></i>
                        &nbsp;&nbsp; ¿Qué es el efecto mariposa? </li>
                    <li>
                        <i class="fas fa-long-arrow-alt-right azul-claro"></i>
                        &nbsp;&nbsp; ¿Cómo se explica el amor en términos biológicos? </li>
                    <li>
                        <i class="fas fa-long-arrow-alt-right azul-claro"></i>
                        &nbsp;&nbsp; ¿Cómo consultar libros en la biblioteca digital del CCH? </li>
                    <li>
                        <i class="fas fa-long-arrow-alt-right azul-claro"></i>
                        &nbsp;&nbsp; ¿Cuáles son tus hábitos de estudio? </li>
                </ul>

            </div>
        </div>
        <div class="container text-center">
            <div class="enfasis amarillo">Descubre tu estilo de aprendizaje y reflexiona acerca de tus estrategias, técnicas y hábitos para aprender...</div>
        </div>
    </div>-->
    <div class="container josh-js" data-josh-anim-name="fadeInUp">
        <div class="row mt-5">
            <div class="col-12">
                <div class="col-lg-10 mx-auto">
                    <p>Tal vez en algún momento de tu vida te has hecho alguna de estas preguntas: <strong>¿Por qué cuando estudio siento que no aprendo o que me cuesta mucho trabajo retener la información? ¿Para qué tengo que ir a la escuela? ¿Para qué me va a servir lo que aprendo? ¿Qué sentido tiene saber toda la información que me ofrecen en la escuela?</strong></p>
                    <p>Si alguna vez en tu trayectoria escolar te has hecho mínimo una de esas preguntas, queremos decirte que tiene sentido formulártelas. No sólo tú, sino muchas personas involucradas en el ámbito educativo critican que la escuela tradicional tenga prácticas que entrañan una visión del aprendizaje que no responde a las necesidades de desarrollo integral del ser humano. Algunos investigadores se han cuestionado si la manera en que aprendemos a resolver un problema matemático tiene un “principio cognitivo” similar a la resolución de un problema práctico. </p>
                </div>
            </div>
        </div>
    </div>
    <div class=" container-fluid absoluto d-none d-md-block josh-js" data-josh-anim-name="fadeInUp">
      <div class="row color-fondo-objeto d-flex justify-content-center">
          <div class="col-4">
          <img class="img-fluid" alt="CCH" src="/img/bloque2/b2_01_01.png">
          </div>
      </div>
    </div>
    <div class="container my-3 josh-js" data-josh-anim-name="fadeInUp">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <p class="enfasis rosa text-center"> La tarea de la escuela del siglo XXI es fomentar el aprender a aprender, aprender a hacer y aprender a ser. </p>
          </div>
        </div>
    </div>
    <div class="bg-azul mt-3 mb-5 container-fluid josh-js" data-josh-anim-name="fadeInUp">
        <div class="container">
            <div class="p-2 text-white lead">
                <i class="fas fa-film"></i>
                &nbsp;&nbsp; Redes 87 - Observa el video de la serie Redes del canal TVE2 de España.</div>
        </div>
    </div>
    <div class="container josh-js" data-josh-anim-name="fadeInUp">
        <div class="row">
            <div class="col-lg-11 mx-auto">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/UlAs4wPtBEU" allowfullscreen="allowfullscreen"></iframe>
                </div>
                <div class="blockquote-footer">
                    Redes 87. El sistema educativo es anacrónico. TVE2 España. Fragmento del minuto 10:38 hasta 13:44. Recuperado de http://www.youtube.com/watch?v=UlAs4wPtBEU (julio, 2013).
                </div>
            </div>


        </div>
    </div>

    <div class="container mt-5  josh-js" data-josh-anim-name="fadeInUp">
        <div class="row">
            <div class="col-lg-11 mx-auto">
                <ul id="tabs1" role="tablist" class="nav nav-tabs nav-pills with-arrow lined flex-column flex-sm-row flex-nowrap text-center">
                    <li class="nav-item flex-sm-fill">
                        <a data-toggle="tab" href="#tab-1" role="tab" aria-selected="true" class="nav-link  mr-sm-3 rounded-0 active">¿Cuánto has aprendido? </a>
                    </li>
                    <li class="nav-item flex-sm-fill">
                        <a data-toggle="tab" href="#tab-2" role="tab" aria-selected="false" class="nav-link mr-sm-3 rounded-0">¿Cómo? </a>
                    </li>
                    <li class="nav-item flex-sm-fill">
                        <a data-toggle="tab" href="#tab-3" role="tab" aria-selected="false" class="nav-link rounded-0">¿En la escuela? </a>
                    </li>
                    <li class="nav-item flex-sm-fill">
                        <a data-toggle="tab" href="#tab-4" role="tab" aria-selected="false" class="nav-link rounded-0">¿En línea?  </a>
                    </li>
                    <li class="nav-item flex-sm-fill">
                        <a data-toggle="tab" href="#tab-5" role="tab" aria-selected="false" class="nav-link rounded-0">¿Para qué?  </a>
                    </li>
                </ul>
                <div id="tabs1Content" class="tab-content">
                    <div id="tab-1" role="tabpanel" aria-labelledby="home-tab" class="tab-pane fade px-4 py-5 show active">
                        <h3>¿Cuántas cosas has aprendido durante tu vida? </h3>
                        <p>En la vida, nunca dejamos de aprender, ya que como seres humanos en desarrollo estamos en un proceso continuo de cambio y adaptación. Aprender, es poner en juego tus capacidades y habilidades tanto psicomotoras como intelectuales para establecer nexos o relaciones entre un conocimiento nuevo y un conocimiento que ya has adquirido. Es un proceso dinámico que se va dando por fases; es decir, implica comprender, analizar, reflexionar, cuestionar, no sacar conclusiones rápidas y no establecer verdades absolutas, ya que esto limita la posibilidad de construir nuevos conocimientos.</p>
                        <p>Serás capaz de adquirir nuevos conocimientos por tu propia cuenta, es decir, te apropiarás de una autonomía congruente a tu edad. </p>
                    </div>
                    <div id="tab-2" role="tabpanel" aria-labelledby="profile-tab" class="tab-pane fade px-4 py-5">
                        <h3>¿Cómo se aprende? </h3>
                        <p>Aprendes desde que naces, a través de lo que te enseñan tus padres y la familia, a través de la experiencia, la motivación, los gustos personales y las emociones. Hay diversos métodos para abordar el conocimiento: la observación, el ensayo y el error, el análisis y la reflexión, la experiencia de lo vivido, la resolución de problemas, el aprendizaje por descubrimiento. Asimismo, puedes emplear tus propias estrategias de aprendizaje, técnicas y hábitos de estudio como organizar tu tiempo, aplicar lo aprendido, escuchar, entre otras cosas. </p>
                        <p>Desarrollarás habilidades, técnicas y procedimientos que te permitirán poner en práctica lo aprendido.</p>
                    </div>
                    <div id="tab-3" role="tabpanel" aria-labelledby="contact-tab" class="tab-pane fade px-4 py-5">
                        <h3>¿Se aprende diferente en la escuela? </h3>
                        <p>Sí porque en la escuela hay un guía, hay un programa, hay contenidos específicos y métodos para abordarlos; sin embargo, tú puedes incorporar tus propias estrategias mediante el aprendizaje autónomo, que es el proceso que da oportunidad al sujeto de ser creador de su propia formación como una decisión personal.</p>
                        <p>Hoy, la escuela se enfrenta a un reto y a la gran oportunidad de aprender de las tecnologías aplicadas a la enseñanza y el aprendizaje, esto tanto para tus profesores como para ti que ingresas en tiempos de pandemia a este nuevo sistema. Aprenderás en un modelo híbrido, es decir, en línea por ahora y eventualmente de modo presencial. Esto implicará el desarrollo de habilidades y capacidades al manejar diversas herramientas, pero no te angusties, el Colegio y tus profesores(as) te apoyarán para que tu aprendizaje sea duradero, significativo y puedas aplicarlo a tu vida cotidiana. </p>

                    </div>
                    <div id="tab-4" role="tabpanel" aria-labelledby="contact-tab" class="tab-pane fade px-4 py-5">
                        <h3>¿Se aprende diferente en la escuela que en línea? </h3>
                        <p>Sí, porque en la escuela estás de manera presencial en el salón de clases junto con tus compañeras y compañeros, el profesor o profesora funge como coordinador para tu aprendizaje, convives y participas de manera cercana, haces uso de las instalaciones, te puedes inscribir a actividades culturales y deportivas de tu plantel, entre otras. </p>
                        <p>En línea, te comunicas de otra manera, principalmente de modo escrito o a través de distintas plataformas (videollamada). Y aunque también cuentas con el acompañamiento de un maestro o maestra, tienes más libertad sobre cómo organizas tu tiempo. El aprendizaje en línea necesita de un manejo de herramientas y recursos específicos, y también puedes estar en contacto con tus compañeros desde cualquier dispositivo (celular, tableta o computadora).</p>
                        <p>El trabajo será colaborativo, tanto en la escuela como en línea, y estarás inmerso(a) en comunidades de aprendizaje.</p>
                        <p>Como cecehachero puedes echar mano de los recursos de la UNAM y del CCH como libros digitales, tutoriales, espacios virtuales, etc.</p>
                    </div>
                    <div id="tab-5" role="tabpanel" aria-labelledby="contact-tab" class="tab-pane fade px-4 py-5">
                        <h3>¿Para qué se aprende? </h3>
                        <p>Para que adquieras un desarrollo personal e intelectual que te lleve a resolver situaciones de la vida diaria y que a través de tu participación seas capaz de generar propuestas, cambios y nuevos conocimientos que te ayuden a transformar tu entorno. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-5 josh-js" data-josh-anim-name="fadeInUp">
        <hr data-content="-o-" class="hr-text mb-5">
        <p class="morado lead">El aprendizaje es el vínculo que hizo que el hombre lograra adaptarse a su realidad y luego fuese capaz de crear arte, ciencia y tecnología para comprenderlo mejor. Aprehender el mundo no es memorizar datos, es de cierta forma, inventarlo.</p>
    </div>
    <div class="container-fluid bg-rosa mt-5 responde josh-js" data-josh-anim-name="fadeInUp">
        <div class="container">
            <div class="responde-icon bg-rosa shadow text-white"><i class="far fa-2x fa-grin"></i></i></div>
            <h5 class="text-white font-weight-bold">
                &nbsp; Ahora responde...  </h5>
        </div>
    </div>
    <div class="container mt-3 josh-js" data-josh-anim-name="fadeInUp">
        <div class="row">
            <div class="col-md-11 offset-md-1">
                <p class="rosa font-weight-bold">Selecciona la opción que corresponda. No olvides enviar tus respuestas.</p>
            </div>
        </div>
    </div>
    <!--Insertar cuestionario aqui-->

    <div class="container josh-js" data-josh-anim-name="fadeInUp">
        <p class="enfasis text-center rosa">¿Sabes cuál es tu estilo de aprendizaje? Descúbrelo en la siguiente pantalla.</p>
    </div>

    {% if cuestionario2 == 0 %}
    <div class="container mt-5  josh-js" data-josh-anim-name="fadeInUp">
        <form id="b2_01" action="{{base_path()}}bloques/aprender/que-es-aprender" method="post" class="field">
            <div class="form-row">
                <label class="col-md-12">1. ¿Dónde has aprendido más en tu vida?</label>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="p1" id="p1Radio1" value="1" >
                        <label class="form-check-label" for="p1Radio1">La escuela</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="p1" id="p1Radio2" value="2">
                        <label class="form-check-label" for="p1Radio2">La casa</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="p1" id="p1Radio3" value="3">
                        <label class="form-check-label" for="p1Radio3">La calle (museos, saliendo con tus amigos, viajando...)</label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <label class="col-md-12">2. ¿Cómo has aprendido mejor?</label>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="p2" id="p2Radio1" value="1" >
                        <label class="form-check-label" for="p2Radio1">Teorizando</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="p2" id="p2Radio2" value="2">
                        <label class="form-check-label" for="p2Radio2">Practicando</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="p2" id="p2Radio3" value="3">
                        <label class="form-check-label" for="p2Radio3">Creando</label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <input type="submit" class="btn btn-large btn-primary" value="Enviar respuestas">
            </div>
        </form>
    </div>

    {% endif %}

    {% include 'partials/completado.twig' with {'bandera': cuestionario2} only %}


    <div class="container-fluid mt-5">
        <div class="row minh-100">
            <div class="col-12 ">
                <nav aria-label="Page navigation example">
                  <ul class="pagination pagination-lg flex-wrap justify-content-center">
                    <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/el-cch/asignaturas-areas"><i class="fas fa-angle-double-left"></i></a></li>
                    <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender"><i class="fas fa-level-up-alt"></i></a></li>
                    <li class="page-item active"><a class="page-link" href="{{base_path()}}bloques/aprender/que-es-aprender">1</a></li>
                    <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/estilos-de-aprendizaje">2</a></li>
                    <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/cuestionario-honey-alonso">3</a></li>
                    <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/estrategias-de-aprendizaje">4</a></li>
                    <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/tecnicas-de-estudio">5</a></li>
                    <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/busqueda-de-informacion">6</a></li>
                    <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/lectura">7</a></li>
                    <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/escritura">8</a></li>
                    <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/organizadores-graficos">9</a></li>
                    <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/habitos-de-estudio">10</a></li>
                    <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/estilos-de-aprendizaje"><i class="fas fa-angle-double-right"></i></a></li>
                  </ul>
                </nav>
            </div>
        </div>
    </div>

{% include 'partials/formError.twig' %}
{% endblock %}
