{% extends 'base/app-bloques.twig' %}

{% set page_title = 'Trabajo colaborativo' %}

{% block content %}

<div class="bg-morado py-2 container-fluid  josh-js" data-josh-anim-name="bounceInDown">
    <div class="container">
        <h2 class="titulo__pantalla">{{page_title}}</h2>
    </div>
</div>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="" href="{{base_path()}}bloques/tic-aprender">Tic para aprender</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{page_title}}</li>
        </ol>
    </nav>
</div>
    <div class=" container-fluid absoluto d-none d-md-block josh-js"  data-josh-anim-name="fadeInUp">

      <div class="row mt-5 color-fondo-objeto d-flex justify-content-center ">
          <div class="col-5">
            <img class="img-fluid" alt="CCH" src="/img/bloque4/b4_03_01.png">
          </div>
      </div>
    </div>
    <div class="container josh-js fadeInUp" data-josh-anim-name="fadeInUp">
        <div class="row mt-5">
            <div class="col-md-12">
                <h1>¿Cómo puedes trabajar de manera colaborativa en la red?</h1>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-md-10 mx-auto">
                <p>Aunque sabemos que utilizas las redes sociales para mantenerte en contacto con tus amigos, indicar en donde te encuentras, publicar fotos y acontecimientos personales importantes; también puedes aprovechar algunas de sus herramientas en beneficio de tu vida escolar. La creación de “Grupos” beneficia el trabajo colaborativo y es una de las actividades en las que las redes sociales te pueden ser muy útiles, por ejemplo, al realizar algún trabajo en equipo, para estudiar grupalmente o resolver dudas sobre alguna tarea. </p>
            </div>
        </div>
    </div>
    <div class="container-fluid josh-js"  data-josh-anim-name="fadeInUp">
        <div class="row mt-3">
            <div class="col-lg-4 offset-lg-1">
                <img class="img-fluid" alt="Redes sociales" src="/img/bloque4/b4_03_02.jpg">
            </div>
            <div class="col-lg-5 mt-5 bg-morado p-4">
                <p class="lead text-white">Además de las redes sociales, actualmente existen plataformas que poseen múltiples herramientas que te permiten estar en contacto con tus compañeros y profesores, y dar seguimiento a tu proceso de aprendizaje. A estas plataformas se les llama Learning Management System (LMS) o Sistemas de Manejo de Aprendizaje y cuentan con características similares pero varían en términos de funcionalidad, capacidad y diseño. Algunas de estas plataformas son gratuitas, mientras que otras son de pago; otras están enfocadas a un público académico y otras a nivel profesional. </p>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-rosa mb-5 josh-js"  data-josh-anim-name="fadeInUp">
        <div class="row">
            <div class="col-7 mx-auto">
                <div class="p-2 text-white lead">
                     El Colegio actualmente trabaja con estas dos opciones:
                </div>
            </div>
        </div>
    </div>

 <div class="container-fluid josh-js"  data-josh-anim-name="fadeInUp">
        <div class="row justify-content-around">
            <div class="col-md-5">
                <p class="lead">Aulas virtuales</p>
                <div class="row mt-4">
                    <div class="col-md-3">
                        <img class="img-fluid" alt="Trabajo colaborativo" src="/img/bloque4/b4_03_03.jpg">
                    </div>
                    <div class="col-md-9">
                        <p>Como alumn@ del CCH al obtener tu correo institucional, uno de los recursos al que tienes acceso son las Aulas Virtuales a través de la herramienta de Microsoft Teams (parte de suite Microsoft 365). En ésta puedes comunicarte y trabajar con tus compañeros y profesores por mensaje de texto, llamadas, videollamadas, programar reuniones, crear equipos para las clases y compartir contenido, entre otras cosas.  </p>
                        <p class="rosa font-weight-bold">Para que sepas más al respecto visita <a href="https://www.cch.unam.mx/aulas-virtuales" target="_blank">https://www.cch.unam.mx/aulas-virtuales</a> o revisa el <a href="https://herramientastic.cch.unam.mx/" target="_blank">Tutorial de herramientas TIC para el aprendizaje.</a> </p>
                    </div>
                </div>
            </div>
             <div class="col-md-5">
                <p class="lead">Moodle Colegio</p>
                <div class="row mt-4">
                    <div class="col-md-3">
                        <img class="img-fluid" alt="Trabajo colaborativo" src="/img/bloque4/b4_03_04.jpg">
                    </div>
                    <div class="col-md-9">
                        <p>Este es un espacio del Colegio de Ciencias y Humanidades, que está alojado dentro del Portal Académico del CCH, en donde tus profesores abren cursos en línea de las diferentes asignaturas que cursarás, con el propósito de apoyar tu proceso de aprendizaje.   </p>
                        <p class="rosa font-weight-bold">Visita <a href="https://portalacademico.cch.unam.mx/moodle" target="_blank">Moodle Colegio</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="dotted">


    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-8 mx-auto">

                <div class="blockquote blockquote-custom p-5 effect-1 rounded">
                    <div class="blockquote-custom-icon bg-azul shadow-sm text-white">
                        <i class="far fa-2x fa-grin-stars"></i>
                    </i>
                </div>

                <div class="row">
                    <div class="col-lg-11 mx-auto">
                        <h1 class="morado">Otras plataformas que puedes utilizar son: </h1>
                        <div class="pl-3">
                            <hr class="dotted">
                            <div class="row align-items-center mt-4">
                                <div class="col-md-2">
                                    <img class="img-fluid" alt="Trabajo colaborativo" src="/img/bloque4/b4_03_05.jpg">
                                </div>
                                <div class="col-md-8 offset-md-2">
                                <p class="lead">
                                <a href="https://classroom.google.com/" target="_blank">Google Classroom</a></p>
                                <p class="lead">
                                <a href="https://support.google.com/edu/classroom/answer/6072460?hl=es&co=GENIE.Platform%3DDesktop" target="_blank">Iniciar sesión en Classroom</a></p>
                                </div>
                                </div>
                                <div class="row align-items-center  mt-4">
                                    <div class="col-md-2 align-items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="#404EED" d="M524.531,69.836a1.5,1.5,0,0,0-.764-.7A485.065,485.065,0,0,0,404.081,32.03a1.816,1.816,0,0,0-1.923.91,337.461,337.461,0,0,0-14.9,30.6,447.848,447.848,0,0,0-134.426,0,309.541,309.541,0,0,0-15.135-30.6,1.89,1.89,0,0,0-1.924-.91A483.689,483.689,0,0,0,116.085,69.137a1.712,1.712,0,0,0-.788.676C39.068,183.651,18.186,294.69,28.43,404.354a2.016,2.016,0,0,0,.765,1.375A487.666,487.666,0,0,0,176.02,479.918a1.9,1.9,0,0,0,2.063-.676A348.2,348.2,0,0,0,208.12,430.4a1.86,1.86,0,0,0-1.019-2.588,321.173,321.173,0,0,1-45.868-21.853,1.885,1.885,0,0,1-.185-3.126c3.082-2.309,6.166-4.711,9.109-7.137a1.819,1.819,0,0,1,1.9-.256c96.229,43.917,200.41,43.917,295.5,0a1.812,1.812,0,0,1,1.924.233c2.944,2.426,6.027,4.851,9.132,7.16a1.884,1.884,0,0,1-.162,3.126,301.407,301.407,0,0,1-45.89,21.83,1.875,1.875,0,0,0-1,2.611,391.055,391.055,0,0,0,30.014,48.815,1.864,1.864,0,0,0,2.063.7A486.048,486.048,0,0,0,610.7,405.729a1.882,1.882,0,0,0,.765-1.352C623.729,277.594,590.933,167.465,524.531,69.836ZM222.491,337.58c-28.972,0-52.844-26.587-52.844-59.239S193.056,219.1,222.491,219.1c29.665,0,53.306,26.82,52.843,59.239C275.334,310.993,251.924,337.58,222.491,337.58Zm195.38,0c-28.971,0-52.843-26.587-52.843-59.239S388.437,219.1,417.871,219.1c29.667,0,53.307,26.82,52.844,59.239C470.715,310.993,447.538,337.58,417.871,337.58Z"/></svg>
                                    </div>
                                    <div class="col-md-5 offset-md-2">
                                <p class="lead">
                                    <a href="https://discord.com/" target="_blank">Discord</a></p>
                                    </div>
                                    </div>
                                    <div class="row align-items-center mt-4">
                                        <div class="col-md-4">
                                            <img class="img-fluid" alt="Trabajo colaborativo" src="/img/bloque4/b4_03_07.jpg">
                                        </div>
                                        <div class="col-md-5">
                                <p class="lead">
                                    <a href="https://screencast-o-matic.com/home" target="_blank">ScreencastMatic</a></p>
                                    </div>
                                    </div>
                            </div>
                            <hr class="dotted">
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-5 mb-5 josh-js"  data-josh-anim-name="fadeInUp">
            <div class="col-md-12">
                <p class="lead rosa text-center">Recuerda que sea cual sea la plataforma que utilices el propósito es el mismo, socializar el conocimiento con tus compañeros y profesores con la finalidad de formar redes de apoyo para tu aprendizaje.</p>

            </div>
        </div>
    </div>


    <div class="container-fluid mb-5 mt-5 josh-js"  data-josh-anim-name="fadeInUp">
        <div class="row">
            <div class="col-lg-12">
                <div class="blockquote blockquote-custom bg-warning p-3 effect-1 rounded text-center">
                    <i class="fas fa-list-alt fa-2x"></i>
                    <span class="lead font-weight-bold">Para finalizar es muy importante que respondas el <a href="{{base_path()}}cuestionario">Cuestionario de opinión </a>. Muchas gracias.
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div class="row minh-100">
            <div class="col-12 ">
                <nav aria-label="Page navigation example">
                  <ul class="pagination pagination-lg flex-wrap justify-content-center">
                    <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/tic-aprender/almacenar-informacion"><i class="fas fa-angle-double-left"></i></a></li>
                    <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/tic-aprender"><i class="fas fa-level-up-alt"></i></a></li>
                    <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/tic-aprender/que-son-las-tic">1</a></li>
                    <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/tic-aprender/almacenar-informacion">2</a></li>
                    <li class="page-item active"><a class="page-link" href="{{base_path()}}bloques/tic-aprender/trabajo-colaborativo">3</a></li>
                  </ul>
                </nav>
            </div>
        </div>
    </div>


{% endblock %}
