{% extends 'base/app-bloques.twig' %}

{% set page_title = 'Las TIC' %}

{% block content %}

    <!--<div class="bg-morado container-fluid py-3 josh-js" data-josh-anim-name="bounceInDown">
        <div class="row">
            <div class="col-lg-4 d-md-none d-lg-block d-none d-sm-block d-sm-none d-md-block">
                <img class="img-fluid" alt="" src="/img/bloque4/bloquecuatro-int.png">
            </div>
            <div class="col-lg-7 col-md-12 mt-5">
                <h2 class="titulobloque">Las TIC para aprender</h2>
                <div class="proposito mt-3"> Además de los recursos de internet que te ofrece el Colegio de Ciencias y Humanidades, existen muchos otros que facilitan tu aprendizaje,  pues te ayudan a buscar información, almacenarla y compartirla,  así como  a estar en contacto con tus profesores y compañeros.</div>
                <ul class="preguntas mt-5 mb-5">
                    <li>
                        <i class="fas fa-long-arrow-alt-right "></i>
                        &nbsp;&nbsp; ¿Cómo aprovechar las redes sociales para tu aprendizaje?</li>
                    <li>
                        <i class="fas fa-long-arrow-alt-right"></i>
                        &nbsp;&nbsp; ¿Dónde puedes almacenar información en línea?</li>
                    <li>
                        <i class="fas fa-long-arrow-alt-right "></i>
                        &nbsp;&nbsp; ¿Qué recursos en internet te ayudan? </li>
                </ul>

            </div>
        </div>
        <div class="container text-center">
            <div class="enfasis text-white">Descúbrelo a continuación...</div>
        </div>
    </div>
-->
<div class="bg-morado py-2 container-fluid  josh-js" data-josh-anim-name="bounceInDown">
    <div class="container">
        <h2 class="titulo__pantalla">{{page_title}}</h2>
    </div>
</div>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="" href="{{base_path()}}bloques/tic-aprender">Tic para aprender</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{page_title}}</li>
        </ol>
    </nav>
</div>
    <div class="container-fluid josh-js" data-josh-anim-name="fadeInUp">


        <div class="row justify-content-around">
                <div class="col-12 col-md-5">
                  <h1>¿Qué son las TIC?</h1>

                        <p>Las Tecnologías de la Información y la Comunicación (TIC) son todos aquellos recursos, herramientas y programas que se utilizan para procesar, administrar y compartir la información mediante diversos soportes tecnológicos, tales como: computadoras, teléfonos móviles, televisores, reproductores portátiles de audio y video o consolas de juego.</p>
                        <p>Las tecnologías de la información ofrecen servicios como: correo electrónico, búsqueda de información, banca online, descarga de música y cine, comercio electrónico, etc. Por esta razón las TIC han incursionado fácilmente en diversos ámbitos de la vida, entre ellos, el de la educación.</p>
                        <p class="lead rosa">A continuación se presentan algunos de los usos que puedes hacer de estos recursos dentro y fuera del CCH para mejorar tu aprendizaje.</p>

                </div>
                    <div class="col-12 col-md-5">
                        <!-- CUSTOM BLOCKQUOTE -->
                        <div class="blockquote blockquote-custom p-5 effect-1 rounded mt-5">
                            <div class="blockquote-custom-icon bg-azul shadow-sm text-white">
                                <i class="far fa-2x fa-grin-stars" aria-hidden="true"></i>

                            </div>

                            <div class="row mt-2">
                                <div class="col-lg-12">
                                    <h1 class="azul">Redes oficiales del CCH</h1>
                                    <p class="mt-2"><a target="_blank " href="http://www.cch.unam.mx/">Sitio oficial del CCH</a></p>
                                    <p><a target="_blank " href="https://www.facebook.com/CCH.UNAM.Oficial/">Facebook</a></p>
                                    <p><a target="_blank " href="https://twitter.com/cchunam">Twitter</a></p>
                                    <p><a target="_blank " href="https://www.facebook.com/portalacademico">Facebook Portal Académico</a></p>
                                </div>
                            </div>

                        </div>
                    <!-- END -->
                    </div>

                </div>


    </div>
    <div class=" container-fluid absoluto d-none d-md-block josh-js" data-josh-anim-name="fadeInUp">
      <div class="row color-fondo-objeto d-flex justify-content-center">
          <div class="col-4">
          <img class="img-fluid" alt="CCH" src="/img/bloque4/b4_01_01.png">
          </div>
      </div>
    </div>
<div class="container-fluid josh-js" data-josh-anim-name="fadeInUp">
    <div class="row">
        <div class="col-lg-12">
            <p class="enfasis rosa text-center"> ¿Cómo aprovechar las tecnologías para aprender dentro de la UNAM? </p>
        </div>
    </div>
</div>
    <div class="container my-3 josh-js" data-josh-anim-name="fadeInUp">
        <div class="row">
          <div class="col-lg-11 mx-auto">

            <p>La Universidad te ofrece una serie de recursos tecnológicos que permiten mejorar tus experiencias de aprendizaje. El correo institucional <strong>@alumno.cch.unam.mx</strong> es uno de éstos, por lo que se te recomienda utilizarlo para que obtengas los mayores beneficios posibles, entre los que están:</p>
            <div class="paso-paso">
                <ol>
                    <li><h1 class="morado">Recibir información académica y de becas</h1></li>
                    <li><h1 class="morado">Tener libre acceso a internet</h1> Ya sea con tu teléfono, <em>tablet</em> o portátil, en los distintos campus de la UNAM.  Para esto es necesario que te des de alta en <a class="b4" target="_blank" href="http://www.riu.unam.mx/">www.riu.unam.mx</a>. Para saber cómo hacerlo revisa el <a target="_blank" href="/doc/obtener-cuenta-riu-2022.pdf">manual.</a></li>
                    <li><h1 class="morado">Almacenar hasta un Terabyte de información</h1> </li>
                    <li><h1 class="morado">Tener acceso a la Paquetería de Office 365</h1> Para generar y editar archivos en línea. Para saber cómo descargarla revisa la siguiente <a target="_blank" href="https://support.microsoft.com/es-es/office/descargar-e-instalar-o-reinstalar-microsoft-365-u-office-2021-en-un-equipo-pc-o-mac-4414eaaf-0478-48be-9c42-23adc4716658?ui=es-es&rs=es-es&ad=es#InstallSteps=Instalar_en_un_PC">información</a>.</li>
                </ol>
            </div>
          </div>
        </div>
    </div>
    <div class="bg-morado mt-5 mb-5 container-fluid josh-js" data-josh-anim-name="fadeInUp">
        <div class="container">
            <div class="p-2 text-white lead text-center">
                <i class="fas fa-link" aria-hidden="true"></i>
                &nbsp;&nbsp; Para que sepas cómo obtener tu correo institucional ingresa a la siguiente <a href="https://cch.unam.mx/correoinstitucional" target="_blank">liga</a>.
            </div>
        </div>
    </div>
<!--     <div class="container josh-js" data-josh-anim-name="fadeInUp">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lDZ4r4peusg" allowfullscreen="allowfullscreen"></iframe>
            </div>
        </div>

    </div>
</div>
 -->



<div class="container-fluid mt-5 d-none d-md-block josh-js" data-josh-anim-name="fadeInUp">
    <div class="row">
        <div class="col-lg-10 mx-auto">

            <!-- CUSTOM BLOCKQUOTE -->
            <div class="blockquote blockquote-custom p-5 effect-1 rounded">
                <div class="blockquote-custom-icon bg-azul shadow-sm text-white"><i class="far fa-2x fa-grin-stars"></i></i></div>

                <div class="row align-items-center">
                  <div class="col-lg-6">
                    <h1 class="azul">Sitios de interés</h1>
                      <div class="pl-3 lead">
                        <p><a class="b4" target="_blank " href="http://www.revistas.unam.mx/front/">Revistas UNAM</a> - En él encontrarás una lista con ligas sobre todas aquellas revistas que la UNAM publica, podrás encontrar información confiable sobre cualquier área del conocimiento.</p>
                        <p><a class="b4" target="_blank " href="http://dgb.unam.mx/">Dirección General de Bibliotecas</a> Aquí encontrarás un catálogo extenso en libros, bases de datos, tesis, artículos en revistas y mapas que te ayudarán a encontrar la información que necesitas para tus tareas.</p>
                        <p><a class="b4" target="_blank " href="http://www.dgdc.unam.mx/">Dirección General de Divulgación de la Ciencia  de la UNAM</a> - Con información y ligas acerca de distintos museos, actividades y proyectos científicos que promueve la Universidad.</p>
                        <p><a class="b4" target="_blank " href="http://www.descargacultura.unam.mx/">Descarga Cultura UNAM</a> - Es el podcast de la Universidad, puedes descargar poemas, ensayos, cuentos, conferencias, música y teatro.</p>

                      </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="pl-3 lead">
                      <p><a class="b4" target="_blank " href="https://cultura.unam.mx/">Cultura UNAM</a> - Sitio en el que puedes encontrar ofertas culturales  y artísticas que se desarrollan en la Universidad.</p>
                      <p><a class="b4" target="_blank " href="https://portalacademico.cch.unam.mx/alumno">Portal Académico Alumno</a> - En él encontrarás objetos de aprendizaje y recursos para apoyarte en tu paso por el CCH.</p>
                      <p><a class="b4" target="_blank " href="https://uapas.bunam.unam.mx/">Unidades de Apoyo para el Aprendizaje de nivel Medio Superior</a> - Es un proyecto educativo abierto donde encontrarás contenidos fundamentales para aprender o repasar de manera independiente algunos temas de áreas de conocimiento diversas.</p>
                      <p><a class="b4" target="_blank " href="https://www.rua.unam.mx/portal/plan/index/69806">Red Universitaria de Aprendizaje</a> - es un repositorio que contiene diferentes recursos como interactivos, textos, videos, contenidos multimedia y mucho más.</p>
                    </div>
                  </div>
                </div>

            </div><!-- END -->

        </div>
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="row minh-100">
        <div class="col-12 ">
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-lg flex-wrap justify-content-center">
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/recursos/idiomas"><i class="fas fa-angle-double-left"></i></a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/tic-aprender"><i class="fas fa-level-up-alt"></i></a></li>
                <li class="page-item active"><a class="page-link" href="{{base_path()}}bloques/tic-aprender/que-son-las-tic">1</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/tic-aprender/almacenar-informacion">2</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/tic-aprender/trabajo-colaborativo">3</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/tic-aprender/almacenar-informacion"><i class="fas fa-angle-double-right"></i></a></li>
              </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}
