{% extends 'base/app-bloques.twig' %}

{% set page_title = 'Asignaturas y áreas' %}

{% block content %}

<div class="bg-azul py-2 container-fluid  josh-js" data-josh-anim-name="bounceInDown">
    <div class="container">
        <h2 class="titulo__pantalla">{{page_title}}</h2>
    </div>
</div>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="" href="{{base_path()}}bloques/el-cch">El CCH y su modelo educativo</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{page_title}}</li>
        </ol>
    </nav>
</div>
    <div class="container josh-js" data-josh-anim-name="fadeInUp">
        <div class="row mt-5">
            <div class="col-md-12">
                <h1>¿Qué asignaturas vas a cursar en el CCH?</h1>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-10 mx-auto">
                <p>Las asignaturas que debes cursar a lo largo de tu estancia en el CCH están organizadas en el
                    <a href="https://www.cch.unam.mx/plandeestudios" target="_blank">Plan de Estudios</a>, en este documento encontrarás la descripción de los contenidos que se estudiarán cada semestre, así como los objetivos, tiempos y la organización de las mismas. El Plan de Estudios está compuesto por programas y áreas.</p>
                <p>Los
                    <span class="font-weight-bold">programas</span>
                    son la guía y base de la enseñanza de los profesores y son orientaciones con las que podrás conocer las metas por alcanzar y el camino que tendrás que recorrer, es decir, son instrumentos básicos de la organización de tu aprendizaje. Otro aspecto que
                    debes saber es que con base en éstos cada profesor plantea sus formas de evaluación; así desde el inicio del ciclo escolar puedes conocer los elementos que se consideran para evaluar tu aprendizaje y la acreditación del curso.</p>
            </div>
        </div>
        </div>
        <div class="container josh-js" data-josh-anim-name="fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="rosa">¿Cómo se agrupan y se encuentran distribuidas las asignaturas que cursarás en el CCH?</h3>
            </div>
        </div>
        <div class="row mt-3 mb-5">
            <div class="col-md-10 mx-auto">
                <div class="row">
                    <div class="col-md-7 mt-4">
                        <p>Las asignaturas que cursarás durante los tres años de estancia en el CCH se encuentran distribuidas en seis semestres de la siguiente forma:</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Para el <strong>primero</strong> y <strong>segundo</strong> semestre cursarás seis asignaturas obligatorias en cada uno de ellos.</li>
                            <li class="list-group-item">Para <strong>tercer</strong> y <strong>cuarto</strong> semestre también estudiarás seis asignaturas obligatorias en cada uno de ellos.</li>
                            <li class="list-group-item">Para <strong>quinto</strong> y <strong>sexto</strong> llevarás siete asignaturas por cada uno de los semestres, las cuales podrás elegir de acuerdo a tus intereses profesionales.</li>
                        </ul>
                </div>
                <div class="col-md-5">
                    <img class="img-fluid" alt="CCH" src="/img/bloque1/b1_03_01.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-rosa mb-5  josh-js" data-josh-anim-name="fadeInUp">
    <div class="row">
        <div class="col-8 mx-auto">
            <div class="p-2 text-white lead">
                <i class="fas fa-external-link-alt"></i>
                &nbsp;&nbsp; Las materias de primero a sexto semestre las puedes visualizar en la siguiente dirección:
                <a href="https://www.cch.unam.mx/programasestudio" target="_blank">Programas de Estudio 2016.</a>
            </div>
        </div>
    </div>
</div>
<div class="container josh-js" data-josh-anim-name="fadeInUp">
    <div class="row mt-5">
        <div class="col-md-12">
            <h3 class="rosa">A su vez las asignaturas se agrupan en cuatro ÁREAS DE CONOCIMIENTO:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="accordion mt-4" id="acordeon1">
                <div class="card">
                    <div class="card-header" id="headingOne">

                        <a class=" text-left" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapseOne">
                            Área de Talleres
                        </a>

                    </div>

                    <div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#acordeon1">
                        <div class="card-body">
                            <p>El propósito de esta área es que desarrolles cuatro habilidades: escribir, hablar, escuchar y leer. Busca impulsar el uso de la lengua materna y de una extranjera (inglés o francés) como instrumento de comunicación, desarrollando la habilidad para
                                que te expreses oralmente y por escrito. También puedes adquirir los conocimientos relacionados con la investigación documental y de campo.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <a class="collapsed" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapseTwo">
                                Área de Matemáticas
                            </a>
                        </h2>
                    </div>
                    <div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#acordeon1">
                        <div class="card-body">
                            <p>Esta área tiene como finalidad incrementar tus capacidades de razonamiento, análisis y abstracción, pues trabajarás con conceptos y procedimientos que surgen de situaciones diversas en tu entorno. Esta área también contempla el uso y enseñanza de
                                las nuevas tecnologías a través del manejo de programas de cómputo.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <a class="collapsed" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapseThree">
                                Área de Ciencias Experimentales
                            </a>
                        </h2>
                    </div>
                    <div id="collapse3" class="collapse" aria-labelledby="headingThree" data-parent="#acordeon1">
                        <div class="card-body">
                            <p>En esta área cursarás materias como Química, Física, Biología; las cuales buscan dotarte de conocimientos, habilidades y actitudes fundados en la ciencia y en los valores humanos, dar explicaciones de los sucesos que pasan en el mundo basadas en
                                el conocimiento científico, así como el que los pongas en práctica en tu vida cotidiana.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h2 class="mb-0">
                            <a class="collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapseFour">
                                Área Histórico-Social
                            </a>
                        </h2>
                    </div>
                    <div id="collapse4" class="collapse" aria-labelledby="headingFour" data-parent="#acordeon1">
                        <div class="card-body">
                            <p>Esta área tiene como finalidad que adquieras los conocimientos y las habilidades que te preparan para analizar, reflexionar y problematizar los fenómenos sociales, económicos, políticos y culturales de la humanidad. Así obtendrás una formación
                                crítica y propositiva para la transformación de la realidad social.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5 morado lead">
            El Colegio busca formar un tipo de alumno capaz, creativo, autónomo, que tenga la posibilidad de crear y echar mano de sus propias estrategias de aprendizaje, que analice, reflexione y sobre todo, que tenga una mente abierta al cambio, encontrando sentido a su quehacer y ser.
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-rosa mt-5 responde  josh-js" data-josh-anim-name="fadeInUp">
    <div class="container">
    <div class="responde-icon bg-rosa shadow text-white"><i class="far fa-2x fa-grin"></i></i></div>
    <h5 class="text-white font-weight-bold">
         &nbsp; Ahora responde...  </h5>
    </div>
</div>
<div class="container mt-3 josh-js" data-josh-anim-name="fadeInUp">
    <div class="row">
        <div class="col-md-11 offset-md-1">
            <p class="rosa font-weight-bold">Selecciona la opción que corresponda. No olvides enviar tus respuestas.</p>
        </div>
    </div>
</div>
<!-- CUESTIONARIO INICIO -->

{% if cuestionario1 == 0 %}
<div class="container mt-5  josh-js" data-josh-anim-name="fadeInUp">
    <form id="areas" action="{{base_path()}}bloques/el-cch/asignaturas-areas" method="post" class="field">
        <div class="form-row">
            <label class="col-md-12">1. ¿Cuál es tu área favorita?</label>
            <div class="form-group">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="p1" id="p1Radio1" value="1" required>
                    <label class="form-check-label" for="p1Radio1">Talleres</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="p1" id="p1Radio2" value="2">
                    <label class="form-check-label" for="p1Radio2">Ciencias Experimentales</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="p1" id="p1Radio3" value="3">
                    <label class="form-check-label" for="p1Radio3">Histórico Social</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="p1" id="p1Radio4" value="4">
                    <label class="form-check-label" for="p1Radio4">Matemáticas</label>
                </div>
            </div>
        </div>

        <div class="form-row">
            <label class="col-md-12">2. ¿En qué área (asignaturas) has obtenido mejores resultados?</label>
            <div class="form-group">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="p2" id="p2Radio1" value="1" required>
                    <label class="form-check-label" for="p2Radio1">Talleres (Español)</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="p2" id="p2Radio2" value="2">
                    <label class="form-check-label" for="p2Radio2">Ciencias Experimentales (Química, Física, Biología)</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="p2" id="p2Radio3" value="3">
                    <label class="form-check-label" for="p2Radio3">Histórico Social (Historia, Civismo, Geografía) </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="p2" id="p2Radio4" value="4">
                    <label class="form-check-label" for="p2Radio4">Matemáticas</label>
                </div>
            </div>
        </div>

        <div class="aire"></div>
        <div class="form-row">
            <label class="col-md-12">3. ¿Cuál es el área que menos te gusta?</label>
            <div class="form-group">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="p3" id="p3Radio1" value="1" required>
                    <label class="form-check-label" for="p3Radio1">Talleres</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="p3" id="p3Radio2" value="2">
                    <label class="form-check-label" for="p3Radio2">Ciencias Experimentales</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="p3" id="p3Radio3" value="3">
                    <label class="form-check-label" for="p3Radio3">Histórico Social</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="p3" id="p3Radio4" value="4">
                    <label class="form-check-label" for="p3Radio4">Matemáticas</label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <input type="submit" class="btn btn-large btn-primary" value="Enviar respuestas">
        </div>
    </form>
</div>
{% endif %}

{% include 'partials/completado.twig' with {'bandera': cuestionario1} only %}

<!-- CUESTIONARIO FIN -->
<div class="container-fluid mt-5">
    <div class="row minh-100">
        <div class="col-12 ">
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-lg flex-wrap justify-content-center">
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/el-cch/modelo-educativo"><i class="fas fa-angle-double-left"></i></a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/el-cch"><i class="fas fa-level-up-alt"></i></a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/el-cch/que-es-el-cch">1</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/el-cch/modelo-educativo">2</a></li>
                <li class="page-item active"><a class="page-link" href="{{base_path()}}bloques/el-cch/asignaturas-areas">3</a></li>
                <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/aprender/que-es-aprender"><i class="fas fa-angle-double-right"></i></a></li>
              </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}
