{% extends 'base/app-bloques.twig' %}

{% set page_title = 'Modelo educativo' %}

{% block content %}
<div class="bg-azul py-2 container-fluid  josh-js" data-josh-anim-name="bounceInDown">
    <div class="container">
        <h2 class="titulo__pantalla">{{page_title}}</h2>
    </div>
</div>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="" href="{{base_path()}}bloques/el-cch">El CCH y su modelo educativo</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{page_title}}</li>
        </ol>
    </nav>
</div>


    <div class="container josh-js" data-josh-anim-name="fadeInUp">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <img src="/img/bloque1/b1_02_01.jpg" alt="cch edificios" class="img-fluid">
            </div>
        </div>
    </div>
    <div class="my-5 container-fluid  josh-js" data-josh-anim-name="fadeInUp">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <div class="row justify-content-around">
                    <div class="col-md-5">
                        <h3 class="bg-rosa p-3 text-light text-center">¿Qué modelo de enseñanza-aprendizaje te ofrece el CCH? </h3>
                        <p class="px-2 mt-3">El CCH te brinda la oportunidad de que participes activamente en tu proceso educativo bajo la guía del profesor. De esta manera, el profesor no sólo es el transmisor de conocimientos, sino un compañero corresponsable que propone experiencias de aprendizaje que te permitirán adquirir nuevos conocimientos y tomar conciencia de cómo proceder para alcanzarlos por tu propia cuenta.
                        </p>
                    </div>
                    <div class="col-md-5">
                        <h3 class="bg-rosa p-3 text-light text-center">¿Cómo vas a construir tu propio conocimiento en el CCH? </h3>
                        <p class="px-2">Desde su origen, el CCH adoptó los principios de una educación donde te considera A TI ALUMNO como un individuo capaz de construir tu propio conocimiento y aplicarlo a tu vida cotidiana. </p>
                        <p class="px-2 mt-3">El Colegio está comprometido en ofrecerte una formación crítica en la que aprenderás a <span class="rosa">aprender,</span> a <span class="rosa">hacer</span> y a <span class="rosa">ser.</span> </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="bg-rosa text-white text-center d-flex container-fluid  josh-js" data-josh-anim-name="fadeInUp">
        <div class="container p-3">
            <div class=" text-white lead">Da clic en el fichero para ver más información:</div>
            <div class="text-white d-none d-xl-block mt-3"><i aria-hidden="true" class=" far fa-2x fa-arrow-alt-circle-down"></i></div>
        </div>
    </div>
    <div class="container mt-5  josh-js" data-josh-anim-name="fadeInUp">

        <div class="row">
            <div class="col-lg-10 mx-auto">
                <ul id="tabs1" role="tablist" class="nav nav-tabs nav-pills with-arrow lined flex-column flex-sm-row text-center">
                    <li class="nav-item flex-sm-fill">
                        <a data-toggle="tab" href="#tab-1" role="tab" aria-selected="true" class="nav-link  mr-sm-3 rounded-0 active">Aprender a aprender</a>
                    </li>
                    <li class="nav-item flex-sm-fill">
                        <a data-toggle="tab" href="#tab-2" role="tab" aria-selected="false" class="nav-link mr-sm-3 rounded-0">Aprender a hacer</a>
                    </li>
                    <li class="nav-item flex-sm-fill">
                        <a data-toggle="tab" href="#tab-3" role="tab" aria-selected="false" class="nav-link rounded-0">Aprender a ser</a>
                    </li>
                </ul>
                <div id="tabs1Content" class="tab-content">
                    <div id="tab-1" role="tabpanel" aria-labelledby="home-tab" class="tab-pane fade px-4 py-5 show active">
                        <p>Serás capaz de adquirir nuevos conocimientos por tu propia cuenta, es decir, desarrollarás una autonomía congruente a tu edad. </p>
                        <div class="row">
                          <div class="col-lg-8 mx-auto">
                              <div class="bg-morado font-italic text-white pl-5 py-3 pr-2">
                                  Imagina que tu profesor te pide que desarrolles el tema de procesador de textos en el Taller de Cómputo ¿qué y cómo lo harías? Seguramente comenzarías buscando información en internet o en algunos libros; quizá estos primeros acercamientos al tema podrías discutirlos con tus compañeros (trabajo colaborativo). Después de esta socialización de conocimiento harías un resumen, una síntesis o un ensayo para entregarlo al profesor y finalmente te apoyarías en un dibujo o en una presentación digital, para exponer el tema frente a grupo.</p>
                              </div>
                          </div>
                        </div>


                    </div>
                    <div id="tab-2" role="tabpanel" aria-labelledby="profile-tab" class="tab-pane fade px-4 py-5">
                        <p>Desarrollarás habilidades, técnicas y procedimientos que te permitirán poner en práctica lo aprendido.</p>
                        <div class="row">
                          <div class="col-lg-8 mx-auto">
                              <div class="bg-morado font-italic text-white pl-5 py-3 pr-2">
                                  Ahora supón que el maestro de Biología te dejó de tarea desarrollar el tema de la célula, ¿qué haces? Primero investigarás sobre el tema, y para la elaboración de tu trabajo, podrás poner en práctica lo aprendido sobre el procesador de textos, pues ahora contarás con los conocimientos necesarios para poder aplicarlos en la integración de imágenes e información, y así entregar un trabajo con una buena presentación.</p>
                              </div>
                          </div>
                        </div>
                    </div>
                    <div id="tab-3" role="tabpanel" aria-labelledby="contact-tab" class="tab-pane fade px-4 py-5">
                        <p>Desarrollarás, además de los conocimientos científicos e intelectuales, valores humanos particularmente éticos, cívicos y de sensibilidad artística. </p>
                        <div class="row">
                          <div class="col-lg-8 mx-auto">
                              <div class="bg-morado font-italic text-white pl-5 py-3 pr-2">
                                  Ahora, después de investigar y aprender sobre el uso del procesador de textos, valorarás la importancia de realizar un documento inédito, el cual podrás compartir con el resto de tus compañeros, resaltando el valor de respetar los derechos de autor, así como la importancia que tiene el hacer uso del procesador como apoyo a todas tus asignaturas.</p>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container  josh-js" data-josh-anim-name="fadeInUp">
        <div class="row">
            <div class="col-lg-10 mx-auto">

                <!-- CUSTOM BLOCKQUOTE -->
                <div class="blockquote blockquote-custom p-5 effect-1 rounded">
                    <div class="blockquote-custom-icon bg-azul shadow-sm text-white"><i class="far fa-2x fa-grin-stars"></i></i></div>

                    <div class="row">
                      <div class="col-lg-8">
                        <h1 class="azul">Saber más...</h1>
                          <div class="pl-3">
                              <p><i class="fas fa-film azul"></i> Video de bienvenida</p>
                              <hr class="dotted">
                              <p><a href="https://www.cch.unam.mx/bienvenida2024" target="_blank">Mensaje de bienvenida a la generación 2024 por el Dr. Benjamín Barajas Sánchez</a></p>
                              <p><a href="https://www.youtube.com/watch?v=iEgxAUqhK5c" target="_blank">Mensaje del rector Enrique Graue - Bienvenida al ciclo escolar 2023-2024</a></p>
                          </div>
                      </div>
                      <div class="col-lg-4">
                        <img src="/img/bloque1/b1_02_03.png" alt="cch alumna" class="img-fluid">
                      </div>
                    </div>

                </div><!-- END -->

            </div>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div class="row minh-100">
            <div class="col-12 ">
                <nav aria-label="Page navigation example">
                  <ul class="pagination pagination-lg flex-wrap justify-content-center">
                    <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/el-cch/que-es-el-cch"><i class="fas fa-angle-double-left"></i></a></li>
                    <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/el-cch"><i class="fas fa-level-up-alt"></i></a></li>
                    <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/el-cch/que-es-el-cch">1</a></li>
                    <li class="page-item active"><a class="page-link" href="{{base_path()}}bloques/el-cch/modelo-educativo">2</a></li>
                    <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/el-cch/asignaturas-areas">3</a></li>
                    <li class="page-item"><a class="page-link" href="{{base_path()}}bloques/el-cch/asignaturas-areas"><i class="fas fa-angle-double-right"></i></a></li>
                  </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
